@import "compass/css3";

.hummingbird-footer {
  .footer-ad {
    text-align: center;
    margin-top: 20px;
  }

  .history-bar {
    background: white;
    padding-bottom: 20px;
    margin-top: 30px;
    
    .has-tip {
      cursor: pointer;
      border-bottom: none;
    }

    .recently-viewed {
      h1 {
        font-size: 20px;
      }
      ul {
        list-style: none;
        .two {
          width: 14.28%
        }
        .columns {
          padding: 0 5px;
        }
        [class*="column"] + [class*="column"]:last-child {
          float: left;
        }
        li {
          img {
            @include border-radius(3px);
            &:hover {
              margin-top: -5px;
            }
          }
        }
      }
    }
  }

  .bottom-bar {
    background: #484848;
    color: white;
    a {
      color: white;
    }
    .footer {
      padding-top: 30px;
      padding-bottom: 30px;
      .footer-logo {
        text-indent: -9999px;
        width: 96px;
        height: 63px;
        display: block;
        background: url(asset-path('footer-logo.png', image));
      }

      .link-list {
        margin-bottom: 5px;
        margin-top: 10px;
      }

      .bottom-list {
        margin-top: 5px;
        a {
          color: #a6a6a6;
        }
      }
    }
  }
}