@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/user-interface";

.hummingbird-header-1 {
  .hummingbird-header-actual {
    @include transform(translate(0,0));
    @include transition(transform .5s);
    @include user-select(none);
  }
  .nav-attached {
    position: absolute;
    top: 0px;
  }

  // Apply to show navbar
  .nav-visible {
    opacity: 1;
    @include transform(translate(0,0));
    @include transition(transform .2s, opacity .3s);
  }

  // Apply to hide navbar
  .nav-hidden {
    opacity: 0;
    @include transform(translate(0,-70px));
    @include transition(transform .2s, opacity .3s);
  }

  // set logo position and size in header
  .name {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #ebeff2;
    img {
      position: relative;
      top: 12px;
    }
  }

  .topnav-links {
    border-right: 1px solid #ebeff2;
  }

  .dropdown {
    li:last-child {
      a {
        @include border-bottom-radius(5px);
        padding-bottom: 15px;
      }
    }
  }

  .user-block {
    .avatar-link-selector {
      line-height: 0px;
      padding-left: 0px;
      .avatar {
        width: 70px;
        height: 70px;
        position: relative;
        top: 0px;
      }
    }
  }

  .top-bar {
    margin-bottom: 0px !important;
    z-index: 9;
    a {
      margin-right: 5px;
      font-size: 15px !important;
      font-family: "omnes-pro",sans-serif;
      font-weight: 500;
    }
    .top-bar-section li a:not(.button):hover {
      background: white;
      color: #fd864b;
    }
    .top-bar-section ul li.active a {
      background: white;
    }
  }

  figure {
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    height: 200px;
    width: 100%;
    margin-left: 0px;
    border-bottom: 1px solid white;
    margin-top: 0px;


    .overlay {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      text-align: center;
      color: #fff;
      @include opacity(0.90);
      @include border-top-radius(3px);
      // @include background-image(linear-gradient(left top, #393939, #000));

      .title {
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;

        a {
          color: white;
        }
      }

      .quote-vote {
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 60px;
        opacity: 0;
        transition: opacity 0.8s;
        a {
          padding-top: 8px;
          font-size: 1.8em;
          display: block;
        }
      }
      
      &:hover {
        .quote-vote {
          opacity: 1;
        }
      }

      .summary {
        width: 90%;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
      }
    }

    img {
      width: 100%;
      height: auto;
      float: left; 
      margin-top: -100px;
    }
  }
  .right-top-nav {
    position: relative;
  }
  .header-search {
    position: relative;
    top: 9px;
    overflow: visible;
    .tt-hint {
      top: 8px !important;
      line-height: 14px !important;
      color: #dcdcdc !important;
    }
    input {
      @include border-radius(3px);
      box-shadow: none;
      height: 35px;
      border: 1px solid #dcdcdc;
    }
    #nav_search_submit {
      position: absolute;
      top: 8px;
      cursor: pointer;
      right: 0;
      border: 0;
      background: transparent url(http://cdn1.sbnation.com/images/polygon/sprites/icons@2x.vcd374f5.png) no-repeat 0 -72px;
      background-size: 108px 1043px;
      text-indent: -3000px;
      display: inline-block;
      height: 36px;
      width: 36px;
    }
  }

  /*Animation Prefs*/
  .notification-block {
    border-left: 1px solid #eee;
    > a:after {
      display: none !important;
    }

    .notification-button {
      padding-right: 15px !important;
      padding-left: 20px !important;
      .fa-bell-o {
        position: relative;
        border: 1px solid #dcdcdc;
        font-size: 20px;
        color: #dcdcdc;
        border-radius: 3px;
        padding: 10px;
        font-weight: 300;
      }
      
      &.active {
        .fa-bell-o {
          color: #e57c48;
          border-color: #e57c48;
          -webkit-transform-origin: top center;
          -moz-transform-origin: top center;
          -o-transform-origin: top center;
          transform-origin: top center;
          -webkit-animation-name: swing;
          -moz-animation-name: swing;
          -o-animation-name: swing;
          animation-name: swing;
          -webkit-animation-iteration-count: infinite; /*Safari and Chrome*/
        }
      }
      .notification-count {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
      }
    }
    .dropdown {
      background: #fff !important;
      width: 430px;
      // visibility: visible !important;
    }
    .single-notification {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
      font-size: 11px;
      background: darken(#f8f8fa, 1);
      color: #404040 !important;
      &.new {
        background: #fff;
        &:hover {
          background: darken(#fff, 2) !important;
        }
      }
    }

    .view-all-notifications {
      background: lighten(#eee, 3) !important;
      &:hover {
        background: lighten(#eee, 5) !important;
      }
    }

    .status-info {
      white-space: normal;
      .time-ago {
        margin-bottom: 0px;
        font-size: 12px;
        color: #bbb;
      }
    }
  }
  .guest-block {
    height: 70px;
    a {
      margin: 0px;
      padding: 0px !important;
    }
  }
}

.guest-banner {
  background: #34495e;
  .large-12 {
    background: #34495e;
  }
  text-align: center;
  a {
    font-size: 17px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    position: relative;
    bottom: -1px;
  }
  .guest-button {
    a {
      font-size: 15px;
      padding: 5px 10px;
      margin-left: 10px;
      bottom: auto;
      background: #fd864b;
      @include border-radius(2px);
      &:hover {
        background: darken(#fd864b, 10);
      }
    }
  }
}

/* Fix for the header overflow issue. */
.top-bar-section .has-form {
  padding: 0 20px;
}
