.anime-show-full {
  .panel {
    padding: 10px;
    &.top-bar {
      text-align: center;
      h4 {
        margin-bottom: 0px;
      }
    }
  }

  fieldset {
    .option-bar {
      margin-top: 10px;
    }
  }
}