// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";
.chat {
  margin-top: 30px;
  .update-banner {
    text-align: center;
    border: 1px solid #27AE60;
    margin-top: 10px;
    margin-bottom: -5px;
    color: #27AE60;
    a {
        color: darken(#27AE60, 10)
      }
    &.red {
      border: 1px solid #e74c3c;
      color: #e74c3c;
      a {
        color: darken(#e74c3c, 10)
      }
    }
    .update-text {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  .settings {
    ul {
      list-style: none;
    }
    .setting-title {
      padding: 0px;
      margin-bottom: 5px;
    }
    .setting-button {
      padding: 0px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .onlineUsers {
    max-height: 380px;
    overflow-y: scroll;
    float: left;
    display: block;
    width: 120%;
    ul {
      list-style: none;
      li {
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 5px;
      }
    }
  }
  .main-chat {
    height: 600px;
    padding: 0px;
    overflow-y: scroll;
    background: #fff;
    .chats {
      .chat-display {
        .chat-text {
          .message-block.highlighted {
            background-color: #f8f6f4;
          }
          .message-block {
            display: block;
            width: 100%;
            float: left;
            border-bottom: 1px solid #eae9ee;
            padding-top: 10px;
            padding-bottom: 10px;
            z-index: 99999;
            @media (max-width: 767px) {
              padding-left: 10px;
            }
            .avatar {
              .avatar-image {
                width: 40px;
                height: 40px;
                border-radius: 100px;
              }
            }

            .message {
              width: 80%;
              padding: 0px;
              .name {
                font-weight: 700;
                a {
                  color: #6a6f7e;
                }
              }
              p {
                word-wrap: break-word;
                .autoembed { display: none }
                margin-bottom: 0px;
                .name {
                  font-weight: 400;
                }
              }
            }

            .time-stamp {  
              position: absolute;  
              right: 0px;   
              text-align: right;
              font-size: 13px;
              opacity: 0.5; 
              .status-icon {
                position: relative;
                bottom: 10px;
              }
              @media (max-width: 480px) {
                right: 10px;
              }     
            }
          }
        }
      }
    }
  }
  .input-area {
    background: #fff;
    @include border-bottom-radius(5px);
    .input-wrapper {
      position: relative;
      .message {
        height: 45px;
        margin-bottom: 0px;
        margin-top: 17px;
        font-size: 16px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none;
        border: 1px solid #eae9ee;
        @include border-radius(5px);
      }
      .fa-share{
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        opacity: .6;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
