.salsbury {
  font-family: "salsbury",sans-serif;
  color: #fff;
  font-size: 65px;
  -webkit-transition-delay: 5s;
  -webkit-animation-name: bounceInDown;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-transition: .1s ease-out;
  -o-transition: .1s ease-out;
  -moz-transition: .1s ease-out;
}
.LR-sign-up-container {
  position: relative;
  margin-bottom: 28px;
  width: 100%;
}
.LR-sign-up-label {
  font-style: italic;
  font-size: 14px;
  display: none;
  margin: 0 5px 5px;
}
#fieldbase {
  background-color: #FFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 102%;
  height: 80px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-animation-name: fadeInDown;
  -webkit-animation-duration: 0.385s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-transition: .1s ease-out;
  -o-transition: .1s ease-out;
  -moz-transition: .1s ease-out;
  #input {
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,.25);
    resize: none;
    outline: none;
    overflow: auto;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 1px 1px rgba(255,255,255,0.45), inset 0px 0px 1px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.45), inset 0px 0px 1px rgba(0,0,0,0.16);
    box-shadow: 0px 1px 1px rgba(255,255,255,0.45), inset 0px 0px 1px rgba(0,0,0,0.16);
    background: linear-gradient(90deg , rgb(247,247,241) 0%, rgb(247,247,241) 100%);
    background: -o-linear-gradient(90deg , rgb(247,247,241) 0%, rgb(247,247,241) 100%);
    background: -moz-linear-gradient(90deg , rgb(247,247,241) 0%, rgb(247,247,241) 100%);
    background: -webkit-linear-gradient(90deg , rgb(247,247,241) 0%, rgb(247,247,241) 100%);
    background: -ms-linear-gradient(90deg , rgb(247,247,241) 0%, rgb(247,247,241) 100%);
    width: 99%;
    height: 74px;
    margin-left: 3px;
    margin-top: 3px;
    font-size: 28px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 24px;
    -webkit-transition: .1s ease-out;
    -o-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
    position: absolute;
    overflow: auto;
    color: #222;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
  }
  input[type="submit"].LR-sign-up-submit {
    margin: 0;
    cursor: pointer;
    z-index: 2;
    right: 0;
    top: 0;
    border: none;
    color: #ffffff;
    padding: 9px 12px !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #168B47;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#55BA3F), to(#168B47));
    background-image: -webkit-linear-gradient(top, #55BA3F, #168B47);
    background-image: -o-linear-gradient(top, #55BA3F, #168B47);
    background-image: linear-gradient(to bottom, #55BA3F, #168B47);
    background-image: -moz-linear-gradient(top, #55BA3F, #168B47);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    float: left;
    padding: 10px 5%;
    text-align: center;
    max-height: 38px;
    line-height: 18px;
    width: 15%;
    padding: 0px;
    min-width: 48px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  input[type="submit"].LR-sign-up-submit {
    top: auto;
    right: auto;
    padding: 0px !important;
  }
  #button {
    width: 192px;
    height: 40px;
    background-color: #24BFFF;
    border: 1px solid rgba(132,67,9,0.75);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.26), inset 0px 1px 0px rgba(255,255,255,0.22);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.26), inset 0px 1px 0px rgba(255,255,255,0.22);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.26), inset 0px 1px 0px rgba(255,255,255,0.22);
    background: linear-gradient(90deg , rgb(235,124,41) 0%, rgb(255,188,47) 100%);
    background: -o-linear-gradient(90deg , rgb(235,124,41) 0%, rgb(255,188,47) 100%);
    background: -moz-linear-gradient(90deg , rgb(235,124,41) 0%, rgb(255,188,47) 100%);
    background: -webkit-linear-gradient(90deg , rgb(235,124,41) 0%, rgb(255,188,47) 100%);
    background: -ms-linear-gradient(90deg , rgb(235,124,41) 0%, rgb(255,188,47) 100%);
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: rgba(152,73,16,0.70) 0px 1px 1px;
    margin-left: 415px;
    margin-top: 21px;
    z-index: 9000px;
    position: absolute;
    right: 23px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-weight: normal;
    font-style: normal;
    line-height: 35px;
    cursor: pointer;
  }
}