@mixin transition($property, $duration, $ms: false) {
  -webkit-transition: $property $duration ease-in-out;
  -moz-transition: $property $duration ease-in-out;
  -o-transition: $property $duration ease-in-out;
  @if ($ms) {
    -ms-transition: $property $duration ease-in-out;
  }
  transition: $property $duration ease-in-out;
}