@import "compass/css3";

.onboarding {
  top: 40px;

  .lead {
    text-align: center;
  }
  
  .subtext {
    text-align: center;
    color: #666666;
  }

  h2 {
    margin-bottom: 10px;;
  }
  
  .onboarding-progress {
  }
  
  .step {
    display: none;
  }

  .select-rating-system {
    .rating-panel {
      .rating-system {
        font-size: 1.6em;
        background-color: #f7f7f7;
        border: 1px solid #ededed;
        @include border-radius(3px);
        cursor: pointer;
        padding: 15px;
        -webkit-transition: background-color 250ms linear;
        -moz-transition: background-color 250ms linear;
        -o-transition: background-color 250ms linear;
        -ms-transition: background-color 250ms linear;
        transition: background-color 250ms linear;
        .rating-example {
          text-align: right;
        }
        &:hover {
          background-color: darken(#f7f7f7, 2)
        }
        &.simple {
          i {
            margin-left: 10px;
          }
        }
        &.active {
          background-color: #fdeee7;
          border: 1px solid #e77e4a;
        }
      }
    }
  }
  .mal-connect {
    padding: 20px;
    border-right: 1px solid #eee;
    .button {
      background: #30529d;
      @include border-radius(3px);
      border: none;
      padding-top: 10px;
      padding-bottom: 30px;
      &:hover{
        background: darken(#30529d, 5);
        border: none;
      }
    }
  }
  .na-connect {
    padding: 20px;
    .na-description {
      margin-top: 21px;
    }
    .button {
      background: #00acb8;
      @include border-radius(3px);
      border: none;
      padding-top: 10px;
      padding-bottom: 30px;
      &:hover{
        background: darken(#00acb8, 5);
        border: none;
      }
    }
  }
  .ob-bg {
    padding: 0px;
    img {
      width: 100%;
      margin-bottom: -45px;
    }
  }
  .fb-like {
    margin-right: 20px;
  }
  
  .navigate-steps {
    padding: 5px;
    margin-top: 20px;
  }

  .skip-this-step, .go-back-one-step {
    padding-left: 10px;
    float: right;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;
    i {
      margin-left: 5px;
    }
    &.button {
      color: #fff;
    }

  }
  
  .onboarding-progress {
    float: left;
  }
  
  .skip-this-step, .go-back-one-step, .onboarding-progress {
    margin-top: 8px;
    padding: 8px;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  a.button {
    border-radius: 0;
    padding: 4px;
    height: 2em;
    line-height: 1.4em;
    border: 1px solid rgb(238, 113, 51);
    span.right {
      line-height: 1.5em;
      padding-right: 8px;
    }
    &:hover {
      border: 1px solid rgba(0, 0, 0, 0);
    }
  }
  
  .close-reveal-modal {
    display: none;
  }
}
