@import "compass/css3";

.profile {
  .favorite-anime {
    img {
      // @include border-radius(3px);
      // width: 93px;
      // height: 135px;
    }
  }
  .anime-preview {
    margin-bottom: 30px;
    img {
      // Static size until source images have fixed dimensions
      // width: 105px;
      // height: 150px;
      // @include border-radius(3px);
    }
  }

  .side-content {

    .comment {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dddddd;
      .comment-avatar {
        img {
          @include border-radius(100px);
          height: auto;
          width: 300px;
        }
      }
    }

    .comment-links {
      text-align: center;
      span {
        margin-right: 20px;
      }
    }
  }
}
