.sublime {
  .play-icon {
    width: 100%;
    top: 80px;
    text-align: center;
    position: absolute;
    color: #fff;
    text-shadow: 0 0 2px #000;
    opacity: 0.4;
  }
  &:hover .play-icon {
    opacity: 0.8;
  }
}
