@import "compass/css3";

.upcoming-shows {
  margin-top: 30px;
  ul.seasons {
    margin-bottom: 40px;
    text-align: center;
    li {
      display: inline;
      font-size: 1.6em;
      a {
        display: inline;
      }
    }
  }
  .shows {
    margin-bottom: 40px;
    .card {
      margin-bottom: 10px;
    }
    .image img {
      @include border-top-radius(3px);
    }
    .title {
      @include border-bottom-radius(3px);
      background-color: #fff;
      padding: 5px;
    }
  }
}
