@import "compass/css3";
@import "compass/utilities";

.dashboard {
  background: #fff;
  .account-settings {
    .user-avatar {
      img {
        max-width: 190px;
      }
    }
    .side-nav {
      li {
        &:first-child {
          border-bottom: 1px solid #e4e4e4;
          padding-bottom: 20px;
          margin-bottom: 20px;
        }
      }
      input {
        margin: 0px;
        padding: 0px;
      }
    }
    input, textarea {
      box-shadow: none;
      @include border-radius(3px); 
    }
    .option-bar {
      font-size: 12px;
      background: #f7f6f6;
      border-bottom: 1px solid #e4e4e4;
      padding-right: 0px;
      .option-title {
        margin-top: 10px;
        margin-bottom: 0px;
      }
      .options {
        padding: 0px;

        ul {
          text-align: center;
          margin-bottom: 0px;
          display: inline-block;
          float: right;
          li {
            border-left: 1px solid #e4e4e4;
            margin-left: 0px;
            &.active {
              border-bottom: 2px solid #fd864b;
            }
            a {
              display: block;
              color: #919191;
              padding: 10px;
              padding-left: 15px;
              padding-right: 15px;
              &:hover {
                color: #fd864b;
              }
            }
          }
        }
      }
    }
    .switch-label {
      display: inline-block;
      float: left;
    }
    .safe-for-work {
      display: block;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding-top: 10px;
      padding-bottom: 10px;
      @include clearfix();
      .switch {
        margin-bottom: 0px;
      }
    }
    .rating-system {
      display: block;
      border-bottom: 1px solid #eee;
      padding-top: 10px;
      padding-bottom: 10px;
      @include clearfix();
      .switch {
        margin-bottom: 0px;
      }
    }
    .title-language {
      display: block;
      border-bottom: 1px solid #eee;
      padding-top: 10px;
      padding-bottom: 10px;
      overflow: visible;
      float: left;
      width: 100%;
      .dropdown {
        margin-bottom: 0px;
      }
    }
  }
  .facebook-connect {
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    .big-facebook-button {
      color: white;
      border-color: #3b5998;
      background-color: #3b5998;
      font-weight: 300;
      padding: 9px 18px 10px;
      line-height: 1;
      position: relative;
      @include border-radius(3px); 
      a {
        color: #fff;
        font-weight: normal;
        margin-left: 10px;
      }
      &.off {
        background: #ddd;
        color: #222;
        a {
          color: #222;
        }
      }
    }
  }
  .mal-import {
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
