<div class="global-footer" data-test-selector="site-footer">
  <div class="row">
    <div class="small-12 columns">
      <div class="footer-wrapper">
        <h4 class="footer-header">Find an anime, manga or drama</h4>
        <input class="footer-search" placeholder="Search by title ...">
      </div>
    </div>
  </div>
</div>
