<div class="global-footer" data-test-selector="site-footer">
  <div class="row">
    <div class="small-12 columns">
      <div class="footer-wrapper">
        <h4 class="footer-header">{{t 'footer.header'}}</h4>
        <input class="footer-search" placeholder={{t 'footer.search-placeholder'}}>
      </div>
    </div>
  </div>
</div>
