<div class="user-cover no-edit">
  <div class="cover-photo" style="background-image: url('https://s3.amazonaws.com/f.cl.ly/items/25093R1e3g2U140D1o2E/bg.png?v=67d3c965')">
    <div class="row">
      <div class="user-info">
        <div class="primary-info">
          <div class="cover-avatar">
            <img src="http://cl.ly/2D2u0L2Y073c/demoavatar.png">
          </div>
          <div class="mini-bio">
            <h3 class="cover-username">Cruecial</h3>
            <p>I know less than half of you half as well as I should like, and I like less than half of you half as well as you deserve.</p>
          </div>
        </div>
        <div class="follow-info">
          <div class="followers">
            <div class="bubble">
              <h3 class="count">563</h3>
              <label>Following</label>
            </div>
          </div>
          <div class="following">
            <div class="bubble">
              <h3 class="count">1012</h3>
              <label>Followers</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dark-overlay"></div>
  </div>
</div>

<div class="user-nav">
  <div class="row align-justify">
    <ul class="menu columns">
      <li><a href="#">Activity</a></li>
      <li><a href="#" class="active">Library</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">Lists</a></li>
    </ul>
    <div class="columns">
      <a href="#" class="follow-button">
        Follow
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns">
    <div class="library-list columns">
      <div class="nav-wrapper">
        <button class="button" type="button" data-toggle="example-dropdown">Anime</button>
        <ul class="menu">
          <li><a href="#">All</a></li>
          <li><a href="#" class="active">Currently Watching</a></li>
          <li><a href="#">Plan to Watch</a></li>
          <li><a href="#">Completed</a></li>
          <li><a href="#">On Hold</a></li>
          <li><a href="#">Dropped</a></li>
        </ul>
      </div>
      <div class="search-library">
        <input class="search-input" placeholder="Search this library..." type="text">
      </div>
      <div class="section-head">
        <span class="section-title">Currently Watching</span>
        <span class="section-stats">26 titles -- 8 hours, 66 minutes</span>
      </div>

      <!-- Example Library Entry -->
      <div class="library-entry">
        <div class="entry-wrapper">
          <div class="entry-left medium-7 columns">
            <div class="entry-title">
              <span>Kamisama no Inai Nichiyoubi</span>
            </div>
          </div>
          <div class="entry-right medium-5 columns">
            <div class="entry-progress">
              <input class="progress-input" placeholder="0" type="text">
              <span><span class="sep">/</span> 25</span>
            </div>
            <div class="entry-rating">
              <span>--</span>
            </div>
            <div class="entry-type">
              <span>TV</span>
            </div>
          </div>
        </div>

        <!-- Entry data shown click of entry row -->
        <div class="library-dropdown">
          <div class="drop-arrow"></div>
          <div class="small-12 columns">
            <input class="personal-notes" placeholder="Personal notes about Noragami">
          </div>
          <div class="medium-2 columns">
            <img class="drop-thumb" src="https://static.hummingbird.me/anime/poster_images/000/007/881/large/noragami_1.jpg?1408462791">
          </div>
          <div class="medium-6 columns">
            <h4 class="drop-title">
              <a href="/anime/noragami">Noragami</a>
            </h4>
            <ul class="genres">
              <li>Action</li>
              <li>Adventure</li>
              <li>Supernatural</li>
            </ul>
            <p class="drop-description">
              Yato is a minor god whose dream is to have followers worshipping him. Unfortunately, his dream is far from coming true since he doesn't even have a single shrine dedicated to him. He later stumbles upon Iki Hiyori, and saves her life...
            </p>
          </div>
          <div class="medium-4 columns">
            <div class="drop-options">
              <div class="status-select">
                <button class="button" data-toggle="status-dropdown">
                  <span>Currently Watching</span>
                </button>
              </div>
              <div class="dropdown-rating">
                <button class="button" type="button" data-toggle="privacy-dropdown">Private</button>
                <div class="rating-options">
                  <span class="icon-container" data-rating="1">
                    <i class="fa fa-star-o"></i>
                  </span>
                  <span class="icon-container" data-rating="2">
                    <i class="fa fa-star-o"></i>
                  </span>
                  <span class="icon-container" data-rating="3">
                    <i class="fa fa-star-o"></i>
                  </span>
                  <span class="icon-container" data-rating="4">
                    <i class="fa fa-star-o"></i>
                  </span>
                  <span class="icon-container" data-rating="5">
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
              <div class="rewatch">
                <button class="button" type="button" data-toggle="privacy-dropdown">Rewatch</button>
                <label>
                  <span>Rewatched</span>
                  <input placeholder="0">
                  <span>times</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Entry End -->

      <!-- Example Library Entry -->
      <div class="library-entry">
        <div class="entry-wrapper">
          <div class="entry-left medium-7 columns">
            <div class="entry-title">
              <span>Kamisama no Inai Nichiyoubi</span>
            </div>
          </div>
          <div class="entry-right medium-5 columns">
            <div class="entry-progress">
              <input class="progress-input" placeholder="0" type="text">
              <span><span class="sep">/</span> 25</span>
            </div>
            <div class="entry-rating">
              <span>--</span>
            </div>
            <div class="entry-type">
              <span>TV</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Entry End -->

      <!-- Example Library Entry -->
      <div class="library-entry">
        <div class="entry-wrapper">
          <div class="entry-left medium-7 columns">
            <div class="entry-title">
              <span>Kamisama no Inai Nichiyoubi</span>
            </div>
          </div>
          <div class="entry-right medium-5 columns">
            <div class="entry-progress">
              <input class="progress-input" placeholder="0" type="text">
              <span><span class="sep">/</span> 25</span>
            </div>
            <div class="entry-rating">
              <span>--</span>
            </div>
            <div class="entry-type">
              <span>TV</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Entry End -->

      <!-- Example Library Entry -->
      <div class="library-entry">
        <div class="entry-wrapper">
          <div class="entry-left medium-7 columns">
            <div class="entry-title">
              <span>Kamisama no Inai Nichiyoubi</span>
            </div>
          </div>
          <div class="entry-right medium-5 columns">
            <div class="entry-progress">
              <input class="progress-input" placeholder="0" type="text">
              <span><span class="sep">/</span> 25</span>
            </div>
            <div class="entry-rating">
              <span>--</span>
            </div>
            <div class="entry-type">
              <span>TV</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Entry End -->

      <!-- Example Library Entry -->
      <div class="library-entry">
        <div class="entry-wrapper">
          <div class="entry-left medium-7 columns">
            <div class="entry-title">
              <span>Kamisama no Inai Nichiyoubi</span>
            </div>
          </div>
          <div class="entry-right medium-5 columns">
            <div class="entry-progress">
              <input class="progress-input" placeholder="0" type="text">
              <span><span class="sep">/</span> 25</span>
            </div>
            <div class="entry-rating">
              <span>--</span>
            </div>
            <div class="entry-type">
              <span>TV</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Entry End -->
    </div>
  </div>
</div>

<div class="global-footer">
  <div class="row">
    <div class="small-12 columns">
      <div class="footer-wrapper">
        <h4 class="footer-header">Find an anime, manga or drama</h4>
        <input class="footer-search" placeholder="Search by title ...">
      </div>
    </div>
  </div>
</div>
