<div class="panel-header">
  <div class="step-instructions col-sm-7">
    <h3>What categories are you interested in?</h3>
    <p>We'll use your favorite categories to improve the recommendations we calculate for you.</p>
  </div>
  <div class="next-step col-sm-5">
    {{#link-to 'onboarding.library' class='btn btn-primary continue-button categories'}}Continue{{/link-to}}
    {{!-- {{#link-to 'onboarding.categories' class='btn btn-primary continue-button no-continue'}}Select <strong>2 more</strong>{{/link-to}} --}}
  </div>
</div>

<div class="genre-panel-wrapper">
  <div class="col-sm-3 genre-panel">
    <div class="genre">
      <span>Anime Influenced</span>
    </div>
  </div>
  <div class="col-sm-3 genre-panel">
    <div class="genre active">
      <span>Anime Influenced</span>
    </div>
  </div>
  <div class="col-sm-3 genre-panel">
    <div class="genre">
      <span>Anime Influenced</span>
    </div>
  </div>
  <div class="col-sm-3 genre-panel">
    <div class="genre">
      <span>Anime Influenced</span>
    </div>
  </div>
  <div class="col-sm-3 genre-panel">
    <div class="genre">
      <span>Anime Influenced</span>
    </div>
  </div>
  <div class="col-sm-3 genre-panel">
    <div class="genre ">
      <span>Anime Influenced</span>
    </div>
  </div>
  <div class="col-sm-3 genre-panel">
    <div class="genre">
      <span>Anime Influenced</span>
    </div>
  </div>
</div>