<div class="panel-header">
  <div class="step-instructions col-sm-6">
    <h3>Tell us what you've seen and read</h3>
    <p>Hummingbird learns from your ratings to improve your recommendations.</p>
  </div>
  <div class="next-step col-sm-6">
    {{#link-to 'onboarding.finish' class='btn btn-primary continue-button no-continue library'}}Rate <strong>5 more</strong> to continue{{/link-to}}
  </div>
</div>

<div class="library-tab-wrapper col-sm-8">
  <ul class="library-tabs inline-list">
    <li>
      <a href="#" class="anime-tab active">Anime</a>
    </li>
    <li>
      <a href="#" class="manga-tab">Manga</a>
    </li>
  </ul>
</div>

<div class="search-section col-sm-4">
  <div class="search-wrapper">
    <i class="fa fa-search"></i>
    <input class="library-search-widget" type="text" placeholder="Search by title...">
  </div>
</div>

<ul class="library-thumbs">
  <li class="block-grid-item">
    <div class="thumbnail">
      <img src="https://static.hummingbird.me/anime/poster_images/000/003/936/large/420501.jpg?1408451107">
    </div>
    <span class="library-title">Fullmetal Alchemist: Brotherhood</span>
    <div class="awesome-rating-widget" style="cursor: pointer;">
      <span class="icon-container" data-rating="1">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="2">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="3">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="4">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="5">
        <i class="fa fa-star-o"></i>
      </span>
    </div>
  </li>
  <li class="block-grid-item">
    <div class="thumbnail">
      <img src="https://static.hummingbird.me/anime/poster_images/000/006/711/large/6711.jpg?1408459191">
    </div>
    <span class="library-title">Wolf Children</span>
    <div class="awesome-rating-widget" style="cursor: pointer;">
      <span class="icon-container" data-rating="1">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="2">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="3">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="4">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="5">
        <i class="fa fa-star-o"></i>
      </span>
    </div>
  </li>
  <li class="block-grid-item">
    <div class="thumbnail">
      <img src="https://static.hummingbird.me/anime/poster_images/000/007/658/large/7658.jpg?1408462002">
    </div>
    <span class="library-title">Fate/Zero 2nd Season</span>
    <div class="awesome-rating-widget" style="cursor: pointer;">
      <span class="icon-container" data-rating="1">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="2">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="3">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="4">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="5">
        <i class="fa fa-star-o"></i>
      </span>
    </div>
  </li>
  <li class="block-grid-item">
    <div class="thumbnail">
      <img src="https://static.hummingbird.me/anime/poster_images/000/006/448/large/hunterhunter_2.jpg?1408458438">
    </div>
    <span class="library-title">Hunter x Hunter (2011)</span>
    <div class="awesome-rating-widget" style="cursor: pointer;">
      <span class="icon-container" data-rating="1">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="2">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="3">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="4">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="5">
        <i class="fa fa-star-o"></i>
      </span>
    </div>
  </li>
  <li class="block-grid-item">
    <div class="thumbnail">
      <img src="https://static.hummingbird.me/anime/poster_images/000/005/646/large/iJvXXwfdhJHaG.jpg?1409434134">
    </div>
    <span class="library-title">Steins;Gate</span>
    <div class="awesome-rating-widget" style="cursor: pointer;">
      <span class="icon-container" data-rating="1">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="2">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="3">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="4">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="5">
        <i class="fa fa-star-o"></i>
      </span>
    </div>
  </li>
  <li class="block-grid-item">
    <div class="thumbnail">
      <img src="https://static.hummingbird.me/anime/poster_images/000/003/936/large/420501.jpg?1408451107">
    </div>
    <span class="library-title">Fullmetal Alchemist: Brotherhood</span>
    <div class="awesome-rating-widget" style="cursor: pointer;">
      <span class="icon-container" data-rating="1">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="2">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="3">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="4">
        <i class="fa fa-star-o"></i>
      </span>
      <span class="icon-container" data-rating="5">
        <i class="fa fa-star-o"></i>
      </span>
    </div>
  </li>
</ul>