<div class="row">
  <div class="col-xs-9">
    <h3>Which rating system do you want to use?</h3>
    <p>This is how others see how much you enjoy what you're tracking. You can change this later!</p>
  </div>
  <div class="col-xs-3" style='padding: 40px'>
    {{#link-to 'onboarding.categories' class='btn btn-primary'}}Continue{{/link-to}}
  </div>
</div>

<div class="row" style='text-align: center; margin-top: 20px; border-top: 1px solid #ddd; padding: 25px 0 10px'>
  <div class='col-xs-12'>
    <button {{bind-attr class=":btn simpleRating:btn-primary"}} {{action "setRatingType" "simple"}}>Simple</button>
    or
    <button {{bind-attr class=":btn advancedRating:btn-primary"}} {{action "setRatingType" "advanced"}}>Advanced</button>
    {{#if saving}}
      Saving...
    {{/if}}
  </div>
</div>
