<div class="panel-header">
  <div class="step-instructions col-sm-7">
    <h3>Which rating system do you want to use?</h3>
    <p>This is how others see how much you enjoy what you're tracking. You can change this later!</p>
  </div>
  <div class="next-step col-sm-5">
    {{#link-to 'onboarding.categories' class='btn btn-primary continue-button rating-system'}}Continue{{/link-to}}
    {{!-- {{#link-to 'onboarding.categories' class='btn btn-primary continue-button no-continue'}}Select Rating System{{/link-to}} --}}
  </div>
</div>

<div class="rating-wrapper">
  <div class='col-xs-12'>
    <button {{bind-attr class=":simple-rating simpleRating:active saving"}} {{action "setRatingType" "simple"}}>
      <i class="fa fa-smile-o"></i>
      <i class="fa fa-smile-o"></i>
      <i class="fa fa-smile-o"></i>
    </button>
    <span class="rating-divider">or</span>
    <button {{bind-attr class=":advanced-rating advancedRating:active saving"}} {{action "setRatingType" "advanced"}}>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </button>
  </div>
</div>
