<div class="row">
  <div class="start-wrapper col-sm-5">
    <h3>You've made a great decision.</h3>

    <p style="margin-bottom: 25px;">Hummingbird is a social network for sharing your taste in anime and manga. See what your friends have been enjoying, track what you've seen or read and get personalized recommendations.</p>

    <p>Let's take a few moments to personalize your account, you beautiful bastard.</p>

    <p style='margin-top: 20px'>{{#link-to 'onboarding.rating-system' class='btn btn-primary continue-button small-continue'}}Get Started{{/link-to}}</p>
  </div>

  <div class="col-sm-7">
    <div class="moe-wrapper">
      <img src="../onboarding-moe.png" class="onboarding-moe">
      <img src="../onboarding-moe-bg.png" class="onboarding-moe-bg">
    </div>
  </div>
</div>
