.dashboard
  .row.content-body
    .twelve.columns
      .panel.profile-bar
        .user-block
          %figure.user-avatar= image_tag(current_user.avatar_url)
          %figcaption.karma 10,042
          %figcaption.karma-title karma
        .user-information 
          %h4.username JoshFabian
          %p.bio Hi, I’m Josh and I’m the co-founder of Hummingbird. I like to watch anime, design and build shit that people use. If you have any suggestions for the site, let me know! :)
      .profile-bar-subnav 

