.dashboard
  .row.content-body
    .twelve.columns
      .panel.profile-bar
        .user-block
          %figure.user-avatar= image_tag(current_user.avatar_url)
          %figcaption.karma 10,042
          %figcaption.karma-title karma
      .profile-bar-subnav 

