.community
  .row
    .large-12.columns
      = render partial: "shared/forem_sidebar", locals: {active_forum: @forum}

      .forum-container.large-9.columns
        .row
          %header.cf
            .large-12.columns
              %h2 Edit Post
              = simple_form_for [forem, @topic, @post] do |f|
                = render :partial => "form", :locals => { :f => f }
                = f.submit t("forem.post.buttons.edit")

                  
          
