<li class='dropdown user-area'>
  <a class='dropdown-toggle navbar-avatar' data-toggle='dropdown' href='#'>
    {{avatar currentUser "thumb_small"}}
  </a>
  <ul class='dropdown-menu right-nav-section'>
    <li><a {{action "signOut"}} href="javascript:void(0)">Sign out</a></li>
  </ul>
</li>

