<li class="notifications">
  <a href="/search"><i class='fa fa-search' style="position: relative; bottom: initial;"></i></a>
</li>
<li class='dropdown notifications'>
  <a class='dropdown-toggle notification-link' data-toggle='dropdown' href='#'>
    <i class='fa fa-bell active'>&nbsp;04</i>
  </a>
  <ul class='dropdown-menu notification-dropdown right-nav-section'>
    <li>
      <a class='clearfix notification new' href='#'>
        <div class='col-xs-1 col-sm-1 col-md-1 user-avatar'>
          <img src='http://static.hummingbird.me/users/avatars/000/016/666/thumb_small/picture?1377445253'>
        </div>
        <div class='col-xs-11 col-sm-11 col-md-11 user-info'>
          <h5 class='username'>
            Sushi-kun
            <small class='user-action'>
              wrote a comment on your profile.
            </small>
          </h5>
          <small>about 2 hours ago</small>
        </div>
      </a>
    </li>
    <li>
      <a class='clearfix notification' href='#'>
        <div class='col-xs-1 col-sm-1 col-md-1 user-avatar'>
          <img src='http://static.hummingbird.me/users/avatars/000/016/666/thumb_small/picture?1377445253'>
        </div>
        <div class='col-xs-11 col-sm-11 col-md-11 user-info'>
          <h5 class='username'>
            David
            <small class='user-action'>
              wrote a comment on your profile.
            </small>
          </h5>
          <small>about 2 hours ago</small>
        </div>
      </a>
    </li>
    <li>
      <a class='clearfix notification' href='#'>
        <div class='col-xs-1 col-sm-1 col-md-1 user-avatar'>
          <img src='http://static.hummingbird.me/users/avatars/000/016/666/thumb_small/picture?1377445253'>
        </div>
        <div class='col-xs-11 col-sm-11 col-md-11 user-info'>
          <h5 class='username'>
            Terry
            <small class='user-action'>
              wrote a comment on your profile.
            </small>
          </h5>
          <small>about 2 hours ago</small>
        </div>
      </a>
    </li>
    <li>
      <a href='#'>View All Notifications</a>
    </li>
  </ul>
</li>
