<div {{bind-attr class=":recently-watched showUpdater:expanded:notexpanded"}}>
  <ul class = "series-slider">
    {{#each entry in recentLibraryEntries}}
      {{header-quick-update item=entry action="updated"}}
    {{/each}}
  </ul>
</div>
