# See http://help.github.com/ignore-files/ for more about ignoring files.

# server
server
client
web
mobile
status-page
brand
clerk
genkan
ops
strait
web-ember
wiki

# docker
docker-sync.yml
docker-compose-dev.yml

# general
uploads/*
tmp/
*.log
.DS_Store
coverage
.zeus.sock
.vagrant
aws_env
.sass-cache
connect.lock
sftp-config.json
.ruby-version
jsconfig.json
.vscode/
github_key
