# See http://help.github.com/ignore-files/ for more about ignoring files.

# server

server/public/system/*
server/.bundle
server/db/*.sqlite3

# client

client/dist
client/fastboot-dist
client/node_modules
client/bower_components
client/public/system/*

# general

tmp/
*.log
.DS_Store
coverage
.zeus.sock
.vagrant
aws_env
.sass-cache
connect.lock
sftp-config.json
.ruby-version
jsconfig.json
.vscode/
github_key
