version: '2'

volumes:
  postgres:
    driver: local
  node_modules:
    driver: local
  uploads:
    driver: local

services:
  # Database servers
  postgres:
    image: postgres:9.3
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_USER: postgres
    volumes:
      - postgres:/var/lib/postgresql/data
  redis:
    image: redis
  elasticsearch:
    image: elasticsearch:2

  # Mailcatcher
  mailcatcher:
    image: schickling/mailcatcher
    ports: [1080]

  # Web server, routing /api and / to server, client respectively
  router:
    build: ./router
    links: [client, server]
    volumes:
      - uploads:/srv/www/uploads/system
    ports: [80]

  # Rails server
  server: &rails
    links: [postgres, redis, elasticsearch, mailcatcher]
    build: ./server
    volumes:
      - ./server:/opt/kitsu/server
      - uploads:/opt/kitsu/server/public/system
    environment:
      DATABASE_URL: 'postgresql://postgres:mysecretpassword@postgres/'
      REDIS_URL: 'redis://redis/1'
      RAILS_ENV: development
      SMTP_ADDRESS: 'mailcatcher'
      SMTP_PORT: '1025'

  # Sidekiq
  sidekiq:
    <<: *rails
    command: [sidekiq]

  # Ember server
  client:
    build: ./client
    volumes:
      - ./client:/opt/kitsu/client
      - /opt/kitsu/client/node_modules
      - /opt/kitsu/client/bower_components
    tmpfs:
      - /opt/kitsu/client/tmp
    environment:
      EMBER_ENV: development
    ports: ['57777:57777']
