{
	debug
	log default {
		output stdout
		format console
	}
	local_certs
	auto_https disable_redirects
}

(tls) {
	tls internal {
		on_demand
	}
}

(api) {
	handle /api/* {
		request_body {
			max_size 100MB
		}
		encode zstd gzip
		reverse_proxy http://api
	}
}

media.kitsu.dev {
	import tls
	reverse_proxy http://minio:9000
}

admin.media.kitsu.dev {
	import tls
	reverse_proxy http://minio:9001
}

mail.kitsu.dev {
	import tls
	reverse_proxy http://mailcatcher:1080
}

storybook.kitsu.dev {
	import tls
	reverse_proxy http://web:6006
}

kitsu.dev, http://localhost {
	import tls
	import api
	reverse_proxy http://web:5173
}