{{! TODO: Share a lot of this with anime/manga/drama  }}
<h1>Drama Page</h1>

<h2 data-test-selector="title">
  {{drama.canonicalTitle}}
</h2>

{{#if currentSession.isAuthenticated}}
  {{library-status-button
      entry=entry
      promise=entryPromise
      mediaType="drama"
      create=(route-action "createEntry")
      update=(route-action "updateEntry" entry)
      delete=(route-action "destroyEntry" entry)
  }}
{{/if}}
