%ul.anime-list
  - @anime.each do |anime|
    %li.search-result.cf
      .large-1.columns.hide-for-small.thumbnail.no-padding-right
        = image_tag anime.cover_image.url(:thumb)
      .small-12.large-11.columns
        .large-12.columns.title
          = link_to anime.canonical_title(current_user), anime
          %span.hide (2002)
        .large-9.columns.synopsis
          %p
            = truncate(anime.synopsis, length: 280, separator: ' ')
            - if anime.synopsis.length > 280
              %span
                %a{:onclick => "$(this).parent().parent().html('#{j anime.synopsis}')"} [read more]
          // Truncate this to around the length of the above, if possible
          //= anime.synopsis
        .large-3.columns
          .large-12.columns.no-padding
            %a.small.button.split.padded{"data-dropdown" => "drop1", :href => "#"}
              Want to Watch
              %span{"data-dropdown" => "drop1"}
            %ul#drop1.f-dropdown.watchlist-button{"data-dropdown-content" => ""}
              %li
                %a{:href => "#"} Currently Watching
              %li
                %a{:href => "#"} Completed
              %li
                %a{:href => "#"} On Hold
              %li
                %a{:href => "#"} Dropped
              %li
                %a{:href => "#"} Remove 
          .large-12.columns.no-padding.text-center.search-rating
            %p
              %i.icon-star-empty
              %i.icon-star-empty
              %i.icon-star-empty
              %i.icon-star-empty
              %i.icon-star-empty



