<li class="dropdown user-area">
  <a class="dropdown-toggle navbar-avatar" data-toggle="dropdown">
    {{avatar currentUser "thumb_small"}}
  </a>
  <ul class="dropdown-menu right-nav-section">
    <li>{{#link-to 'user' currentUser.id}}<i class="fa fa-paper-plane"></i> View Profile{{/link-to}}</li>
    <li>{{#link-to 'settings'}}<i class="fa fa-cog"></i> Account Settings{{/link-to}}</li>
    <li>
      {{#if user.isPro}}
        {{#link-to 'pro'}}<i class="fa fa-thumbs-o-up"></i> Upgrade to PRO{{/link-to}}
      {{#else}}
        {{#link-to 'pro'}}<i class="fa fa-thumbs-o-up"></i> View PRO{{/link-to}}
      {{/if}}
    </li>
    {{#if currentUser.isAdmin}}
      <li><a href="/kotodama"><i class="fa fa-rebel"></i> Kotodama</a></li>
    {{/if}}
    <li><a {{action 'signOut'}}><i class="fa fa-sign-out"></i> Sign Out</a></li>
  </ul>
</li>
