.follow-button {
  background: $orange;
  border: none;
  border-radius: 3px;
  font-family: $headerFontFamily;
  font-size: 20px;
  color: #fff;
  &:hover {
    background: darken($orange, 8);
    color: #fff;
  }
  &.unfollow {
    background: #999;
  }
}

.upload-cover {
  cursor: pointer;
  font-size: 12px;
  margin-top: 12px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-family: $headerFontFamily;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.fb-connect {
  border-color: #3b5998;
  background-color: #3b5998;
  &:hover {
    border-color: #324a80;
    background-color: #324a80;
  }
}

.twt-connect {
 border-color: #4099FF;
 background-color: #4099FF;
 &:hover {
  border-color: darken(#4099FF, 10);
  background-color: darken(#4099FF, 10);
 }
}

.status-button {
  float: right;
  background-color: $orange;
  color: #fff !important;
  transition: ease-in .2s;
  padding: 5px 20px;
  margin-bottom: 5px;
  &:hover {
    background-color: darken($darkOrange, 2);
  }
}
