body, h1, h2, h3, h4, h5, h6, dl, ol, ul, p, button, input, select, textarea {
  margin: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 400; }

strong, .bold {
  font-weight: bold; }

.regular {
  font-weight: normal; }

.caps {
  text-transform: uppercase; }

.center {
  text-align: center; }

.right-align {
  text-align: right; }

.m1 {
  margin: 10px; }

.mt1 {
  margin-top: 10px; }

.mr1 {
  margin-right: 10px; }

.mb1 {
  margin-bottom: 10px; }

.ml1 {
  margin-left: 10px; }

.m2 {
  margin: 20px; }

.mt2 {
  margin-top: 20px; }

.mr2 {
  margin-right: 20px; }

.mb2 {
  margin-bottom: 20px; }

.ml2 {
  margin-left: 20px; }

.m3 {
  margin: 40px; }

.mt3 {
  margin-top: 40px; }

.mr3 {
  margin-right: 40px; }

.mb3 {
  margin-bottom: 40px; }

.ml3 {
  margin-left: 40px; }

.m4 {
  margin: 60px; }

.mt4 {
  margin-top: 60px; }

.mr4 {
  margin-right: 60px; }

.mb4 {
  margin-bottom: 60px; }

.ml4 {
  margin-left: 60px; }

.p1 {
  padding: 10px; }

.px1 {
  padding-right: 10px;
  padding-left: 10px; }

.py1 {
  padding-top: 10px;
  padding-bottom: 10px; }

.p2 {
  padding: 20px; }

.px2 {
  padding-right: 20px;
  padding-left: 20px; }

.py2 {
  padding-top: 20px;
  padding-bottom: 20px; }

.p3 {
  padding: 40px; }

.px3 {
  padding-right: 40px;
  padding-left: 40px; }

.py3 {
  padding-top: 40px;
  padding-bottom: 40px; }

.p4 {
  padding: 60px; }

.px4 {
  padding-right: 60px;
  padding-left: 60px; }

.py4 {
  padding-top: 60px;
  padding-bottom: 60px; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.left {
  float: left; }

.right {
  float: right; }

@font-face {
  font-family: 'HelveticaNeueLTPro-BlkCn';
  src: url("../webfonts/2976EE_0_0.eot");
  src: url("../webfonts/2976EE_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2976EE_0_0.woff") format("woff"), url("../webfonts/2976EE_0_0.ttf") format("truetype"); }

.helvetica-condensed {
  font-family: HelveticaNeueLTPro-BlkCn, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal; }

h1 {
  margin: 0; }

p {
  margin: 0;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased; }

.lh5 {
  line-height: 50px; }

.h0r {
  font-size: 2rem;
  line-height: .9;
  -webkit-font-smoothing: antialiased; }

@media (min-width: 768px) {
  .h0r {
    font-size: 4rem; } }
@media (min-width: 1152px) {
  .h0r {
    font-size: 6rem; } }
@media (min-width: 1536px) {
  .h0r {
    font-size: 8rem; } }
.thirteen-wrap {
  width: 256px;
  height: 256px; }
  .thirteen-wrap svg {
    width: 100%;
    height: 100%; }

@media (min-width: 768px) {
  .thirteen-wrap {
    width: 512px;
    height: 512px; } }
@media (min-width: 1152px) {
  .thirteen-wrap {
    width: 768px;
    height: 768px; } }
@media (min-width: 1536px) {
  .thirteen-wrap {
    width: 1024px;
    height: 1024px; } }
.h1r {
  font-size: 1.5rem;
  line-height: 1.125;
  -webkit-font-smoothing: antialiased; }

@media (min-width: 768px) {
  .h1r {
    font-size: 2rem;
    line-height: 1; } }
@media (min-width: 1152px) {
  .h1r {
    font-size: 3rem; } }
@media (min-width: 1536px) {
  .h1r {
    font-size: 4rem; } }
.h2 {
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased; }

.h3 {
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased; }

.h3r {
  font-size: 1.25rem; }

@media (min-width: 768px) {
  .h3r {
    font-size: 1.5rem; } }
@media (min-width: 1152px) {
  .h3r {
    font-size: 2rem; } }
.small {
  font-size: .75rem; }

.right-align {
  text-align: right; }

.slideshow {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  font-size: 0; }
  .slideshow .slide {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: normal;
    font-size: 1rem;
    vertical-align: top; }

.shifty {
  overflow: hidden;
  height: 100%; }
  .shifty .shifty-inner {
    height: 200%;
    position: relative;
    -webkit-transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    transition: top 0.3s ease; }
  .shifty .shifty-content {
    position: relative;
    height: 50%; }
  .shifty .shifty-menu {
    height: 50%; }
  .shifty.show-menu .shifty-inner, .shifty:target .shifty-inner {
    top: -100%; }

.bg-video-wrap {
  position: relative;
  top: 50%;
  width: 100%;
  height: 100%;
  min-width: 1920px;
  min-height: 1080px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0); }
  .bg-video-wrap video {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: -50%; }
  .bg-video-wrap.bg-video-center {
    right: -50%; }
    .bg-video-wrap.bg-video-center video {
      left: -50%; }
  .bg-video-wrap.bg-video-left {
    left: 0; }
    .bg-video-wrap.bg-video-left video {
      left: 0; }
  .bg-video-wrap.bg-video-right {
    right: 0;
    float: right; }
    .bg-video-wrap.bg-video-right video {
      right: 0; }
  .bg-video-wrap.bg-video-bottom {
    position: absolute;
    top: auto;
    bottom: 0; }
    .bg-video-wrap.bg-video-bottom video {
      top: auto;
      bottom: 0; }
  .bg-video-wrap.bg-video-top {
    position: absolute;
    top: 0;
    bottom: 0; }
    .bg-video-wrap.bg-video-top video {
      top: 0;
      bottom: auto; }

body {
  min-width: 320px; }

.scrolly {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.navbar {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding: 10px;
  line-height: 30px; }

.navbar-left, .navbar-right {
  width: 80px; }

@media (min-width: 768px) {
  .navbar-left, .navbar-right {
    width: 160px; } }
.rail {
  position: absolute;
  top: 15%;
  bottom: 15%;
  height: 70%;
  display: table; }
  .rail .middle {
    display: table-cell;
    vertical-align: middle; }

.rail-left {
  left: 10px; }

.rail-right {
  right: 10px; }

.y100 {
  height: 100%; }

.slide-footer {
  position: absolute;
  right: 0;
  bottom: 40px;
  left: 0;
  padding: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0); }

@media (min-height: 640px) {
  .slide-footer {
    bottom: 70px;
    height: 40px;
    line-height: 40px; } }
@media (min-height: 960px) {
  .slide-footer {
    bottom: 90px; } }
.mobile-show {
  display: none; }

@media (max-width: 768px) {
  .mobile-show {
    display: block; }

  .mobile-hide {
    display: none; } }
.list-simple {
  list-style: none;
  padding-left: 0; }

.ss-icon {
  position: relative;
  top: .1875em; }

.clickable {
  cursor: pointer; }

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.hide {
  display: none; }

@media (max-width: 568px) and (orientation: landscape) {
  body, .view {
    min-height: 320px; } }
.tz0 {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0); }

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 6px;
  -webkit-font-smoothing: antialiased; }
  .btn label {
    cursor: pointer; }

.btn-big {
  font-size: 1rem; }

@media (min-width: 768px) {
  .btnr {
    font-size: 1.25rem;
    height: 40px;
    line-height: 40px;
    padding: 0 15px; } }
.relative {
  position: relative; }

.absolute {
  position: absolute; }

.t0 {
  top: 0; }

.r0 {
  right: 0; }

.b0 {
  bottom: 0; }

.l0 {
  left: 0; }

.z2 {
  z-index: 2; }

.absolute-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.table {
  display: table;
  width: 100%; }

.table-fixed {
  table-layout: fixed; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.box {
  position: absolute;
  right: 5%;
  left: 5%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0); }

.box-centered {
  display: table;
  width: 90%;
  top: 0;
  bottom: 0;
  height: 100%; }

.box-bottom, .box-bottom-low {
  bottom: 120px; }

@media (min-height: 640px) {
  .box-bottom {
    bottom: 200px; }

  .box-bottom-low {
    bottom: 140px; } }
@media (min-height: 960px) {
  .box-bottom {
    bottom: 250px; } }
a {
  color: #fff;
  text-decoration: none; }

.white {
  color: #fff; }

.bg-white {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.dark-green {
  color: #28390a; }

.bg-dynamic, .bg-dynamic-a {
  transition: background-color 0.3s linear; }

.bg-cover {
  background-size: cover;
  background-position: center; }

.bg-cover-top {
  background-position: top center; }

.bg-cover-bottom {
  background-position: bottom center; }

.hb-grey .bg-dynamic {
  background-color: #525964; }
.hb-grey .bg-dynamic-a {
  background-color: #2f343b; }

.link-hb-grey {
  color: #777; }
  .link-hb-grey:hover {
    color: #04caa5; }

@-webkit-keyframes fill-color-fade {
  0% {
    fill: #49f8ae; }

  50% {
    fill: #02dbb2; }

  100% {
    fill: #49f8ae; } }

@-moz-keyframes fill-color-fade {
  0% {
    fill: #49f8ae; }

  50% {
    fill: #02dbb2; }

  100% {
    fill: #49f8ae; } }

@-ms-keyframes fill-color-fade {
  0% {
    fill: #49f8ae; }

  50% {
    fill: #02dbb2; }

  100% {
    fill: #49f8ae; } }

@keyframes fill-color-fade {
  0% {
    fill: #49f8ae; }

  50% {
    fill: #02dbb2; }

  100% {
    fill: #49f8ae; } }

.fill-thirteen {
  fill: #49f8ae;
  -webkit-transition: fill;
  -moz-transition: fill;
  transition: fill;
  -webkit-animation: fill-color-fade 5s linear infinite;
  -moz-animation: fill-color-fade 5s linear infinite;
  animation: fill-color-fade 5s linear infinite; }

.input {
  box-sizing: border-box;
  padding: .25rem .75rem;
  height: 30px;
  line-height: 30px;
  border-radius: .25rem;
  border: none; }
  .input:focus {
    outline: none; }

@-webkit-keyframes fade-in {
  from {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: .6; }

  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-moz-keyframes fade-in {
  from {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: .6; }

  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-ms-keyframes fade-in {
  from {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: .6; }

  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes fade-in {
  from {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: .6; }

  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

.fade-in {
  -webkit-animation: fade-in 0.8s ease;
  -moz-animation: fade-in 0.8s ease;
  animation: fade-in 0.8s ease; }