<!-- Episodes on this page should be sorted most recent first -->
<div class="episode-bar episode-list">
  <div class="container">
    <h2 class="grey-title">
      <a href="#">
        All Episodes
      </a>
    </h2>
    
    <div class="language-dropdown dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        Subbed
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dubbed</a></li>
      </ul>
    </div>

    <div class="season-dropdown dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        All Seasons
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Season 1</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Season 2</a></li>
      </ul>
    </div>

      <ul class="episode-thumbs block-grid-5">
        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib1.huluim.com/video/60211296?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 1</div>
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>

        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib2.huluim.com/video/60211297?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 2</div>
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>

        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib3.huluim.com/video/60211298?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 3</div>
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>

        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib4.huluim.com/video/60211299?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 4</div>
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>

        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib3.huluim.com/video/60214794?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 5</div>
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>
        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib1.huluim.com/video/60211296?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 1</div>
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>

        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib2.huluim.com/video/60211297?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 2</div>
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>

        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib3.huluim.com/video/60211298?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 3</div>
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>

        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib4.huluim.com/video/60211299?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 4</div>
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>

        <li class="block-grid-item">
          <div class="thumbnail">
            <a href="#">
              <img src="http://ib3.huluim.com/video/60214794?size=220x124&amp;region=us">
              <div class="description">
                <div class="title">Episode 5</div>
              </div>
              <div class="play-icon">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
        </li>
      </ul>
  </div>
</div>

