<div class="alert-box {{attrs.type}}" tabindex="0" aria-live="assertive" role="alertdialog" data-alert>
  {{yield}}
  {{#if attrs.closable}}
    <button type="button" tabindex="0" class="close" aria-label="Close Alert">&times;</button>
  {{/if}}
</div>
