<!DOCTYPE html>
<meta charset="utf-8">
<title>Hummingbird Map</title>

<style>
.background {
  fill: #a4bac7;
}
.foreground {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}
.graticule {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
.graticule :nth-child(2n) {
  stroke-dasharray: 2,2;
}
.land {
  fill: #d7c7ad;
  stroke: #766951;
}
.boundary {
  fill: none;
  stroke: #a5967e;
}
</style>

<body>
  <div id="data">
  </div>

  <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v0.min.js"></script>

  <script>
    var width = 960,
    height = 500;

    var projection = d3.geo.equirectangular()
        .scale(150);

    var path = d3.geo.path()
        .projection(projection);

    var graticule = d3.geo.graticule();

    var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height);

    svg.append("path")
        .datum(graticule.outline)
        .attr("class", "background")
        .attr("d", path);

    svg.append("g")
        .attr("class", "graticule")
      .selectAll("path")
        .data(graticule.lines)
      .enter().append("path")
        .attr("d", path);

    svg.append("path")
        .datum(graticule.outline)
        .attr("class", "foreground")
        .attr("d", path);

    d3.json("/world-topo.json", function(error, world) {
      svg.insert("path", ".graticule")
          .datum(topojson.object(world, world.objects.land))
          .attr("class", "land")
          .attr("d", path);

      svg.insert("path", ".graticule")
          .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a.id !== b.id; }))
          .attr("class", "boundary")
          .attr("d", path);
    });

    function getWoopraData() {
      $.ajax({
        type: 'POST',
        url: 'https://www.woopra.com/rest/peoplesearch',
        dataType: 'json',
        data: {
          website: 'hummingbird.ly',
          api_key: 'FJ4QQZ49AJ',
          data: JSON.stringify({
            limit: 50,
            offset: 0,
            date_format: "dd-MM-yyyy",
            report_id: -1
          })
        }
      }).done(function (data) {
        var visitors = data.visitors.filter(function (d) {
          return d.status == "online";
        });

        console.log(visitors);

        var coords = visitors.map(function (d) {
          return [d.info.lng, d.info.lat];
        });

        var ds = svg.selectAll(".dot").data(coords, String);

        ds.enter().append("circle")
            .attr("class", "dot")
            .attr("r", 3.5)
            .attr("cx", function (d) { return projection(d)[0]; })
            .attr("cy", function (d) { return projection(d)[1]; });

        ds.exit().remove();
      });
    }

    getWoopraData();
    setInterval(getWoopraData, 5000);
  </script>
</body>

