<ul class="cast">
  {{#each displayCast as |character|}}
    <li class="character-wrapper">
      <div class="cast-image">
        <img class="character" src="{{character.image}}">
      </div>
      <div class="cast-name">
        <h4>{{character.name}}</h4>
      </div>
    </li>
  {{/each}}
</ul>
