<ul class="cast">
  {{#each featuredCastings as |casting|}}
    <li class="casting">
      <a class="character">
        <img {{bind-attr src=casting.character.image}} width="30" height="47">
        {{casting.character.name}}
      </a>
    </li>
  {{/each}}
</ul>
