<div class="container">
  <div class="row">
    {{#each model as |group|}}
      <div class="col-sm-4">
        {{group-box group=group}}
      </div>
    {{/each}}
  </div>
</div>

{{#if canLoadMore}}
  {{load-more action="loadNextPage"}}
{{/if}}
