{{#bootstrap-modal action="close"}}
  <div class="modal-header">
    <h4 class="modal-title"> Crop Cover Image</h4>
  </div>
  <div class="modal-body jcrop">
    <img {{bind-attr src=originalImage}} id="preview" />
  </div>
  <div class="modal-footer">
    <button class="btn.btn-primary" {{action "upload"}}> Upload</button>
  </div>
{{/bootstrap-modal}}

<canvas id="cropCanvas" style="display: none" height="800" width="2880"></canvas>
