{{#bootstrap-modal action="close"}}
  <div class="modal-body">
    <p>Hummingbird has been updated. Please refresh to get the latest version.</p>
    <div class="btn btn-primary" {{action "refresh"}}>Click here to update.</div>
    <div class="btn btn-default" {{action "close"}}>No thanks</div>
  </div>
{{/bootstrap-modal}}

