{{#bootstrap-modal action="close"}}
  <div class="modal-body">
    <iframe width="540" height="315" {{bind-attr src=youtubeEmbedURL}} frameborder="0" allowfullscreen></iframe>
  </div>
{{/bootstrap-modal}}
