.anime-discover.user-watchlist 
  .row.content-body
    .large-12.columns  
      %h3 Last Watched

      - @watchlist[0..1].each do |wl|
        = render partial: "anime/fat_card", locals: {wl: wl, write: (@user == current_user)}
        
      - if @watchlist.length > 2
        .anime-grid.large-12.columns
          %h3 Recently Watched
          .row
            - @watchlist[2..-1].each do |wl|
              = render partial: "anime/card", locals: {data: [wl.anime, wl, 'three', (@user == current_user ? :readwrite : :readonly)]}
              
