= render "dash"

.anime-discover
  .row.content-body
    .title.large-12-columns
      %h3 #{@user.name}'s Recent Forum Posts

    .panel{:style => "padding: 20px"}
      %h4 Coming soon!
  
  .row
    .large-12.columns.pagination-centered
      = paginate @posts
