= render "dash"

.anime-discover.user-reviews
  .row.content-body
    .title.twelve-columns
      %h3 Recent Reviews
    
    = render partial: "reviews/review_summary", collection: @reviews, as: :review

  .row
    .twelve.columns.pagination-centered
      = paginate(@reviews)
