= render "dash"

.home.user-reviews 
  .row.content-body
    .twelve.columns
      .panel
        .two.columns
          = image_tag "http://localhost:3000/system/anime/cover_images/000/000/002/thumb/14331.jpg?1360397873"
        .ten.columns
          %p Anime Title
          %p Anime Description