= render "dash"

.home.user-reviews 
  .row.content-body
    .main-content.eight.columns
      .title.twelve-columns
        %h3 About JoshFabian
      .twelve.columns
        %p 
          Anime, what do you expect? I love watching it. Ever since I
          was little, I watched a lot of oldies, like DBZ, Bt'X and Yu Yu Hakusho. 
          I also watched some sentais like Fiveman, and Jetman. 
        %p
          The local TV showed different anime dubbed and I watched them before studying.
          The anime that I really liked before was Gundam Wing. It was very different from
          the superrobots like Voltes V. GMA7 and ABS-CBN showed a lot and I was hooked.
          
    .side-content.four.columns
      sidebar