
    <div class="info-tabs"><ul class="nav nav-tabs"><li class="active" data-bindattr-37="37"><a data-ember-action="38">Genres</a></li><li class="hidden-xs" data-bindattr-39="39"><a data-ember-action="40">Franchise</a></li><script id="metamorph-57-start" type="text/x-placeholder"></script><li class="hidden-xs" data-bindattr-41="41"><a data-ember-action="42">Quotes</a></li><script id="metamorph-57-end" type="text/x-placeholder"></script><li class="dropdown" data-bindattr-43="43"><a data-toggle="dropdown" class="dropdown-toggle">Cast<b class="caret"></b></a><ul class="dropdown-menu"><script id="metamorph-60-start" type="text/x-placeholder"></script><script id="metamorph-58-start" type="text/x-placeholder"></script><li><a data-ember-action="44">Japanese</a></li><script id="metamorph-58-end" type="text/x-placeholder"></script><script id="metamorph-59-start" type="text/x-placeholder"></script><li><a data-ember-action="45">Korean</a></li><script id="metamorph-59-end" type="text/x-placeholder"></script><script id="metamorph-60-end" type="text/x-placeholder"></script></ul></li><li class="hidden-xs" data-bindattr-46="46"><a data-ember-action="47">Studios</a></li><li class="dropdown visible-xs"><a data-toggle="dropdown" class="dropdown-toggle">More<b class="caret"></b></a><ul class="dropdown-menu"><a data-toggle="dropdown" class="dropdown-toggle"></a><li><a data-toggle="dropdown" class="dropdown-toggle"></a><a data-ember-action="48">Franchise</a></li><script id="metamorph-61-start" type="text/x-placeholder"></script><li><a data-ember-action="49">Quotes</a></li><script id="metamorph-61-end" type="text/x-placeholder"></script><li><a data-ember-action="50">Studios</a></li></ul></li></ul><div class="tab-content"><div class="tab-pane active genre-tab"><div class="slider" data-bindattr-51="51"><script id="metamorph-66-start" type="text/x-placeholder"></script><script id="metamorph-62-start" type="text/x-placeholder"></script><span class="badge"><a>Action</a></span><script id="metamorph-62-end" type="text/x-placeholder"></script><script id="metamorph-63-start" type="text/x-placeholder"></script><span class="badge"><a>Drama</a></span><script id="metamorph-63-end" type="text/x-placeholder"></script><script id="metamorph-64-start" type="text/x-placeholder"></script><span class="badge"><a>Fantasy</a></span><script id="metamorph-64-end" type="text/x-placeholder"></script><script id="metamorph-65-start" type="text/x-placeholder"></script><span class="badge"><a>Super Power</a></span><script id="metamorph-65-end" type="text/x-placeholder"></script><script id="metamorph-66-end" type="text/x-placeholder"></script></div><script id="metamorph-67-start" type="text/x-placeholder"></script><script id="metamorph-67-end" type="text/x-placeholder"></script><div class="slider hidden" data-bindattr-52="52"><script id="metamorph-72-start" type="text/x-placeholder"></script><script id="metamorph-68-start" type="text/x-placeholder"></script>
  <div class="rounded-block col-sm-12 clearfix no-padding">
    <p><strong><script id="metamorph-73-start" type="text/x-placeholder"></script>Sasha Braus<script id="metamorph-73-end" type="text/x-placeholder"></script>:</strong> <script id="metamorph-74-start" type="text/x-placeholder"></script>Potatoes are much more delicious when they're hot<script id="metamorph-74-end" type="text/x-placeholder"></script></p>
    <span class="favorited-by">
      <span class="favorite-count">Favorited by <script id="metamorph-75-start" type="text/x-placeholder"></script>161 users<script id="metamorph-75-end" type="text/x-placeholder"></script> - </span>
      <a data-ember-action="53">
        <script id="metamorph-76-start" type="text/x-placeholder"></script>
          Favorite this quote
        <script id="metamorph-76-end" type="text/x-placeholder"></script>
      </a>
    </span>
    <span class="report-quote"><a href="#">Report Quote</a></span>
  </div>
<script id="metamorph-68-end" type="text/x-placeholder"></script><script id="metamorph-69-start" type="text/x-placeholder"></script>
  <div class="rounded-block col-sm-12 clearfix no-padding">
    <p><strong><script id="metamorph-77-start" type="text/x-placeholder"></script>Sasha Braus<script id="metamorph-77-end" type="text/x-placeholder"></script>:</strong> <script id="metamorph-78-start" type="text/x-placeholder"></script>You seriously don't know why human beings eat potatoes?<script id="metamorph-78-end" type="text/x-placeholder"></script></p>
    <span class="favorited-by">
      <span class="favorite-count">Favorited by <script id="metamorph-79-start" type="text/x-placeholder"></script>113 users<script id="metamorph-79-end" type="text/x-placeholder"></script> - </span>
      <a data-ember-action="54">
        <script id="metamorph-80-start" type="text/x-placeholder"></script>
          Favorite this quote
        <script id="metamorph-80-end" type="text/x-placeholder"></script>
      </a>
    </span>
    <span class="report-quote"><a href="#">Report Quote</a></span>
  </div>
<script id="metamorph-69-end" type="text/x-placeholder"></script><script id="metamorph-70-start" type="text/x-placeholder"></script>
  <div class="rounded-block col-sm-12 clearfix no-padding">
    <p><strong><script id="metamorph-81-start" type="text/x-placeholder"></script>Eren Jaeger<script id="metamorph-81-end" type="text/x-placeholder"></script>:</strong> <script id="metamorph-82-start" type="text/x-placeholder"></script>I want to see and understand the world outside. i don't want to die inside these walls without knowing what's out there!<script id="metamorph-82-end" type="text/x-placeholder"></script></p>
    <span class="favorited-by">
      <span class="favorite-count">Favorited by <script id="metamorph-83-start" type="text/x-placeholder"></script>112 users<script id="metamorph-83-end" type="text/x-placeholder"></script> - </span>
      <a data-ember-action="55">
        <script id="metamorph-84-start" type="text/x-placeholder"></script>
          Favorite this quote
        <script id="metamorph-84-end" type="text/x-placeholder"></script>
      </a>
    </span>
    <span class="report-quote"><a href="#">Report Quote</a></span>
  </div>
<script id="metamorph-70-end" type="text/x-placeholder"></script><script id="metamorph-71-start" type="text/x-placeholder"></script>
  <div class="rounded-block col-sm-12 clearfix no-padding">
    <p><strong><script id="metamorph-85-start" type="text/x-placeholder"></script>Mikasa<script id="metamorph-85-end" type="text/x-placeholder"></script>:</strong> <script id="metamorph-86-start" type="text/x-placeholder"></script>If I don't fight, I can't win.<script id="metamorph-86-end" type="text/x-placeholder"></script></p>
    <span class="favorited-by">
      <span class="favorite-count">Favorited by <script id="metamorph-87-start" type="text/x-placeholder"></script>111 users<script id="metamorph-87-end" type="text/x-placeholder"></script> - </span>
      <a data-ember-action="56">
        <script id="metamorph-88-start" type="text/x-placeholder"></script>
          Favorite this quote
        <script id="metamorph-88-end" type="text/x-placeholder"></script>
      </a>
    </span>
    <span class="report-quote"><a href="#">Report Quote</a></span>
  </div>
<script id="metamorph-71-end" type="text/x-placeholder"></script><script id="metamorph-72-end" type="text/x-placeholder"></script>

<a href="/anime/attack-on-titan/quotes" data-bindattr-57="57" class="btn btn-default">view all</a>
</div><div class="slider hidden" data-bindattr-58="58"><ul class="cast">
  <script id="metamorph-89-start" type="text/x-placeholder"></script><script id="metamorph-89-end" type="text/x-placeholder"></script>
</ul>
</div><div class="slider hidden" data-bindattr-59="59"><span><strong>Produced by: &nbsp;</strong></span>
<script id="metamorph-97-start" type="text/x-placeholder"></script><script id="metamorph-90-start" type="text/x-placeholder"></script>
  <span class="badge"><a href="javascript:void(0)"><script id="metamorph-98-start" type="text/x-placeholder"></script>Production I.G<script id="metamorph-98-end" type="text/x-placeholder"></script></a></span>
<script id="metamorph-90-end" type="text/x-placeholder"></script><script id="metamorph-91-start" type="text/x-placeholder"></script>
  <span class="badge"><a href="javascript:void(0)"><script id="metamorph-99-start" type="text/x-placeholder"></script>Mainichi Broadcasting<script id="metamorph-99-end" type="text/x-placeholder"></script></a></span>
<script id="metamorph-91-end" type="text/x-placeholder"></script><script id="metamorph-92-start" type="text/x-placeholder"></script>
  <span class="badge"><a href="javascript:void(0)"><script id="metamorph-100-start" type="text/x-placeholder"></script>Pony Canyon<script id="metamorph-100-end" type="text/x-placeholder"></script></a></span>
<script id="metamorph-92-end" type="text/x-placeholder"></script><script id="metamorph-93-start" type="text/x-placeholder"></script>
  <span class="badge"><a href="javascript:void(0)"><script id="metamorph-101-start" type="text/x-placeholder"></script>Kodansha<script id="metamorph-101-end" type="text/x-placeholder"></script></a></span>
<script id="metamorph-93-end" type="text/x-placeholder"></script><script id="metamorph-94-start" type="text/x-placeholder"></script>
  <span class="badge"><a href="javascript:void(0)"><script id="metamorph-102-start" type="text/x-placeholder"></script>Wit Studio<script id="metamorph-102-end" type="text/x-placeholder"></script></a></span>
<script id="metamorph-94-end" type="text/x-placeholder"></script><script id="metamorph-95-start" type="text/x-placeholder"></script>
  <span class="badge"><a href="javascript:void(0)"><script id="metamorph-103-start" type="text/x-placeholder"></script>Shingeki no Kyojin Team<script id="metamorph-103-end" type="text/x-placeholder"></script></a></span>
<script id="metamorph-95-end" type="text/x-placeholder"></script><script id="metamorph-96-start" type="text/x-placeholder"></script>
  <span class="badge"><a href="javascript:void(0)"><script id="metamorph-104-start" type="text/x-placeholder"></script>FUNimation Entertainment<script id="metamorph-104-end" type="text/x-placeholder"></script></a></span>
<script id="metamorph-96-end" type="text/x-placeholder"></script><script id="metamorph-97-end" type="text/x-placeholder"></script>



</div></div></div><script id="metamorph-105-start" type="text/x-placeholder"></script><script id="metamorph-105-end" type="text/x-placeholder"></script></div>