<span><strong>Produced by: &nbsp;</strong></span>
{{#each producers}}
  <span class="badge"><a href="javascript:void(0)">{{name}}</a></span>
{{/each}}
<hr>

<div class="col-sm-12 no-padding studio-name" style="position: absolute; padding: 60px; text-align: center; font-size: 1.4em; font-weight: bold; z-index: 10">
  <span style="padding: 10px; border-radius: 6px; background-color: rgba(150,150,150,0.4)">
    (coming soon)
  </span>
</div>
<div class="col-sm-12 rounded-block clearfix no-padding-right" style="opacity: 0.2">
  <div class="col-sm-12 no-padding studio-name">
    produced by <strong>Shaft</strong>, also known for:
  </div>
  <div class="col-xs-2 no-padding-left">
    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/003/919/thumb/Watanabe-Hitagi0-650x856.jpg?1377464077">
  </div>
  <div class="col-xs-2 no-padding-left">
    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/003/919/thumb/Watanabe-Hitagi0-650x856.jpg?1377464077">
  </div>
  <div class="col-xs-2 no-padding-left">
    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/003/919/thumb/Watanabe-Hitagi0-650x856.jpg?1377464077">
  </div>
  <div class="col-xs-2 no-padding-left">
    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/003/919/thumb/Watanabe-Hitagi0-650x856.jpg?1377464077">
  </div>
  <div class="col-xs-2 no-padding-left">
    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/003/919/thumb/Watanabe-Hitagi0-650x856.jpg?1377464077">
  </div>
  <div class="col-xs-2 no-padding-left">
    <img class="series-poster" src="http://static.hummingbird.me/anime/cover_images/000/003/919/thumb/Watanabe-Hitagi0-650x856.jpg?1377464077">
  </div>
</div>
