html { overflow-y: auto; }

/* Development Styles */
.profiler-results {
  display: none;
}

/* Global Header */
.navbar-temporary {
  display: none;
  float: right;
  position: relative;
  right: 100px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  line-height: 50px;
  text-align: center;

  i {
    color: #999999;
    font-size: 25px;
    position: relative;
    top: -4px;
  }

  &:hover { i { color: white; }}
}

img, iframe {
  max-width: 100%;
}

.fb_iframe_widget iframe {
  max-width: none !important;
}

.navbar-brand {
  background-image: url("/assets/logo-sprite.png");
  background-position: 0 -112px;
  background-size: 119px 70px;
  width: 119px;
  height: 20px;
  position: relative;
  margin-left: 0 !important;
  margin-right: 20px;
  top: 8px;

  @media (max-width: 768px) {
    background-position: -2px 0;
    background-size: 105px 60px;
    width: 34px;
    height: 40px;
    top: 8px;
    left: 15px;
  }
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.quick-update ~ .notifications {
  top: 304px !important;
}

.hb-nav {
  background-color: $navy;
  border: none;
  @media (max-width: 768px) {
    .container { padding: 0; }
    .navbar-header {
      padding: 0 15px;
    }

    .navbar-visible,
    .navbar-temporary { display: block !important; }

    .navbar-collapse {
      margin: 0;
      padding: 0;
      .dropdown-menu {
        &:hover { background-color: none; }

        &::after,
        &::before { display: none; }

        a {
          padding: 10px 20px !important;
          border-bottom: none;
        }
      }
    }

    .navbar-permanent {
      background-color: #272C33;
      float: left;
      margin: 0;
      padding: 0;
      .user-area {
        position: absolute;
        top: 0px;
        right: 0;
        width: 50px !important;
        display: inline-block;
        .navbar-avatar {
          text-align: left;
        }
      }

      .notifications {
        position: absolute;
        top: 0px;
        right: 50px;
        width: 50px !important;
      }

      li {
        float: left;
        height: 50px;
        a {
          display: inline-block;
          text-align: center;
          line-height: 50px;
          margin: 0;
          padding: 0;
        }
      }

      &.navbar-permanent-left {
        width: 25%;
        border-top: 1px solid #000;
        li { width: 100%; }
      }

      &.navbar-permanent-right {
        width: 75%;
        border-top: 1px solid #000;
        li { width: 33.333%; }
      }
    }
  }

  .user-area {
    .dropdown-menu {
      @extend .clearfix;

      left: inherit;
      right: 0;
      position: absolute !important;

      li {
        background: #fff;
        width: 100% !important;

        a {
          width: 100% !important;
          padding: 15px !important;
          background: #fff;
          border-radius: 0 !important;

          &:hover {
            color: #999999 !important;
          }
        }
      }
    }
  }

  .notification-dropdown {
    left: inherit;
    position: absolute !important;
    right: -50px;

    .no-notifications{
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }

    li {
      background: #fff;
      width: 100% !important;

      a {
        width: 100% !important;
        padding: 15px !important;

        &:hover {
          color: #999999 !important;
        }
      }
    }

    &:before, &:after {
      right: 67px !important;
    }
  }

  .dropdown {
    background-color: $darkNavy;
    font-family: $headerFontFamily;
    font-size: 16px;

    &:hover {
      background-color: darken($darkNavy, 2);
    }

    &.active .dropdown-toggle {
      background-color: darken($darkNavy, 2);
    }
  }

  .dropdown-menu {
    margin-top: 20px;
    border-radius: 0px;
    padding-top: 0;
    padding-bottom: 0;

    a {
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      padding-top: 10px;

      &:hover {
        color: $darkOrange;
        background: $lightEggshell;
      }
    }

    li:first-child a {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
    li:last-child a {
      border-bottom: none;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:after, &:before {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 8px;
      margin-left: -8px;
    }

    &:before {
      border-bottom-color: rgba(0, 0, 0, 0.30);
      border-width: 9px;
      margin-left: -9px;
    }

    &.left-nav-section {
      &:after {
        left: 25px;
      }

      &:before {
        left: 25px;
      }
    }

    &.right-nav-section {
      &:after {
        right: 25px;
      }

      &:before {
        right: 25px;
      }
    }
  }

  .header-item {
    text-align: center;
    height: 50px;

    &:hover {
      background-color: darken($darkNavy, 2);
    }

    &.notifications {
      .notification-link {
        min-width: 50px;
        text-align: center;
        &.hasNew { color: #e57c48; }
      }
    }

    .dropdown-menu {
      min-width: 250px;
    }

    .view-all {
      text-align: center;
    }
  }

  .searchbar {
    padding: 0;

    @media (max-width: 768px) {
      float: right;
      width: 100% !important;
      text-align: right !important;
    }

    form {
      display: inline;
    }

    .search-link {
      display: inline-block;
      text-align: center;
      width: 50px;
      padding: 15px;
      line-height: 20px;
      @media (max-width: 768px) {
        padding: 0px;
        line-height: 50px;
      }

      .fa {
        position: relative;
        bottom: auto;
      }
    }

    .search-field {
      display: inline-block;
      width: 240px;
      margin-left: 5px;
      background: none;
      border: none;
      border-bottom: 1px solid #aaa;
      color: #fff;

      &:focus { outline: none; }
      @media (min-width: 768px) { margin: 13px 0 12px 20px; }
      @media (max-width: 768px) { width: 150px; }
    }

    .search-dropdown {
      background: darken($darkNavy, 2);
      border-radius: 0 0 4px 4px;
      max-width: 300px;
      overflow: hidden;

      .search-result {
        text-align: left;
        border-top: 1px solid darken($darkNavy, 1);
        position: relative;

        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 10px;
          margin: 0;
          transition: .1s ease-in;

          &:hover {
           background: lighten($darkNavy, 5);
          }
        }

        .search-result-thumb {
          float: left;
          height: 30px;
          width: 30px;
          border: 1px solid #2c3239;
          border-radius: 3px;
          margin-right: 10px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        .search-result-title {
          color: #fff;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-right: 60px;
          line-height: 30px;
        }

        .search-result-badge {
          font-size: 0.7em;
          font-weight: normal;
          position: absolute;
          right: 15px;
          top: 15px;

          &.anime { background: #3A5FCD; }
          &.manga { background: #836FFF; }
          &.user  { background: #6959CD; }
        }

        .search-result-break {
          clear: both;
        }
      }

      .show-more {
        text-align: center;

        a {
          color: #fff;
          text-transform: uppercase;
          font-size: 0.7em;
          font-weight: bold;
          opacity: 0.8;
          letter-spacing: 1px;
        }
      }
    }
  }

  .form-group {
    // @media (min-width: 768px) {
    //   width: 25%;
    //   position: absolute;
    //   text-indent: 15px;
    // }

    .form-control {
      color: $orange;
      font-size: 18px;
      font-family: $headerFontFamily;
    }

    &:focus {
      outline: none;
    }
  }

  .fa-search {
    color: #999;
    position: absolute;
    z-index: 1;
    bottom: 19px;
  }

  .form-control {
    border: none;
    box-shadow: none;
    font-size: 18px;
    font-weight: 300;
    @media (min-width: 768px) {
      background-color: #2f343b;
    }
  }

  .fa-bell-o {
    color: pink;
    font-size: 22px;
    position: relative;
    top: -2px;

    .notification-count {
      display: none;
    }

    &.active {
      color: $orange;

      .notification-count {
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 19px;
        background: $darkNavy;
        border: 1px solid $orange;
      }
    }
  }

  .user-area {
    .dropdown-menu.right-nav-section {
      i.fa {
        opacity: 0.6;
        margin-right: 6px;
      }
    }
  }

  .mobile-user-nav {
    margin-bottom: 0px;
    margin-top: 0px;

    .header-item, .user-area {
      float: right;
    }

    .user-area {
      .dropdown-menu {
        right: 10px;
        left: inherit;

        &.right-nav-section {
          &:after {
            right: 15px !important;
          }

          &:before {
            right: 14px !important;
          }
        }
      }
    }

    .header-item {
      .dropdown-menu {
        right: -40px;
        left: inherit;
        min-width: 0px;
        width: 300px;

        &.right-nav-section {
          &:after {
            right: 65px !important;
          }

          &:before {
            right: 64px !important;
          }
        }
      }
    }
  }

  .navbar-avatar {
    width: 50px;
    height: 50px;
    padding-left: 0;

    img {
      position: absolute;
      top: 0;
      width: 50px;
      height: 50px;
      border-radius: 0;
    }
  }
}

// Footer 
.footer-shadow {
  @extend .clearfix;
  background: #E6E6E6;
  width: 100%;
  min-height: 100vh;
  z-index: 3;
  position: relative;
  box-shadow: 0 0 25px 10px rgba(20,20,30,0.2);
}

.global-footer {
  background: #4B5360;
  width: 100%;
  clear: both;
  padding-bottom: 80px;
  .footer-contents {
    padding-bottom: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .site-footer-links {
    margin: 0;
    list-style: none;
    color: #9aa4b4;
    font-size: 14px;
    position: relative;
    top: 74px;
    li {
      display: inline-block;
      line-height: 16px;
      a {
        color: #cfd6e2;
        margin-left: 10px;
      }
    }
  }
  // .footer-logo {
  //   position: absolute;
  //   top: 5px;
  //   left: 50%;
  //   height: 200px;
  //   width: 200px;
  //   margin-left: -100px;
  //   font-size: 24px;
  //   color: #ccc;
  //   background: url("https://hummingbird.me/footer-logo.png");
  //   background-size: cover;
  //   opacity: .5;
  //   transition: .2s ease-in;
  //   &:hover {
  //     opacity: 1;
  //   }
  // }
  .right {
    float: right;
    top: 58px;
  }
}

.footer-avatar {
  img {
    width: 30px;
    border-radius: 50%;
  }
}
.footer-heart {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  .fa-heart {
    color: #dc6767;
    position: absolute;
    padding: 0px 5px;
    top: 0px;
    left: -6px;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 2s;
    -moz-animation-name: wave;
    -webkit-animation-name: wave;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-font-smoothing: antialiased;
    
    /* Boost hardware acceleration where possible */
    -webkit-transform: scale(1) translate3d(0px,0px,0px);
    -moz-transform: scale(1) translate3d(0px,0px,0px);
    -o-transform: scale(1) translate3d(0px,0px,0px);
    transform: scale(1) translate3d(0px,0px,0px);
  }
}

.hb-luvs {
  background: url(../footer-logo.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  position: relative;
  top: 9px;
  display: inline-block;
}

.demo-ad {
  width: 160px;
  height: 600px;
  background: $darkEggshell;
  border: 1px solid $lightGrey;
}

.video-embed {
  @extend .col-sm-12;
  padding: 15px 0 0 0;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.follow-panel-wrapper {
  @extend .col-sm-3;
  padding: 5px;
}

.follow-panel {
  @extend .panel;
  @extend .default-panel;

  min-height: 250px;
  margin-bottom: 0;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;

  .follow-cover {
    height: 100px;
    background: #ddd;
    background-size: cover;
    background-position: center center;
  }

  .user-avatar {
    padding-left: 10px;
    padding-right: 20px;
    position: absolute;
    top: 100px;
    width: 100%;
    .follow-button {
      padding: 5px 20px;
      margin-top: 16px;
      font-size: 16px;
      float: right;
    }

    img {
      width: 60px;
      position: relative;
      top: -15px;
    }
  }

  .mini-bio {
    height: 65px;
    overflow: hidden;
    word-wrap: break-word;
  }

  .user-info {
    margin-top: 50px;
    padding: 0 10px;

    a {
      color: #333;
      transition: .1s ease-in;

      &:hover {
        color: $orange;
      }
    }
  }
}

.whotofollow {
  @extend .clearfix;

  padding: 15px;
  padding-bottom: 0;
  border-bottom: 1px solid #ddd;
  transition: all 3s ease;

  &:nth-child(3n) {
    border-bottom: none;
  }

  .follow-button {
    padding: 2px 30px;
    &.unfollow {
      padding: 2px 15px !important;
    }
  }

  h4 {
    margin-top: 7px;
  }

  .follow-bio {
    @extend .col-sm-12;
    margin-top: 10px;
    padding: 0;
  }

  .follow-image {
    @extend .col-sm-2;
    padding: 0;
  }
}


@keyframes spaceboots {
  0% { transform: translate(2px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(0px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(0px, 2px) rotate(0deg); }
  70% { transform: translate(-3px, 0px) rotate(1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(-1px, -2px) rotate(-1deg); }
  100% { transform: translate(2px, 1px) rotate(0deg); }
}

@-moz-keyframes wave {
    from {
      font-size: 20px;
    }
    10%{
      font-size: 22px;
    }
    15%{
      font-size: 20px;
    }
    20% {
      font-size: 24px;
    }
    50% {
      font-size: 20px;
    }
    to {
      font-size: 20px;
    }
  }

  @-webkit-keyframes wave {
    from {
      font-size: 20px;
    }
    10%{
      font-size: 22px;
    }
    15%{
      font-size: 20px;
    }
    20% {
      font-size: 24px;
    }
    50% {
      font-size: 20px;
    }
    to {
      font-size: 20px;
    }
  }

.shake {
  animation-name: spaceboots;
  animation-duration: 3.5s;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 1;
  transition: .1s ease-in;
  &:hover {
    animation-play-state: paused;
    opacity: .6;
    cursor: move;
  }
}

.shake {
  display:inline-block
}
