.hummingbird-footer
  - if session[:recently_viewed] and session[:recently_viewed].length > 0
    .history-bar.hide-for-small
      %footer.row
        .large-12.columns
          .recently-viewed
            %h1 Recently Viewed
            %ul
              - animes = {}
              - Anime.where(:slug => session[:recently_viewed]).each {|a| animes[a.slug] = a }
              - session[:recently_viewed].each do |slug|
                - if animes[slug]
                  %li.large-2.columns.has-tip.tip-top{"data-width" => "210", :title => animes[slug].canonical_title(current_user)}= link_to image_tag(animes[slug].cover_image.url(:thumb)), main_app.anime_path(animes[slug])

  .bottom-bar
    %footer.row
      .large-12.columns
        .row.footer
          .large-3.columns
            %span.footer-logo Hummingbird
          .large-9.columns
            %ul.link-list.right
              %li
                %a{:href => "/anime"} Discover
              %li
                = link_to "Dashboard", "/dashboard"
              %li
                = link_to "Community", forem.root_path
              %li
                = link_to "Contact Us", "mailto:josh@hummingbird.ly?cc=vikhyat@hummingbird.ly"
            / %ul.link-list.right.bottom-list
            /   %li
            /     %a{:href => "#"} About Hummingbird
            /   %li
            /     %a{:href => "#"} Press
            /   %li
            /     %a{:href => "#"} Terms of Service
            /   %li
            /     %a{:href => "#"} Privacy Policy
            /   %li
            /     %a{:href => "http://www.hummingbird.u"} Contact Us
