.hummingbird-footer
  .bottom-bar
    %footer.row
      .twelve.columns
        .row.footer
          .three.columns
            %span.footer-logo Hummingbird
          .nine.columns
            %ul.link-list.right
              %li
                %a{:href => "#"} Discover
              %li
                %a{:href => "#"} Dashboard
              %li
                %a{:href => "#"} Community
            %ul.link-list.right.bottom-list
              %li
                %a{:href => "#"} About Hummingbird
              %li
                %a{:href => "#"} Press
              %li
                %a{:href => "#"} Terms of Service
              %li
                %a{:href => "#"} Privacy Policy
              %li
                %a{:href => "#"} Contact Us

