:css
  .sotm img {max-width: 90%;}

.large-12.columns.no-padding.forum-block.rounded-panel.hide-for-small
  .large-12.columns
    %h4 November Shirt of the Month
  %hr
  %ul.sotm{:style => "text-align: center; padding-top: 15px;"}
    = link_to image_tag("sotm-oct.png"), 'http://shop.hummingbird.me/products/shirt-of-the-month-1'
