.forum-sidebar.three.columns
  %ul
    %li
      %span{:class => ('active' if active_forum.nil?)}= link_to "Hummingbird Discussion", forem.root_path
    - Forem::Forum.all.each do |forum|
      %li
        %span{:class => ('active' if active_forum == forum)}= link_to forum.title, forem.forum_path(forum)
