:css
  .sotm img {max-width: 90%;}

.large-12.columns.no-padding.forum-block.rounded-panel.hide-for-small
  %ul.sotm{:style => "text-align: center; padding-top: 15px;"}
    = link_to "http://hummingbird.me/2013/" do
      = image_tag "http://i.imgur.com/C36CvjG.jpg"
