.forum-sidebar.large-3.columns
  %ul
    %li
      %span{:class => ('active' if active_forum.nil?)}= link_to "Recent Topics", forem.root_path
    - Forem::Forum.all.sort_by {|x| x.sort_order || 100 }.each do |forum|
      %li
        %span{:class => ('active' if active_forum == forum)}= link_to forum.title, forem.forum_path(forum)
