:css
  .sotm img {max-width: 90%;}

.large-12.columns.no-padding.forum-block.rounded-panel.hide-for-small
  .large-12.columns
    %h4 January Kitten of the Month
  %hr
  %ul.sotm{:style => "text-align: center; padding-top: 15px;"}
    = image_tag "http://placekitten.com/g/300/382"
