.reveal-modal.medium.onboarding#onboarding-modal
  %h2 Welcome to Hummingbird!

  .mal-import-section
    %p.lead
      If you have a MyAnimeList account, you can import your anime list.

    %form.mal-import
      .large-6.columns
        .row.collapse
          .small-9.columns
            %input(type="text" placeholder="MyAnimeList Username")
          .small-3.columns
            %a.button.prefix 
              %span
                Import
                %span.right
                  %i.icon-chevron-right
    
    .skip-this-step
      Skip this step
      %i.icon-chevron-sign-right

  .select-rating-system
    %p.lead
      Which rating system do you prefer?
    .simple.rating-system(data-system="simple")
      .row
        .small-5.columns
          Simple
        .small-7.columns
          %i.icon-smile
          %i.icon-meh
          %i.icon-frown

    .advanced.rating-system(data-system="advanced")
      .row
        .small-5.columns
          Advanced
        .small-7.columns
          %i.icon-star
          %i.icon-star
          %i.icon-star
          %i.icon-star-half-empty
          %i.icon-star-empty

    .skip-this-step
      Skip this step
      %i.icon-chevron-sign-right

  .check-out-your-library
    %p.lead
      Your account is all set up now.
      = link_to "Check out your library!", user_watchlist_path(current_user)

:coffee
  $("#onboarding-modal").foundation('reveal', 'open')

  $("#onboarding-modal form").submit ->
    $("#onboarding-modal form a").click()
    return false
  
  $("#onboarding-modal form a").click ->
    mal_username = $("#onboarding-modal form input").val()
    if mal_username.length > 0
      $("#onboarding-modal form a span").fadeOut ->
        $("#onboarding-modal form a").html $("<i class='icon-spin icon-spinner'></i>")
      $.post "/imports/myanimelist/new.json", {mal_username: mal_username}, (d) ->
        if d
          checkImportProgress()
        else
          alert "Something went wrong, couldn't import anime list."

  checkImportProgress = ->
    $.get "/imports/status.json", (d) ->
      if d
        $.get "/recommendations"
        $("#onboarding-modal form.mal-import a").html $("<i class='icon-ok'></i>")
        importDone()
      else
        setTimeout checkImportProgress, 2000

  $(".mal-import-section .skip-this-step").click ->
    importDone()

  importDone = ->
    $("#onboarding-modal .mal-import-section").slideUp()
    $("#onboarding-modal .select-rating-system").slideDown()
      
  $(".select-rating-system .rating-system").click ->
    system = $(this).attr "data-system"
    $(this).addClass "active"
    $(".select-rating-system .skip-this-step").html $("<i class='icon-spin icon-spinner'></i>")
    $.post "#{user_update_setting_path(current_user)}", {rating_system: system}, (d) ->
      if d
        ratingSelectionDone()
      else
        alert "Something went wrong, could not save rating preference."
  
  $(".select-rating-system .skip-this-step").click ->
    ratingSelectionDone()

  ratingSelectionDone = ->
    $("#onboarding-modal .select-rating-system").slideUp()
    $("#onboarding-modal .check-out-your-library").slideDown()
