.row
  .small-10.columns.small-centered
    .panel
      %h1.center= title "API Documentation (WIP)"
      %hr

      .alert-box
        Note: This document is still a work in progress.

      %h3 Introduction
      %h3 Authentication
      %h3 Library Updates
