:css
  .hummingbird-header-1, .footer {
    display: none;
  }

.guest-home
  .row
    .large-11.columns.large-centered.center
      = image_tag "h-logo.png", :class => "h-logo"
      %h3.guest-tagline Track, share and discover new anime.
      .large-6.columns.large-centered.cf
        .large-7.columns
          %a.button.padded.facebook-guest{:href => "#"} <i class="icon-facebook-sign"></i> Sign up with Facebook
        .large-5.columns
          %a.button.email-button.padded.secondary{:href => "#"} Sign up with email
      %p.existing-user Already have an account? <a href="#">Log in now</a>
      .large-12.columns.bottom-section
        .splash

-# .guest-home
-#   // Nav Bar
-#   .row.guest-nav
-#     .large-12.columns
-#       .small-6.columns
-#         = image_tag "h-logo.jpg", :class => "h-logo"
-#       .small-6.columns

-#         %p.right.hide-for-small.login-link 
-#           Already a Member?
-#           = link_to "Login, we missed you!", main_app.new_user_session_path
-#         %p.right.show-for-small.login-link
-#           = link_to "Login, we missed you!", main_app.new_user_session_path

-#   // Tagline Area
-#   .row.tagline-area
-#     .large-12.columns
-#       %h1.center.tagline.hide-for-small Track, Share and Discover New Anime
-#       %h3.center.small-tagline.show-for-small Track, Share and Discover New Anime
-#       .large-8.columns.large-centered
-#         %p.center.flavor-text
-#           %i.hide-for-small Hummingbird is an anime discovery platform that gives you personalised recommendations based on the anime you love.

-#   // Top CTA
-#   .row.top-cta
-#     .large-6.columns.large-centered
-#       = form_for BetaInvite.new, url: beta_invites_path do |f|
-#         .large-8.columns.no-padding
-#           = f.email_field :email, placeholder: "Enter Email Address..."
-#         .large-4.columns.no-padding-right.cta-button
-#           = f.submit "Request Invite", class: 'button expand'

-#   // Screenshot Banner
-#   .row.screenshot-banner.hide-for-small
-#     .large-12.columns.mac-pro
-#       = image_tag "mac-pro.png"

-#   // Main features
-#   .row.main-features
-#     .large-12.columns
-#       .large-4.columns
-#         %h3 
-#           %i.icon-book
-#           Curate your library
-#         %hr
-#         %p Easily track your Library of anime you’ve watched, plan to watch and are currently watching. Watch anime via Hulu, Crunchyroll and Netflix and more.
-#       .large-4.columns
-#         %h3 
-#           %i.icon-th-list 
-#           Create & share lists
-#         %hr
-#         %p Compile and Share lists of anime such as ‘Series that makes me cry’, ‘Shows to watch with friends’, etc. Share your list for suggestions from friends to perfect it!
-#       .large-4.columns
-#         %h3 
-#           %i.icon-group
-#           Follow your friends
-#         %hr
-#         %p Find and follow your friends to see what they’re watching, enjoying and discussing and give personal recommendations on what to watch next.
-#     %hr

-#   // Recommendation Examples
-#   #recommendationExample

-#   // Tagline Area
-#   .row 
-#     .large-12.columns
-#       %p.center.secondary-cta-tagline.hide-for-small The easiest way to track, share and discover new anime. <strong>Request your invite now - Free.</strong>
-#       %p.center.mobile-cta-tagline.show-for-small <strong>Request your invite now - Free.</strong>

-#   // Bottom CTA
-#   .row.bottom-cta
-#     .large-6.columns.large-centered
-#       = form_for BetaInvite.new, url: beta_invites_path do |f|
-#         .large-8.columns.no-padding
-#           = f.email_field :email, placeholder: "Enter Email Address..."
-#         .large-4.columns.no-padding-right.cta-button
-#           = f.submit "Request Invite", class: 'button expand'


-# %script(type="text/template" id="RecommendationExampleTemplate")
-#   .row 
-#     .large-12.columns
-#       %p.center.find-anime <strong>Find Anime</strong> based on your unique taste
-#       %p.center.find-anime-description.hide-for-small With Hummingbird you’ll get a refreshingly simple way to discover new anime. 
-#       .small-12.large-8.columns.large-centered
-#         %form.hide
-#           .large-12.columns.recommendation-area
-#             %input{:placeholder => "Try us with your favorite anime...", :type => "text", :class => "recommendation-input"}
-#             %i.icon-search.search-button
              
-#         %h3.center.hide-for-small If you liked <a href="{{url}}">{{title}}</a>, you may also like...
-#         %h4.center.show-for-small If you liked <a href="{{url}}">{{title}}</a>, you may also like...

-#   // Recommendation Grid
-#   .row
-#     .large-12.columns.no-padding.recommendations.large-centered
-#       {{#similar}}
-#       .small-6.large-2.columns.no-padding.recommendation
-#         %img(class="no-padding" src="{{cover_image}}")
-#         .large-12.columns.meta-wrapper
-#           .meta-data
-#             %p 
-#               %h5.anime-title <a href="{{url}}">{{title}}</a>
-#             //%p {{#genres}} {{name}} ·{{/genres}}
-#             %a(href="javascript: void(0)" class="more-like-this" onClick="$(this).find('i.icon.icon-refresh').addClass('icon-spin'); updateRecommendationExample('{{id}}')")
-#               %i.icon.icon-refresh
-#               More Like This
            
-#       {{/similar}}
    

-# :coffee
-#   recommendationExampleTemplate = Hogan.compile $("#RecommendationExampleTemplate").html()
  
-#   @updateRecommendationExample = (slug) ->
-#     $.getJSON "/api/v1/anime/" + slug, (anime) ->
-#       $.getJSON "/api/v1/anime/" + slug + "/similar?limit=6", (similar) ->
-#         $("#recommendationExample").html recommendationExampleTemplate.render
-#           title: anime.title
-#           url: anime.url
-#           similar: similar
-#     return false

-#   updateRecommendationExample "steins-gate"


