:css
  .hummingbird-header-1, .footer {
    display: none;
  }
  body.guest-padding {
    background-color: #333;
    background-image: url(/assets/guest-bg.jpg);
  }

.guest-home
  .row
    .large-11.columns.large-centered.center
      = image_tag "h-logo.png", :class => "h-logo animated fadeInSlow"
      %h3.guest-tagline.animated.fadeInDown Track, share and discover new anime.

      .large-6.columns.large-centered.cf.user-register.animated.fadeInDown
        .large-7.columns
          %a.button.padded.facebook-guest{:href => omniauth_authorize_path(User, :facebook)} <i class="fa fa-facebook-square"></i> Sign up with Facebook
        .large-5.columns
          %a.button.email-button.padded.secondary{:href => new_registration_path(User)} Sign up with email
      %p.existing-user.animated.fadeInDown 
        Already have an account? 
        = link_to "Log in now", new_session_path(resource_name)
      .social-buttons.animated.fadeInSlower
        .fb-like{"data-href" => "https://www.facebook.com/pages/Hummingbird/460188747373182", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}
        %a.twitter-share-button{"data-text" => "I just joined Hummingbird to track, share and discover new anime!", "data-url" => "http://www.hummingbird.me", "data-via" => "hummingbird_me", :href => "https://twitter.com/share"} Tweet

        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      .large-12.columns.bottom-section
        .splash
