.six.columns.centered
  %h1= title "Privacy Policy"
  %hr
  %blockquote
    %em "I maintain there is much more wonder in science than in pseudoscience.  And in addition, to whatever measure this term has any meaning, science has the additional virtue, and it is not an inconsiderable one, of being true."
    %br
    %br
    &mdash; Carl Sagan, The Burden Of Skepticism, The Skeptical Inquirer, Vol. 12, Fall 87
