.row
  .large-6.columns.large-centered
    %h1= title "Privacy Policy"
    %hr
    %p
      This privacy policy (“Policy”) describes how Hummingbird Media, LLC and its related companies (“Company”) collect, use and share personal information of consumer users of this website, http://www.hummingbird.me (the “Site”). This Policy also applies to any of our other websites that post this Policy. This Policy does not apply to websites that post different statements.

    %h3 WHAT WE COLLECT

    %p We get information about you in a range of ways. 

    %p Information You Give Us. 

    %p 
      We collect your‎ ‎ name,‎ email address,‎ username,‎ password,‎ demographic information (such as your gender and occupation), Social Media Information and other information you directly give us on our Site.

    %p Information We Get from Others. 

    %p
      We may get information about you from other sources. We may add this to information we get from this Site.

    %p Information Automatically Collected. 

    %p
      We automatically log information about you and your computer. For example, when visiting our Site, we log ‎ your computer operating system type,‎ browser type,‎ browser language,‎ the website you visited before browsing to our Site,‎ pages you viewed,‎ how long you spent on a page,‎ access times,‎ Internet protocol (IP) address and information about your use of and actions on our Site.   

    %p
      Cookies. We may log information using "cookies." Cookies are small data files stored on your hard drive by a website. Cookies help us make our Site and your visit better. We use cookies to see which parts of our Site people use and like and to count visits to our Site.

    %p
      Web Beacons. We may log information using digital images called Web beacons on our Site or in our emails. We use Web beacons to manage cookies, count visits, and to learn what marketing works and what does not.  We also use Web Beacons to tell if you open or act on our emails.

    %h3 USE OF PERSONAL INFORMATION

    %p We use your personal information as follows:

    %p
      We use your personal information to operate, maintain, and improve our sites, products, and services.
      We use your personal information to respond to comments and questions and provide customer service.
      We use your personal information to send information including confirmations, invoices, technical notices, updates, security alerts, and support and administrative messages.
      We use your personal information to communicate about promotions, upcoming events, and other news about products and services offered by us and our selected partners.
      We use your personal information to provide and deliver products and services customers request.

    %h3 SHARING OF PERSONAL INFORMATION

    %p We may share personal information as follows:

    %p We may share personal information with your consent. For example, you may let us share personal information with others for their own marketing uses. Those uses will be subject to their privacy policies.
    We may share personal information when we do a business deal, or negotiate a business deal, involving sale or transfer of all or a part of our business or assets. These deals can include any merger, financing, acquisition, or bankruptcy transaction or proceeding.
    We may share personal information for legal, protection, and safety purposes.
    We may share information to comply with laws.
    We may share information to respond to lawful requests and legal process.
    We may share information to protect the rights and property of Hummingbird Media, LLC, our agents, customers, and others. This includes enforcing our agreements, policies, and terms of use.
    We may share information in an emergency. This includes protecting the safety of our employees and agents, our customers, or any person.
    We may share information with those who need it to do work for us.
    We may also share aggregated and/or anonymized data with others for their own uses.

    %h3 INFORMATION CHOICES AND CHANGES

    %p Our marketing emails tell you how to “opt-out.” If you opt out, we may still send you non-marketing emails. Non-marketing emails include emails about your accounts and our business dealings with you.

    %p You may send requests about personal information to our Contact Information below.  You can request to change contact choices, opt-out of our sharing with others, and update your personal information.

    %p You can typically remove and reject cookies from our Site with your browser settings. Many browsers are set to accept cookies until you change your settings. If you remove or reject our cookies, it could affect how our Site works for you.    

    %h3 SECURITY OF YOUR PERSONAL INFORMATION

    %p We take steps to help protect personal information. No company can fully prevent security risks, however.  Mistakes may happen. Bad actors may defeat even the best safeguards.

    %h3 CONTACT INFORMATION

    %p We welcome your comments or questions about this Privacy Policy.  You may also contact us at our address: 3633 N Ashland Ave, Chicago IL 60613

    %h3 CHANGES TO THIS PRIVACY POLICY

    %p We may change this Privacy Policy. If we make any changes, we will change the Last Updated date below. 

    %p This Privacy Policy was last Updated on 4/4/2013.
