# this config needs haproxy-1.1.28 or haproxy-1.2.1

global
  pidfile /var/run/haproxy.pid
  log 127.0.0.1 local0 info
  maxconn 4096
  user haproxy
  group haproxy
  daemon

defaults
  mode http

  contimeout	5000
  clitimeout	50000
  srvtimeout	50000

  retries         3
  option          redispatch
  maxconn         2000

  log	          global
  option	  httplog
  option	  dontlognull

  balance         roundrobin

  stats enable
  stats hide-version
  stats scope   .
  stats uri     /haproxy?stats
  stats realm   HAProxy\ Statistics
  stats auth    radiiquark:KarasuKarasu

  errorfile 503   /u/apps/hummingbird/current/public/503.html

frontend http-in
  bind :80

  acl correct_host hdr(host) hummingbird.me
  acl s3_proxy     hdr(host) static.hummingbird.me

  redirect prefix http://hummingbird.me code 301 unless correct_host or s3_proxy

  use_backend varnish if s3_proxy
  default_backend webserver
  
backend webserver
  {% for host in groups['webservers'] %}
  server fe{{loop.index}} {{hostvars[host]['ansible_eth0']['ipv4']['address']}}:3000
  {% endfor %}

  option httpchk GET /

backend varnish
  {% for host in groups['varnish'] %}
  server va{{loop.index}} {{hostvars[host]['ansible_eth0']['ipv4']['address']}}:7073
  {% endfor %}
