// User Library
.user-cover {
  height: 400px;
  overflow: hidden;
  position: relative;
  .cover-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    position: relative;
  }
  .user-info {
    position: absolute;
    width: 100%;
    max-width: 75rem;
    bottom: 40px;
    z-index: 10;
  }
  .primary-info {
    @extend .large-6;
    @extend .columns;
    float: left;
  }
  .cover-avatar {
    width: 105px;
    margin-right: 20px;
    margin-bottom: 15px;
    float: left;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 999em;
    border: 1px solid rgba(255,255,255,.1);
    img {
      border-radius: 999em;
    }
  }
  .cover-username {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .mini-bio {
    color: #fff;
    font-size: 14px;
    p {
      margin-bottom: 0;
    }
  }
  .follow-info {
    position: absolute;
    right: 0;
    .followers {
      margin-right: 10px;
    }
    .followers, .following {
      display: inline-block;
      width: 105px;
      height: 105px;
      border: 2px solid rgba(255,255,255,.2);
      border-radius: 999em;
      text-align: center;
      .bubble {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        h3 {
          margin-bottom: 0;
          font-size: 25px;
          line-height: 1;
          font-weight: 500;
          line-height: 1.1;
        }
        label {
          font-size: 12px;
        }
        h3, label {
          color: #fff;
          color: rgba(255,255,255,.8);
        }
      }
    }
  }
  .dark-overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    background: #000;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    z-index: 2;
  }
}

.user-nav {
  background: #fff;
  border-bottom: 1px solid $brown;
  li {
    border-right: 1px solid $brown;
    &:first-child {
      border-left: 1px solid $brown;
    }
    a {
      color: #8A8A8A;
      padding: 18px 1rem !important;
      font-size: 15px;
      &.active {
        font-weight: 600;
        color: #5D5D5D;
      }
    }
  }
  .follow-button {
    background: #16A085;
    color: #fff;
    padding: 8px 55px;
    float: right;
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 600;
  }
}

.library-list {
  background: #fff;
  border: 1px solid $brown;
  border-radius: 3px;
  margin-top: 30px;
  padding: 0;
  .nav-wrapper {
    padding: 15px;
  }
  .button {
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
    margin-bottom: 0;
    font-size: 12px;
  }
  .menu {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0;
    float: right;
    li {
      border-right: 1px solid #ddd;
      a {
        color: #333;
        font-size: 12px;
        &.active {
          background: #EFEFEF;
        }
      }
      &:last-child {
        border: none; 
      }
    }
  }
}

.search-library {
  .search-input {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
  }
}
.section-head {
  background: #EBEBEB;
  color: #727272;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 15px;
  .section-stats {
    float: right;
  }
}

.library-entry {
  @extend .clearfix;
  border-top: 1px solid #ddd;
  .entry-progress, .entry-rating, .entry-type {
    display: inline-block;
  }
  .entry-right {
    text-align: right;
  }
  .entry-progress {
    margin-right: 20px;
    padding-right: 20px;
    height: 25px;
    display: inline-block;
    border-right: 1px solid #ddd;
    font-weight: 600;
    input {
      padding: 1px 0;
      margin-top: -2px;
      width: 46px;
      float: left;
      text-align: center;
      border-radius: 3px;
      border: 1px solid #ddd;
    }
    .sep {
      padding: 0 0 0 10px;
    }
  }
  .entry-rating {
    margin-right: 20px;
    padding-right: 20px;
    text-align: center;
    min-width: 64px;
    display: inline-block;
    height: 25px;
    border-right: 1px solid #ddd;
  }
  .entry-type {
    display: inline-block;
    width: 42px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
  }
}

.entry-wrapper {
  @extend .clearfix;
  padding: 10px 0;
}
.library-dropdown {
  @extend .clearfix;
  background: #F4F4F4;
  padding-bottom: 15px;
  .drop-arrow {
    position: relative;
    height: 5px;
    margin-bottom: 15px;
    border-top: 1px solid #ddd;
    &:before, &:after {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:before {
      border-color: rgba(221,221,221,0);
      border-top-color: #ddd;
      border-width: 11px;
      left: 50%;
      top: -1px;
      z-index: 1;
      margin-left: -16px;
    }
    &:after {
      border-color: rgba(255,255,255,0);
      border-top-color: #fff;
      border-width: 10px;
      left: 50%;
      top: -1px;
      z-index: 2;
      margin-left: -15px;
    }
  }
  .personal-notes {
    border-radius: 3px;
    border: 1px solid #ddd;
    line-height: 33px;
    box-shadow: none;
    width: 100%;
    margin-bottom: 15px;
    padding: 0 10px;
  }
  .drop-thumb {
    max-width: 150px;
    border-radius: 3px;
  }
  .drop-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .genres {
    margin: 0;
    margin-bottom: 5px;
    li {
      display: inline;
      font-size: 0.9em;
      opacity: 0.8;
    }
  }
}

.rating-options {
  float: right;
  font-size: 22px;
  color: #9B9A9A;
}

.drop-options {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  .status-select, .dropdown-rating, .rewatch {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  .status-select {
    .button {
      background: #939393;
      color: #fff;
      width: 100%;
      border: none;
      font-weight: 600;
      font-size: 13px;
      padding: 15px 0;
      text-align: center;
    }
  }
  .rewatch {
    border-bottom: none;
    label {
      float: right;
      font-size: 12px;
      line-height: 36px;
    }
    input {
      width: 20px;
      text-align: center;
      border: none;
      font-weight: 600;
      color: #16A085;
    }
  }
}