@import 'foundation'; // CSS Framework used site-wide
@import 'settings'; // Foundation settings
@import 'colors'; // Colors used site-wide
@import 'mixins'; // CSS Mixins used site-wide

@import 'global'; // General CSS styles
@import 'library'; // User library page
@import 'media_browse'; // Browse anime, manga, drama, etc

// This includes all foundation components.
@include foundation-everything;
@include foundation-flex-grid;