.media-browse {
  margin-bottom: -50px;
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  .row {
    width: 100%;
  }
  .filter-options {
    background-color: $blueGrey;
    position: fixed;
    top: 51px;
    left: 0;
    width: 240px;
    padding: 10px;
    padding-top: 20px;
    bottom: 0;
    top: 51px;
    border-left: 1px solid darken($blueGrey, 10);
    transition: .2s ease-in;
    &.scrolled {
      top: 0;
    }
  }
  .filter-wrapper {
    height: 100%;
    overflow: auto;
  }

  .media-grid {
    position: relative;
    padding-left: 240px;
    padding-right: 15px;
    .media-posters {
      padding: 20px 0 0 15px;
      padding-right: 0;
      overflow: auto;
      padding-bottom: 75px;
    }
    .poster-wrapper {
      padding-left: 6px;
      padding-right: 6px;
      margin-bottom: 15px;
      width: 16.6%;
      min-width: 170px;
      position: relative;
      img {
        border-radius: 2px;
      }
      .media-title {
        color: #383D48;
        font-size: 12px;
        font-weight: 600;
      }
    }
    .grid-poster {
      position: relative;
      cursor: pointer;
      .poster-overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: -1px;
        left: 0;
        right: 0;
        border-radius: 3px;
        .shared-friends {
          position: absolute;
          left: 10px;
          bottom: 10px;
        }
        .friend-avatar img {
          border-radius: 999em;
          width: 30px;
        }
        .friend-count {
          background: rgba(255,255,255,.2);
          color: #fff;
          font-weight: 600;
          width: 30px;
          font-size: 13px;
          height: 30px;
          display: inline-block;
          text-align: center;
          border-radius: 999em;
          line-height: 30px;
          position: relative;
          margin-left: 5px;
          top: 1px;
        }
        .trailer .fa {
          border: 2px solid #fff;
          width: 30px;
          height: 30px;
          line-height: 27px;
          text-align: center;
          font-size: 13px;
          color: #fff;
          border-radius: 50%;
          position: absolute;
          bottom: 10px;
          right: 10px;
          opacity: .7;
        }
      }
      &:hover {
        .poster-overlay {
          opacity: 1;
          background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 100%);
          background-size: auto 200%;
        }
      }
    }
  }

  .search-media {
    position: fixed;
    left: 240px;
    right: 0;
    z-index: 1;
    top: 51px;
    transition: .2s ease-in;
    &.scrolled {
      top: 0;
    }
    &:before {
      content: '';
      position: absolute;
      right: -200px;
      width: 200px;
      height: 53px;
      border-bottom: 1px solid #ddd;
    }
    .fa {
      position: absolute;
      line-height: 50px;
      left: 20px;
      color: #8A8A8A;
    }
    input {
      padding: 15px 0 15px 50px;
      width: 100%;
      border: none;
      border-bottom: 1px solid #ddd;
    }
  }
  


  // Filter widgets
  .filter-widget {
    border-bottom: 1px solid darken($blueGrey, 10);
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  .filter-header {
    @extend .clearfix;
    .filter-title {
      float: left;
      color: $lightGrey;
      font-weight: 700;
    }
    .filter-values {
      float: right;
      color: #76818C;
      background: #3C424D;
      font-size: 12px;
      font-weight: 600;
      padding: 2px 10px;
      border-radius: 999em;
      position: relative;
      top: 3px;
    }
  }

  .filter-legend {
    @extend .clearfix;
    text-align: center;
    font-size: 12px;
    color: #778393;
    font-weight: 900;
    .low-value {
      float: left;
    }
    .high-value {
      float: right;
    }
  }

  .button {
    margin-bottom: 0;
    background: #3B414B;
    border-radius: 5px;
    margin-top: 20px;
    color: $lightGrey;
    font-weight: 600;
    text-align: left;
  }

  .button.dropdown::after {
    border-color: $lightGrey transparent transparent;
  }

  .box-select {
    @extend .clearfix;
    margin-top: 20px;
    .netflix, .hulu, .crunchyroll, .funimation, .anime-network, .animax, .animelab, .daisuki, .hanabee, .viewster, {
      background: url(/images/providers.png) no-repeat;
      display: inline-block;
      background-size: 320px 240px;
      cursor: pointer;
      opacity: .4;
      width: 100%;
      position: relative;
      top: 8px;
      height: 35px;
    }
    .netflix {
      background-position: 7px -35px;
    }
    .hulu {
      background-position: -23px -35px;
    }
    .crunchyroll {
      background-position: -59px -35px;
    }
    .funimation {
      background-position: -93px -35px;
    }
    .daisuki {
      background-position: -266px -32px;
    }

    ul {
      list-style-type: none;
      margin: 0;
    }
    li {
      float: left;
      background: #505868;
      width: 40px;
      height: 50px;
      border-radius: 2px;
      cursor: pointer;
      margin-bottom: 5px;
      margin-right: 4px;
      &:nth-child(5), &:nth-child(10) {
        margin-right: 0;
      }
      &:hover, &.active {
        background: lighten(#505868, 5);
        .netflix {
          background-position: 7px -4px;
          opacity: 1;
        }
        .hulu {
          background-position: -23px -4px;
          opacity: 1;
        }
        .crunchyroll {
          background-position: -57px -4px;
          opacity: 1;
        }
        .funimation {
          background-position: -93px -4px;
          opacity: 1;
        }
        .daisuki {
          background-position: -266px -3px;
          opacity: 1;
        }
      }
      &.active {
        background: #EDEEEF;
        &:hover {
          opacity: .8;
        }
      }
    }
  }

  .language-select {
    label {
      font-size: 12px;
      color: $lightGrey;
    }
    input {
      margin-bottom: 0;
    }
  }

  .rating-select {
    @extend .clearfix;
    margin-top: 20px;
    ul {
      list-style-type: none;
      margin: 0;
    }
    li {
      float: left;
      background: #505868;
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;
      color: $lightGrey;
      padding: 5px 10px;
      margin-right: 5px;
      border-radius: 2px;
      &.active {
        background: #EDEEEF;
        color: #383D48;
      }
      &:hover {
        background: lighten(#505868, 5);
      }
    }
  }

  .category-select {
    @extend .clearfix;
    margin-top: 20px;
    ul {
      list-style-type: none;
      margin: 0;
    }
    li {
      margin-bottom: 5px;
      a {
        color: #ACB4BF;
        font-weight: 600;
        display: block;
        padding: 3px 0px;
        background: #505868;
        border-radius: 2px;
        padding-left: 10px;
        font-size: 13px;
        &:hover {
          background: lighten(#505868, 5);
        }
      }
      &.active a {
        background: #EDEEEF;
        color: #383D48;
      }
    }
  }
  .slider {
    background-color: #383D48;
    height: 5px;
    border-radius: 999em;
    margin-bottom: 15px;
  }
  .slider-fill {
    background-color: #2EA291;
    height: 5px;
  }
  .slider-handle {
    border-radius: 999em;
    background-color: #1ABC9C;
    height: 14px;
    width: 14px;
    &:after {
      content: '';
      background: #2C3946;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -3px;
      margin-top: -3px;
      width: 6px;
      height: 6px;
      border-radius: 999em;
    }
  }
}

.media-trailer {
  padding: 0 !important;
  border-radius: 3px !important;
  .trailer-info {
    padding: 15px;
  }
  .info-header {
    border-bottom: 1px solid #ddd;
  }
  ul {
    list-style-type: none;
    margin: 0;
    li {
      display: inline-block;
    }
  }
}