/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  background-color: #383D48;
  border-radius: 999em;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 14px;
  height: 14px;
  border-radius: 999em;
  left: -14px;
  top: -5px;
  border: none;
  box-shadow: none;
  background-color: #1ABC9C;
  position: relative;
  &:after {
    content: '';
    background: #2C3946;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    border-radius: 999em;
  }
}
.noUi-horizontal .noUi-handle:after {
  content: '';
  background: #2C3946;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -3px;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  border-radius: 999em;
}
.noUi-horizontal .noUi-handle:before {
  display: none;
}
.noUi-horizontal .noUi-handle-lower {
  left: 0px;
}

/* Styling;
 */
.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0;
}
.noUi-connect {
  background: #2EA291;
  box-shadow: none;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
.noUi-origin {
  border-radius: 2px;
}
.noUi-target {
  border-radius: 4px;
  border: none;
  box-shadow: none;
}
.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB;
}