<div class="modal" style="display: block" {{action "close"}}>
  <div class="modal-dialog">
    <div class="modal-content" {{action bubbles=false}}>
      {{yield}}
      </div>
  </div>
</div>
<div class="modal-backdrop fade in"></div>
