<div class="community-widget-panel loading-state">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>

  <div class="panel-body">
    <ul class="latest-post-list">

        <li class="loading-post">
          <div class="loading-wrapper">
            <div class="loading-image">
              <div class="l-1"></div>
              <div class="l-2"></div>
              <div class="l-3"></div>
              <div class="l-4"></div>
              <div class="l-5"></div>
              <div class="l-6"></div>
            </div>
          </div>
          <hr>
        </li>

        <li class="loading-post">
          <div class="loading-wrapper">
            <div class="loading-image">
              <div class="l-1"></div>
              <div class="l-2"></div>
              <div class="l-3"></div>
              <div class="l-4"></div>
              <div class="l-5"></div>
              <div class="l-6"></div>
            </div>
          </div>
          <hr>
        </li>

        <li class="loading-post">
          <div class="loading-wrapper">
            <div class="loading-image">
              <div class="l-1"></div>
              <div class="l-2"></div>
              <div class="l-3"></div>
              <div class="l-4"></div>
              <div class="l-5"></div>
              <div class="l-6"></div>
            </div>
          </div>
          <hr>
        </li>

        <li class="loading-post">
          <div class="loading-wrapper">
            <div class="loading-image">
              <div class="l-1"></div>
              <div class="l-2"></div>
              <div class="l-3"></div>
              <div class="l-4"></div>
              <div class="l-5"></div>
              <div class="l-6"></div>
            </div>
          </div>
          <hr>
        </li>

        <li class="loading-post">
          <div class="loading-wrapper">
            <div class="loading-image">
              <div class="l-1"></div>
              <div class="l-2"></div>
              <div class="l-3"></div>
              <div class="l-4"></div>
              <div class="l-5"></div>
              <div class="l-6"></div>
            </div>
          </div>
        </li>

    </ul>
  </div>
</div>