<div class="panel-body status-panel">
  {{view Ember.TextArea class="status-form" placeholder="Write something..." rows="1" valueBinding="newPost"}}
</div>
<div class="panel-footer">
  <button class="btn status-button" {{action submitPost}} {{bind-attr class="inFlight:disabled"}}>Post</button>
</div>
