{{truncatedText}}

{{#if isTruncated}}
  <a {{action 'toggleExpansion'}} href="javascript:void(0)" style="font-size: 0.8em">
    {{#if expanded}}
      [show less]
    {{else}}
      [show more]
    {{/if}}
  </a>
{{/if}}
