{{#if currentSession.isAuthenticated}}
  <h1>Welcome, {{currentSession.account.name}}</h1>
{{else}}
  <h1>Dashboard</h1>
  {{link-to (t 'links.auth.sign-in') 'sign-in'}}
  {{link-to (t 'links.auth.sign-up') 'sign-up'}}
{{/if}}
