<div class="giftbox">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="xmas" x="0" y="0" viewBox="0 0 270.1 140.1" xml:space="preserve" enable-background="new 0 0 270.1 140.1">
    <style>
      .s0{
      overflow:visible;
      }
      .s1{
      clip-path:url(#SVGID_1_);
      fill:#D73F22;
      }
      .s2{
      clip-path:url(#SVGID_1_);
      fill:#4C4C4E;
      }
      .s3{
      fill:#FCB51D;
      }
      .s4{
      fill:#B61F2B;
      }

    </style>
    <g id="Presents">
      <g id="PresentB" class="box">
        <ellipse id="ShadowPresent" class="PresentBoxShadow" cx="188.2" cy="117.3" rx="81.8" ry="22.8" fill="#000"/>
        <g class="PresentBox">

          <rect x="146.8" y="72" width="66.2" height="49.5" fill="#D53938"/>
          <rect x="146.8" y="72.7" width="66.2" height="3.6" fill="#B6282E" class="boxTopShadow"/>
          <rect x="138" y="57.9" width="83.9" height="15.1" fill="#E85E4D" class="boxTop"/>
          <rect x="185" y="57.5" width="10.4" height="64" fill="#FCB51D" class="ribbonSide"/>

          <g class="PresentBoxRibbon">
            <polygon points="190.7 57.2 175.9 40.8 164.8 52.7 184.4 63.6 " fill="#FCB51D"/>
            <polygon points="184.4 63.5 163.9 61.1 164.8 52.6 " fill="#B61F2B"/>
            <polygon points="190.5 57.3 204.6 40.2 216.2 51.5 197.2 63.4 " fill="#FCB51D"/>
            <polygon points="197.2 63.4 217.5 60 216.2 51.5 " fill="#B61F2B"/>
          </g>

        </g>
      </g>

    </g>
  </svg>

</div>

<script>
/* Global Variables */
var $Presents = $('#Presents'),
    $box = $('.box'),
    $PresentB = $('#PresentB'),
    $sIcons = $('.sIcon'),
    $socialLinkP = $('.socialLinkP');

/* Jump Presents */
tlJumpPresent = new TimelineMax({paused: true});

$box.mouseenter(function(){

  $PresentBox = $(this).find('.PresentBox'),
    $PresentBoxShadow = $(this).find('.PresentBoxShadow');

  tlJumpPresent
  .to($PresentBox, 0.5, {scaleX: 0.8, transformOrigin:"bottom center", y: -20, ease:Power4.easeInOut})
  .to($PresentBox, 0.2, {scaleX: 1, transformOrigin:"bottom center", y: 0, ease:Bounce.easeOut})
  .to($PresentBoxShadow, 0.5, {scaleX: 0.8, transformOrigin:"bottom center", ease:Power4.easeInOut}, "0")
  .to($PresentBoxShadow, 0.2, {scaleX: 1, transformOrigin:"bottom center", ease:Bounce.easeOut}, "0.5");

  tlJumpPresent.play();

});

$box.click(function(){
  event.preventDefault();
  setTimeout(function () { window.location.href = 'https://forums.hummingbird.me/t/announcing-hummingbird-v3' }, 2000);

  $thisBox = this,
    $PresentBoxRibbon = $(this).find('.PresentBoxRibbon'),
    $PresentBoxTop = $(this).find('.boxTop'),
    $PresentBoxTopShadow = $(this).find('.boxTopShadow'),
    $PresentRibbonSide = $(this).find('.ribbonSide'),
    $socialLinkP = $(this).find('.socialLinkP');

  /* Open Present */
  tlOpenPresent = new TimelineMax({paused: true});
  tlOpenPresent
  .to($PresentBoxRibbon, 0.4, {yPercent: 252, ease:Power4.easeInOut})
  .to($PresentBoxTop, 0.4, {yPercent: -80, ease:Power4.easeOut}, "0")
  .to($PresentBoxTopShadow, 0.2, {autoAlpha: 0}, "0")
  .to($PresentRibbonSide, 0.4, {scaleY: 0.3, transformOrigin:"bottom center", onComplete: stopHover, onCompleteParams: [$thisBox]}, "0.2")

  .to($PresentBoxTop, 0.4, {rotation: -90, transformOrigin:"left center", ease:Power4.easeInOut}, "0")
  .to($PresentBoxTop, 0.3, {yPercent: 400, transformOrigin:"left center", ease:Bounce.easeOut}, "0.4")
  .to($PresentBoxTop, 0.4, {rotation: -180, transformOrigin:"left center", ease:Power4.easeIn}, "0.7")
  .to($socialLinkP, 0.6, {scale: 1.4, yPercent: -130, transformOrigin:"top center", ease:Power4.easeInOut}, "-=0.4");

  tlOpenPresent.play();

  function stopHover(element){
    $(element).unbind('mouseenter click');
    $(element).css('cursor: default');
  }

});
</script>
<footer class="global-footer">
  <div class="footer-contents">
    <div class="container">
      <ul class="site-footer-links right">
        <li title="You make our kokoro go dokidoki">
          <span class="hb-luvs"></span>
          {{#if currentUser.isSignedIn}}
            <span class="footer-heart">
              <i class="fa fa-heart"></i>
            </span>

            <span class="footer-avatar">
              {{avatar currentUser "thumb_small"}}
            </span>
          {{/if}}
        </li>
      </ul>

      <ul class="site-footer-links">
        <li>© 2016 Hummingbird Media, Inc.</li>
        <li>{{#link-to 'privacy'}}Privacy{{/link-to}}</li>
        <li><a href="mailto:josh@hummingbird.me">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>
