<div class="container">
  <div class="row" style="margin-top: 50px">
    <div class="col-md-6 col-md-offset-3">
      <ul class="all-notifications">
        {{#each model as |notification|}}
          {{partial "notification"}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
