<style>
  .hb-nav {display: none;}
</style>
<nav class="navbar navbar-inverse navbar-fixed-top hb-nav onboarding-nav" role="navigation">
  <div class="container clearfix">
    <div class="navbar-header">
      <a class="navbar-brand" style="cursor: default"></a>
    </div>
    <div class="nav-steps">
      <h5>Step {{currentStep}} of 5</h5>
    </div>
  </div>
</nav>

<div class="onboarding-card">
  <div class="panel panel-default">
    <div class="panel-body onboarding-panel">
      {{outlet}}
    </div>
  </div>
</div>

<div class="onboarding-footer">
  <span class="footer-text">
    You should probably tell your friends.
  </span>
  <div class="facebook-button">
    <div class="fb-share-button" data-href="https://www.hummingbird.me" data-layout="button"></div>
  </div>
  <div class="tweet-button">
    <a class="twitter-share-button" href="https://twitter.com/share" data-text="Can we all agree to stop for 5 minutes and appreciate how freakishly smart I am for using @Hummingbird_me?" data-url="https://www.hummingbird.me">
      Tweet
    </a>
    <script type="text/javascript">
      window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
    </script>
  </div>
</div>
