<style>
  body {background: #525A65;}
  .signup-cta {display: none;}
</style>

<div class="bg-image-wrapper login clearfix">
  <div class="col-md-8 col-md-offset-2 panel panel-default account-panel">
    <div class="panel-heading">
      <h3>B-Baka! It's not like we missed you...</h3>
    </div>
    <div class="panel-body">
      <form class="account-form col-md-6" {{action "signIn" on="submit"}}>
        <h3>Sign in to your account</h3>
        {{input type="text" class="form-control" name="email" value=email placeholder="Email address"}}
        {{input type="password" class="form-control" name="password" value=password placeholder="Password"}}
        <p class="forgot-password">
          <a href="/users/password/new">forgot password?</a>
        </p>
        {{#if errorMessage}}
          <div class="alert alert-danger">
            <p><i class="fa fa-warning"></i> {{errorMessage}}</p>
          </div>
        {{/if}}
        <button type="submit">Sign in</button>

        <p class="switch-form-link">
          Don't have an account?
          {{#link-to 'sign-up' (query-params redirectTo=redirectTo)}}
            Create one.
          {{/link-to}}
        </p>
      </form>

      <div class="col-md-6">
        {{!--
          <button class="btn btn-primary btn-lg btn-block twt-connect" type="button">
            <i class="fa fa-twitter-square"></i> Twitter Connect
          </button>
        --}}
        <a class="btn btn-primary btn-lg btn-block fb-connect" href="/users/auth/facebook">
          <i class="fa fa-facebook-square"></i> Facebook Connect
        </a>
        <hr />
        <div class="fb-likebox">
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FHummingbird%2F460188747373182&amp;width=300&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=325314560922421" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:80px" allowTransparency="true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
