<h1>Anime Page</h1>

<h2 data-test-selector="title">
  {{anime.canonicalTitle}}
</h2>

{{#if currentSession.isAuthenticated}}
  {{library-status-button
      entry=entry
      promise=entryPromise
      create=(route-action "createEntry")
      update=(route-action "updateEntry")
      delete=(route-action "destroyEntry")
  }}
{{/if}}
