<ul class="cast">
  {{#each filteredCast}}
    <li class="character-wrapper">
      <div class="cast-image">
        <img class="actor" {{bind-attr src=person.image}}>
        <img class="character" {{bind-attr src=character.image}}>
      </div>
      <div class="cast-name">
        <h4>{{person.name}}</h4>
        <small>as {{character.name}}</small>
      </div>
    </li>
  {{/each}}
</ul>
