<div class="site-header" class="top-bar" data-test-selector="site-header">
  <div class="top-bar-wrapper">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        {{! TODO: Should be a link to home }}
        <li><div class="logo"></div></li>
        <li class="primary-nav has-submenu">
          <a href="#">Shows</a>
          <ul class="submenu menu vertical" data-submenu>
            <li>
              {{link-to 'Anime' 'anime.index'}}
            </li>
            <li><a href="#">Drama</a></li>
          </ul>
        </li>
        <li class="primary-nav"><a href="#">Manga</a></li>
        <li class="primary-nav"><a href="#">Forums</a></li>
        <li class="primary-nav"><a href="#">Downloads</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#" class="circle-button"><i class="icon ion-ios-search"></i></a>
        </li>
        <li>
          <a href="#" class="circle-button"><i class="icon ion-ios-bell-outline"></i></a>
        </li>
        <li class="has-submenu">
          <a href="#" class="circle-button avatar">
            <img src="http://cl.ly/2D2u0L2Y073c/demoavatar.png">
          </a>
          <ul class="submenu menu vertical" data-submenu>
            <li><a href="#">logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
