.anime-discover.anime-explore
  .row
    .large-3.columns
      .panel.rounded-panel
        .large-12.columns
          %h4.top-title Popular
          %hr.title-divider

          .large-12.columns
            .row
              %label.checkbox{:for => "hulu"}
                %input#hulu{"data-toggle" => "checkbox", :type => "radio", :value => ""}/
                All Time
              %label.checkbox{:for => "nextflix"}
                %input#netflix{"data-toggle" => "checkbox", :type => "radio", :value => ""}/
                This Week
              %label.checkbox{:for => "crunchyroll"}
                %input#crunchyroll{"data-toggle" => "checkbox", :type => "radio", :value => ""}/
                This Month
              %label.checkbox{:for => "neonalley"}
                %input#neonalley{"data-toggle" => "checkbox", :type => "radio", :value => ""}/
                This Year

      .panel.rounded-panel
        .large-12.columns
          %h4.top-title Where to Watch
          %hr.title-divider
          .large-12.columns
            .row
              %label.checkbox{:for => "hulu"}
                %input#hulu{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                Hulu
              %label.checkbox{:for => "nextflix"}
                %input#netflix{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                Netflix
              %label.checkbox{:for => "crunchyroll"}
                %input#crunchyroll{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                Crunchyroll
              %label.checkbox{:for => "neonalley"}
                %input#neonalley{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                Neon Alley

   
      .panel.rounded-panel
        .large-12.columns
          %h4.top-title Year
          %hr.title-divider

          .large-12.columns
            .row
              %label.checkbox{:for => "hulu"}
                %input#hulu{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                All
              %label.checkbox{:for => "nextflix"}
                %input#netflix{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                Upcoming
              %label.checkbox{:for => "crunchyroll"}
                %input#crunchyroll{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                2010s
              %label.checkbox{:for => "neonalley"}
                %input#neonalley{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                2000s
              %label.checkbox{:for => "neonalley"}
                %input#neonalley{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                1990s
              %label.checkbox{:for => "neonalley"}
                %input#neonalley{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                1980s

      .panel.rounded-panel
        .large-12.columns
          %h4.top-title Genres
          %hr.title-divider

          .large-12.columns
            .row
              .large-6.columns
                %label.checkbox{:for => "hulu"}
                  %input#hulu{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  All
                %label.checkbox{:for => "nextflix"}
                  %input#netflix{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  Upcoming
                %label.checkbox{:for => "crunchyroll"}
                  %input#crunchyroll{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  2010s
                %label.checkbox{:for => "neonalley"}
                  %input#neonalley{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  2000s
                %label.checkbox{:for => "neonalley"}
                  %input#neonalley{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  1990s
                %label.checkbox{:for => "neonalley"}
                  %input#neonalley{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  1980s

              .large-6.columns
                %label.checkbox{:for => "hulu"}
                  %input#hulu{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  All
                %label.checkbox{:for => "nextflix"}
                  %input#netflix{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  Upcoming
                %label.checkbox{:for => "crunchyroll"}
                  %input#crunchyroll{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  2010s
                %label.checkbox{:for => "neonalley"}
                  %input#neonalley{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  2000s
                %label.checkbox{:for => "neonalley"}
                  %input#neonalley{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  1990s
                %label.checkbox{:for => "neonalley"}
                  %input#neonalley{"data-toggle" => "checkbox", :type => "checkbox", :value => ""}/
                  1980s

    .large-9.columns.no-padding
      .large-12.columns
        %h4.top-title Anime
        %hr.title-divider
        .large-12.columns.no-padding.trending-panel
          %ul
            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-selector" => "tooltipisvymji3sor", "data-tooltip" => "", :title => ""}
                %p.wanna-watch
                %img{:alt => "Attack on Titan", :src => "http://hummingbird.me/system/69eea0b536f37295c14e7447ee8899c5a72ed059_thumb.jpg?1361875894"}
                %p.title Attack on Titan
                
            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "Gargantia on the Verdurous Planet"}
                %p.wanna-watch
                %img{:alt => "Gargantia on the Verdurous Planet", :src => "http://hummingbird.me/system/21e780dc0cc37b7cf930330c0b2df5799aa239da_thumb.jpg?1373243428"}/
                %p.title Gargantia on the Verdurous Planet

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "The Devil is a Part-Timer!"}
                %p.wanna-watch
                %img{:alt => "The Devil is a Part-Timer!", :src => "http://hummingbird.me/system/b11292b2a4423cf835c52a0d00de80d88e103342_thumb.jpg?1373568794"}/
                %p.title The Devil is a Part-Timer!

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "OreImo Season 2"}
                %p.wanna-watch
                %img{:alt => "OreImo Season 2", :src => "http://hummingbird.me/system/9add096422e0a356de9088f282494862c81d943a_thumb.jpg?1361876448"}/
                %p.title OreImo Season 2

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "My Teen Romantic Comedy SNAFU"}
                %p.wanna-watch
                %img{:alt => "My Teen Romantic Comedy SNAFU", :src => "http://hummingbird.me/system/2b571c8fd79a61a1f81827d986f66a93a06c40e3_thumb.jpg?1361877888"}/
                %p.title My Teen Romantic Comedy SNAFU

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "The &quot;Hentai&quot; Prince and the Stony Cat"}
                %p.wanna-watch
                %img{:alt => "The &quot;Hentai&quot; Prince and the Stony Cat", :src => "http://hummingbird.me/system/2b571c8fd79a61a1f81827d986f66a93a06c40e3_thumb.jpg?1361877888"}/
                %p.title The "Hentai" Prince and the Stony Cat

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-selector" => "tooltipisvymji3sor", "data-tooltip" => "", :title => ""}
                %p.wanna-watch
                %img{:alt => "Attack on Titan", :src => "http://hummingbird.me/system/d21412e0129ddf23df0a2b099dde53501ab66fbc_thumb.jpg?1361873733"}/
                %p.title Attack on Titan
                
            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "Gargantia on the Verdurous Planet"}
                %p.wanna-watch
                %img{:alt => "Gargantia on the Verdurous Planet", :src => "http://hummingbird.me/system/be37e736f1652d1fa5917094b91c4fa490c739ea_thumb.jpg?1367072643"}/
                %p.title Gargantia on the Verdurous Planet

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "The Devil is a Part-Timer!"}
                %p.wanna-watch
                %img{:alt => "The Devil is a Part-Timer!", :src => "http://hummingbird.me/system/b4a8eddaa799bb8cbaa7a898affab88c6dea8995_thumb.jpeg?1372100747"}/
                %p.title The Devil is a Part-Timer!

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "OreImo Season 2"}
                %p.wanna-watch
                %img{:alt => "OreImo Season 2", :src => "http://hummingbird.me/system/691e428d53f9d2c27560d333738b4a0ce2a522f1_thumb.jpg?1373243751"}/
                %p.title OreImo Season 2

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "My Teen Romantic Comedy SNAFU"}
                %p.wanna-watch
                %img{:alt => "My Teen Romantic Comedy SNAFU", :src => "http://hummingbird.me/system/97bff202657869aff9806fe97cc20735ec29b79f_thumb.jpg?1361875106"}/
                %p.title My Teen Romantic Comedy SNAFU

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "The &quot;Hentai&quot; Prince and the Stony Cat"}
                %p.wanna-watch
                %img{:alt => "The &quot;Hentai&quot; Prince and the Stony Cat", :src => "http://hummingbird.me/system/6c91a39cb8086364d94551fa0290c85e9586c93b_thumb.jpg?1369513687"}/
                %p.title The "Hentai" Prince and the Stony Cat
            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-selector" => "tooltipisvymji3sor", "data-tooltip" => "", :title => ""}
                %p.wanna-watch
                %img{:alt => "Attack on Titan", :src => "http://hummingbird.me/system/69eea0b536f37295c14e7447ee8899c5a72ed059_thumb.jpg?1361875894"}
                %p.title Attack on Titan
                
            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "Gargantia on the Verdurous Planet"}
                %p.wanna-watch
                %img{:alt => "Gargantia on the Verdurous Planet", :src => "http://hummingbird.me/system/21e780dc0cc37b7cf930330c0b2df5799aa239da_thumb.jpg?1373243428"}/
                %p.title Gargantia on the Verdurous Planet

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "The Devil is a Part-Timer!"}
                %p.wanna-watch
                %img{:alt => "The Devil is a Part-Timer!", :src => "http://hummingbird.me/system/b11292b2a4423cf835c52a0d00de80d88e103342_thumb.jpg?1373568794"}/
                %p.title The Devil is a Part-Timer!

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "OreImo Season 2"}
                %p.wanna-watch
                %img{:alt => "OreImo Season 2", :src => "http://hummingbird.me/system/9add096422e0a356de9088f282494862c81d943a_thumb.jpg?1361876448"}/
                %p.title OreImo Season 2

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "My Teen Romantic Comedy SNAFU"}
                %p.wanna-watch
                %img{:alt => "My Teen Romantic Comedy SNAFU", :src => "http://hummingbird.me/system/2b571c8fd79a61a1f81827d986f66a93a06c40e3_thumb.jpg?1361877888"}/
                %p.title My Teen Romantic Comedy SNAFU

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "The &quot;Hentai&quot; Prince and the Stony Cat"}
                %p.wanna-watch
                %img{:alt => "The &quot;Hentai&quot; Prince and the Stony Cat", :src => "http://hummingbird.me/system/2b571c8fd79a61a1f81827d986f66a93a06c40e3_thumb.jpg?1361877888"}/
                %p.title The "Hentai" Prince and the Stony Cat
            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-selector" => "tooltipisvymji3sor", "data-tooltip" => "", :title => ""}
                %p.wanna-watch
                %img{:alt => "Attack on Titan", :src => "http://hummingbird.me/system/d21412e0129ddf23df0a2b099dde53501ab66fbc_thumb.jpg?1361873733"}/
                %p.title Attack on Titan
                
            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "Gargantia on the Verdurous Planet"}
                %p.wanna-watch
                %img{:alt => "Gargantia on the Verdurous Planet", :src => "http://hummingbird.me/system/be37e736f1652d1fa5917094b91c4fa490c739ea_thumb.jpg?1367072643"}/
                %p.title Gargantia on the Verdurous Planet

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "The Devil is a Part-Timer!"}
                %p.wanna-watch
                %img{:alt => "The Devil is a Part-Timer!", :src => "http://hummingbird.me/system/b4a8eddaa799bb8cbaa7a898affab88c6dea8995_thumb.jpeg?1372100747"}/
                %p.title The Devil is a Part-Timer!

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "OreImo Season 2"}
                %p.wanna-watch
                %img{:alt => "OreImo Season 2", :src => "http://hummingbird.me/system/691e428d53f9d2c27560d333738b4a0ce2a522f1_thumb.jpg?1373243751"}/
                %p.title OreImo Season 2

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "My Teen Romantic Comedy SNAFU"}
                %p.wanna-watch
                %img{:alt => "My Teen Romantic Comedy SNAFU", :src => "http://hummingbird.me/system/97bff202657869aff9806fe97cc20735ec29b79f_thumb.jpg?1361875106"}/
                %p.title My Teen Romantic Comedy SNAFU

            %li.large-2.columns.single-wrapper
              .popular-card.tip-top{"data-tooltip" => "", :title => "The &quot;Hentai&quot; Prince and the Stony Cat"}
                %p.wanna-watch
                %img{:alt => "The &quot;Hentai&quot; Prince and the Stony Cat", :src => "http://hummingbird.me/system/6c91a39cb8086364d94551fa0290c85e9586c93b_thumb.jpg?1369513687"}/
                %p.title The "Hentai" Prince and the Stony Cat
            

