{{!-- SEE HACK IN JS FILE
<span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
<span class="slider-fill" data-slider-fill></span>
{{#if doubleSided}}
  <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
  <input type="hidden">
{{/if}}
<input type="hidden">
--}}
