<div id={{modalId}} class="reveal {{modalClass}}" data-reveal>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  {{yield}}
</div>
