- title "Chat"

.chat
  .row
    .large-2.columns.onlineUsers
      %h4 Online Users
      %p Loading...

    .large-10.columns.main-chat#mainChatScroll
      .chats 
        .chat-display
          .chat-text
            %p Loading...      
  
  .row
    .large-10.columns.input-area.right
      %form.sendMessage
        .row.collapse
          .small-12.columns
            .input-wrapper
              %input.message(type="text" placeholder="Write Something...")
              %i.icon-share-alt{:onclick => "$('form.sendMessage').submit()"}



:coffee
  onlineUsersTemplate = Hogan.compile "
    <h4>Online Users</h4>
    <ul>
      {{#user}}
        <li><a href='{{url}}'>{{name}}</a></li>
      {{/user}}
    </ul>"
  messagesTemplate = Hogan.compile "
    <ul>
      {{#message}}
        <li class='message-block'>
        </li>
      {{/message}}
    </ul>
  "

  ping = ->
    $.getJSON "/chat/ping", (d) ->
      $(".onlineUsers").html onlineUsersTemplate.render {user: d}
  ping()
  setInterval ping, 8000

  updateChatScroll = ->
    c = document.getElementById("mainChatScroll");
    c.scrollTop = c.scrollHeight;

  ChatMessageView = Backbone.View.extend {
    tagName: "li",
    className: "message-block",
    template: Hogan.compile("
      <div class='large-1 columns avatar hide-for-small'>
        <img src='{{user.avatar}}' class='avatar-image' />
      </div>
      <div class='large-10 columns message'>
        <span class='name'><a href='{{user.url}}'>{{user.name}}</a></span>
        <p>{{message}}</p>
      </div>
      <div class='large-2 columns time-stamp' data-created-at='{{created_at}}'>
        <p></p>
        {{#id}}
          <span><i class='icon icon-ok'></i></span>
        {{/id}}
        {{^id}}
          <span><i class='icon icon-spin icon-spinner'></i></span>
        {{/id}}
      </div>
    "),
    render: ->
      this.$el.html (this.template.render this.model.toJSON())
      return this
  }

  renderAllTimes = ->
    $(".time-stamp").each ->
      $t = $(this)
      $t.find("p").html moment($t.attr('data-created-at')).fromNow()
  setInterval renderAllTimes, 10000

  ChatMessage = Backbone.Model.extend {}
  ChatMessages = new Backbone.Collection
  ChatMessages.comparator = (message) ->
    return moment(message.get("created_at")).unix()

  ChatMessagesViewClass = Backbone.View.extend {
    tagName: "ul",
    initialize: ->
      _(this).bindAll 'add', 'remove'
      this._views = []
      this.collection.each this.add
      this.collection.bind 'add', this.add
      this.collection.bind 'remove', this.remove,
    remove: (c) ->
      console.log c
      viewToRemove = _(this._views).select (cv) -> 
        return cv.model == c
      viewToRemove = viewToRemove[0]
      this._views = _(this._views).without(viewToRemove)
      if this._rendered
        viewToRemove.$el.remove()
    add: (c) ->
      cv = new ChatMessageView {model: c}
      this._views.push cv
      if this._rendered
        this.$el.append cv.render().el
        updateChatScroll()
        renderAllTimes()
    render: ->
      that = this
      this._rendered = true
      this.$el.empty()
      _(this._views).each (cv) ->
        that.$el.append cv.render().el
      $(".chat-text").html ''
      $(".chat-text").append this.el
      updateChatScroll()
      renderAllTimes()
  }

  ChatMessagesView = new ChatMessagesViewClass {
    collection: ChatMessages
  }
  ChatMessagesView.render()

  updateMessages = (d) ->
    messages = _.map d, (x) ->
      return (new ChatMessage x)
    messages = _.sortBy(messages, ChatMessages.comparator)
    ChatMessages.set messages, {remove: false}

  getMessagesFromRemote = ->
    $.getJSON "/chat/messages", (d) ->
      updateMessages d
      ChatMessages.remove ChatMessages.select (x) -> 
        return x.isNew()

  getMessagesFromRemote()
  setInterval getMessagesFromRemote, 2000

  $("form.sendMessage").submit ->
    postMessageToServer()
    return false

  postMessageToServer = ->
    h = {
      user_id: #{current_user.id},
      user: {
        name: #{current_user.name.inspect},
        url: #{user_url(current_user).inspect},
        avatar: #{current_user.avatar.url(:thumb).inspect}
      },
      message: $("input.message").val(),
      created_at: moment().format()
    }
    c = new ChatMessage
    c.set h

    ChatMessages.add c

    $.post '/chat/messages', 
      {message: c.get('message')}, 
      (r) -> getMessagesFromRemote(); $("input.message").val(''),
      'json'
