- title "Chat"
.chat
  .row
    .large-10.columns.main-chat
      .chats 
        .chat-display
          .chat-text
            %ul
              %li.message-block
                .large-3.columns.name
                  %p Vikhyat
                .large-7.columns.message
                  %p You around?
                .large-2.columns.time-stamp
                  %p 3:22 PM
              %li.message-block
                .large-3.columns.name
                  %p JoshFabian
                .large-7.columns.message
                  %p Yep, stuck here for the next 4 hours.
                .large-2.columns.time-stamp
                  %p 3:22 PM
              %li.message-block
                .large-3.columns.name
                  %p Vikhyat
                .large-7.columns.message
                  %p What kind of structure would I need to get something similar to the Hipchat web chat interface
                .large-2.columns.time-stamp
                  %p 3:23 PM
              %li.message-block
                .large-3.columns.name
                  %p JoshFabian
                .large-7.columns.message
                  %p Sorry, not sure what you mean by structure?
                .large-2.columns.time-stamp
                  %p 3:23 PM
              %li.message-block
                .large-3.columns.name
                  %p Vikhyat
                .large-7.columns.message
                  %p I can't figure out the HTML/CSS.
                .large-2.columns.time-stamp
                  %p 3:24 PM
              %li.message-block
                .large-3.columns.name
                  %p Vikhyat
                .large-7.columns.message
                  %p You around?
                .large-2.columns.time-stamp
                  %p 3:22 PM
              %li.message-block
                .large-3.columns.name
                  %p JoshFabian
                .large-7.columns.message
                  %p Yep, stuck here for the next 4 hours.
                .large-2.columns.time-stamp
                  %p 3:22 PM
              %li.message-block
                .large-3.columns.name
                  %p Vikhyat
                .large-7.columns.message
                  %p What kind of structure would I need to get something similar to the Hipchat web chat interface
                .large-2.columns.time-stamp
                  %p 3:23 PM
              %li.message-block
                .large-3.columns.name
                  %p JoshFabian
                .large-7.columns.message
                  %p Sorry, not sure what you mean by structure?
                .large-2.columns.time-stamp
                  %p 3:23 PM
              %li.message-block
                .large-3.columns.name
                  %p Vikhyat
                .large-7.columns.message
                  %p I can't figure out the HTML/CSS.
                .large-2.columns.time-stamp
                  %p 3:24 PM
              %li.message-block
                .large-3.columns.name
                  %p Vikhyat
                .large-7.columns.message
                  %p You around?
                .large-2.columns.time-stamp
                  %p 3:22 PM
              %li.message-block
                .large-3.columns.name
                  %p JoshFabian
                .large-7.columns.message
                  %p Yep, stuck here for the next 4 hours.
                .large-2.columns.time-stamp
                  %p 3:22 PM
              %li.message-block
                .large-3.columns.name
                  %p Vikhyat
                .large-7.columns.message
                  %p What kind of structure would I need to get something similar to the Hipchat web chat interface
                .large-2.columns.time-stamp
                  %p 3:23 PM
              %li.message-block
                .large-3.columns.name
                  %p JoshFabian
                .large-7.columns.message
                  %p Sorry, not sure what you mean by structure?
                .large-2.columns.time-stamp
                  %p 3:23 PM
              %li.message-block
                .large-3.columns.name
                  %p Vikhyat
                .large-7.columns.message
                  %p I can't figure out the HTML/CSS.
                .large-2.columns.time-stamp
                  %p 3:24 PM
              %li.message-block
                .large-3.columns.name
                  %p Vikhyat
                .large-7.columns.message
                  %p You around?
                .large-2.columns.time-stamp
                  %p 3:22 PM
              %li.message-block
                .large-3.columns.name
                  %p JoshFabian
                .large-7.columns.message
                  %p Yep, stuck here for the next 4 hours.
                .large-2.columns.time-stamp
                  %p 3:22 PM
              %li.message-block
                .large-3.columns.name
                  %p Vikhyat
                .large-7.columns.message
                  %p What kind of structure would I need to get something similar to the Hipchat web chat interface
                .large-2.columns.time-stamp
                  %p 3:23 PM
              %li.message-block
                .large-3.columns.name
                  %p JoshFabian
                .large-7.columns.message
                  %p Sorry, not sure what you mean by structure?
                .large-2.columns.time-stamp
                  %p 3:23 PM
              %li.message-block
                .large-3.columns.name
                  %p Vikhyat
                .large-7.columns.message
                  %p I can't figure out the Last.
                .large-2.columns.time-stamp
                  %p 3:24 PM

    .large-2.columns
      %p Hi.
  .row
    .large-12.columns
      %p Hi.
