- title "Chat"

.chat
  .row
    .large-10.columns.main-chat#mainChatScroll
      .chats 
        .chat-display
          .chat-text
            %p Loading...
              
    .large-2.columns.onlineUsers
      %h4 Online Users
      %p Loading...
  
  .row
    .large-10.columns
      %form.sendMessage
        .row.collapse
          .small-12.columns
            .small-10.columns
              %input.message(type="text")
            .small-2.columns
              %input.button.prefix(type="submit" value="send")

:coffee
  onlineUsersTemplate = Hogan.compile "
    <h4>Online Users</h4>
    <ul>
      {{#user}}
        <li><a href='{{url}}'>{{name}}</a></li>
      {{/user}}
    </ul>"
  messagesTemplate = Hogan.compile "
    <ul>
      {{#message}}
        <li class='message-block'>
          <div class='large-1 columns avatar'>
            <img src='{{user.avatar}}' class='avatar-image' />
          </div>
          <div class='large-10 columns message'>
            <span class='name'><a href='{{user.url}}'>{{user.name}}</a></span>
            <p>{{message}}</p>
          </div>
          <div class='large-2 columns time-stamp'>
            <p>{{timeAgo}}</p>
          </div>
        </li>
      {{/message}}
    </ul>
  "
  ping = ->
    $.getJSON "/chat/ping", (d) ->
      $(".onlineUsers").html onlineUsersTemplate.render {user: d}
  ping()
  setInterval ping, 8000

  $("form.sendMessage").submit ->
    console.log $("input.message").val()
    return false

  updateChatScroll = ->
    c = document.getElementById("mainChatScroll");
    c.scrollTop = c.scrollHeight;
  updateChatScroll()

  messages = []

  getMessages = ->
    $.getJSON "/chat/messages", (d) ->
      messages = d
      renderMessages()

  renderMessages = ->
    m = messages.map (x) ->
      x["timeAgo"] = moment(x["created_at"]).fromNow()
    $(".chat-text").html messagesTemplate.render {message: messages}
  
  getMessages()
