%iframe(width="100%" height="800" scrolling="no"){:src => "http://widget.mibbit.com/?server=irc.rizon.net&nick=#{current_user.name}&channel=%23Hummingbird&autoConnect=true&settings=b5aa87631bbf820d3b8577f871caae82"}
