.account-panel {
  margin-top: 0 !important;
  .panel-heading {
    text-align: center;
    p {
      font-size: 18px;
    }
  }
}
.account-form {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding-bottom: 5px;
  .forgot-password {
    margin-top: -10px;
  }
  input {
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
    text-indent: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
  }
  button {
    width: 100%;
    border-radius: 3px;
    background: $orange;
    border: none;
    color: #fff;
    font-family: $headerFontFamily;
    padding: 10px;
  }
  .switch-form-link {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
  }
}
