.profile-content {
  @extend .container;
  margin-top: 30px;

  .about-info {
    @extend .col-sm-5;
    @extend .col-md-5;
    @extend .hidden-xs;

    padding-right: 0px;
  }

  .user-about-panel {
    @extend .panel;
    @extend .panel-default;
    @extend .clearfix;
    .edit-bio {
      width: 100%;
      border-radius: 3px;
      border: 1px solid #ddd;
      height: 100px;
      padding: 10px;
      resize: vertical;
    }
    .user-interests {
      @extend .col-xs-12;
      margin: 10px 10px 0 -8px;
      padding: 0;
      li {
        @extend .clearfix;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .remove-waifu {
        font-size: 85%;
        padding-left: 10px;
      }
      .interest-icon {
        @extend .col-xs-1;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        position: relative;
        top: 1px;
        color: #999999;
      }
      .interest {
        @extend .col-xs-11;
        padding-left: 0;
        padding-right: 0;
        font-size: 18px;
        input {
          width: 100%;
          border: 1px solid #ddd;
          border-radius: 3px;
          font-size: 16px;
          padding: 3px 10px;
        }
      }
    }
    .submit-form {
      @extend .col-sm-12;
      margin-bottom: 15px;
      text-align: right;
      button {
        background: $orange;
        color: #fff;
        border: none;
        &:hover {
          background: $darkOrange;
        }
        &:active {
          background: darken($darkOrange, 5);
        }
      }
    }
  }

  .grid-thumb {
    padding: 5px !important;
    .thumbnail {
      padding: 0;
      border: none;
      margin-bottom: 0;
      position: relative;
      overflow: hidden;
      img {
        border-radius: 3px;
      }
    }
  }

  .move-overlay {
    background: rgba(0,0,0,.5);
    color: #fff;
    font-size: 25px;
    line-height: 190px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    right: 0;
    transition: .3s ease-in;
    opacity: 0;
    &.editing {
      opacity: 1;
      cursor: move;
    }
    &:hover {
      background: rgba(0,0,0,.8);
    }
  }

  .photos-videos {
    .grid-thumb {
      @extend .col-sm-3;
    }
  }

  .favorite-anime {
    .grid-thumb {
      @extend .col-sm-4;
    }
  }

  .no-favorites {
    h3 {
      margin-top: 5px;
    }
  }

  .anime-breakdown-panel, .photos-videos, .favorite-anime {
    @extend .panel;
    @extend .panel-default;
  }

  .media-grid {
    @extend .clearfix;
  }

  .anime-breakdown-panel{
    .breakdown-info {
      text-align: center;
      .breakdown-infotitle {
        display: block;
        font-weight: bold;
      }
      .breakdown-infotext {
        font-size: 0.89em;
      }
    }
    .breakdown-genrelist {
      li {
        padding: 7px 0 3px 0;
        border-bottom: 1px solid #f2f2f2;
        &:last-of-type {
          border: none;
        }
        span {
          font-family: "klavika", Helvetica, Arial, sans-serif;
          font-weight: bold;
        }
      }
      .breakdown-numbr {
        display: inline-block;
        float: right;
        color: #ec8661;
      }
    }
    .breakdown-time {
      color: #999;
      strong {
        color: #686868;
        font-weight: normal;
      }
    }
    .breakdown-icon {
      display: inline-block;
      padding-right: 15px;
      float: left;
      i {
        color: #686868;
        font-size: 2.8em;
      }
    }
  }

  .personal-feed {
    @extend .col-sm-7;
    @extend .col-md-7;
    padding-left: 15px;
    @media (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .status-update-panel {
    @extend .panel;
    @extend .panel-default;

    .panel-footer {
      @extend .clearfix;
      display: none;
      background: transparent;
      border: none;
      padding-top: 0;
      margin-top: -25px;
    }
  }
}

.follow-bubbles {
  padding-left: 15px;
  margin-top: 15px;
  li {
    @extend .col-sm-6;
    @extend .col-xs-12;
    padding-left: 0;
    padding-right: 10px;
    @media (max-width: 768px) {
      padding-right: 0;
    }
    @media (min-width: 768px) {
      &:nth-child(even) {
        padding-right: 0;
      }
    }
    .user-bubble {
      @extend .clearfix;
      border: 1px solid #ddd;
      border-radius: 3px;
      padding: 10px;
      margin-bottom: 10px;
      transition: .2s ease-in;
      .bubble-avatar {
        @extend .col-sm-2;
        @extend .col-xs-2;
        padding: 0;
      }
      .bubble-name {
        @extend .col-sm-10;
        @extend .col-xs-10;
        color: #333;
        position: relative;
        top: 5px;
        transition: .3s ease-in;
      }
      &:hover {
        border-color: $orange;
        .bubble-name {
          color: $darkOrange;
        }
      }
    }
  }
}
