.profile-content {
  @extend .container;
  margin-top: 30px;

  .about-info {
    @extend .col-sm-5;
    @extend .col-md-5;
    @extend .hidden-xs;

    padding-right: 0px;
  }

  .user-about-panel {
    @extend .panel;
    @extend .panel-default;
  }

  .anime-breakdown-panel {
    @extend .panel;
    @extend .panel-default;
  }

  .personal-feed {
    @extend .col-sm-7;
    @extend .col-md-7;
    padding-left: 25px;
    @media (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .status-update-panel {
    @extend .panel;
    @extend .panel-default;

    .panel-footer {
      display: none;
    }
  }
}
