// layout styles
@import "globals/all";

.gallery {
  float: right;
  padding-left: 0;
  // @media (max-width: 991px) {
  //   padding-left: 30px;
  // }
  @media (max-width: 940px) {
    width: 100%;
    padding-left: 20px;
    padding-right: 0;
    .col-sm-12 {
      width: 25%
    }
  }
  li {
    @media (min-width: 941px) {
      padding-right: 0;
    }
  }
}

.poster-container {
  max-width: 200px;
  padding-bottom: 5px;
  @media (min-width: 941px) {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}

.sidebar-copy {
  @media (max-width: 941px) {
    padding-bottom: 5px;
  }
}

.gallery-images {
  img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 3px;
  }
}

.series-body {
  padding-right: 10px;
  // @media (max-width: 991px) {
  //   padding-right: 15px;
  //   float: left;
  // }
  @media (max-width: 480px) {
    padding: 0;
  }
  @media (max-width: 940px) {
    width: 100%;
  }
}

.series-title {
  font-weight: normal;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  @media (max-width: 941px) {
    margin-bottom: 10px;
  }
}
.series-metadata {
  color: #888;
  font-size: 14px;
  li {
    display: inline;
    &:after {
      content: " · ";
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
  }
}

.top-buttons {
  margin-bottom: 15px;
  .top-button {
    border: none;
    background: #2f333b;
    color: #fff;
    font-family: $headerFontFamily;
    font-size: 16px;
    &.heart {
      font-size: 20px;
      padding-bottom: 1px;
      padding-top: 5px;
    }
  }
  .left-buttons {
    display: inline-block;
    li {
      display: inline;
    }
  }

  .right-buttons {
    display: inline-block;
    float: right;
  }
}

.series-description {
  font-size: 18px;
}
.series-panel {
  background: $eggshell;
  @media (max-width: 768px) {
    background: #fff;
  }
}

.series-sidebar {
  padding: 10px;
  border-radius: 3px;
  hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #ddd;
  }
}

.series-content {
  background: #fff;
  border-left: 1px solid #ddd;
  border-top-right-radius: 4px;
  // @media (max-width: 991px) {
  //   float: left;
  //   border-top: 1px solid #ddd;
  //   border-left: none;
  // }
}

.series-poster {
  width: 100%;
  border-radius: 3px;
  // @media (max-width: 991px) {
  //   padding-left: 0;
  //   padding-right: 15px;
  // }
}

.sidebar-title {
  margin-top: -5px;
  text-align: center;
}

.buy-series, .watch-series {
  float: left;
  img {
    width: 100%;
  }
}

#affiliate {
  div {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    // @media (max-width: 991px) {
    //   padding-left: 10px;
    //   padding-right: 10px;
    // }
  }
}

.buy-series {
  // @media (max-width: 991px) {
  //   margin-top: 15px;
  //   border-top: 1px solid #ddd;
  //   padding-top: 15px;
  // }
}
.watch-series {
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  // @media (max-width: 991px) {
  //   margin-bottom: 15px;
  // }
}

.current-watching {
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  float: left;
}

.related-user {
  padding: 1px;
  overflow: hidden;
  border-radius: 3px;
  img:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: .6;
  }
}
.nav-tabs {
  border-bottom: none;
}
.tab-pane {
  padding-top: 15px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius: 3px;
  .rounded-block {
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    border-radius: 0;
    &:hover {
      border: none;
      border-bottom: 1px solid #ddd;
    }
  }
}

.info-tabs {
  margin-top: 15px;
  @media (max-width: 768px) {
    float: left;
  }
  li > a {
    padding: 5px 15px;
  }
  hr {
    margin-top: 10px;
    border-color: #ddd;
  }
}

.rounded-block {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 8px;
  margin-bottom: 15px;
  &:hover {
    border: 1px solid #777;
  }
  .resposive-image {
    padding-bottom: 5px;
  }
}

.reviewer-thumb {
  border-radius: 3px;
  width: 100%;
}

.reviewer-name {
  display: inline-block;
  margin-top: 5px;
  color: #444;
  .subtext {
    font-weight: normal;
    color: #888;
    font-size: 16px;
  }
}
.review-summary {
  font-size: 16px;
  color: #444;
}

.review-stars {
  float: right;
  margin-top: 5px;
  color: #777;
}

.studio-name {
  margin-bottom: 10px;
  margin-top: -5px;
}

.cast {
    overflow: hidden;
  }
  .language-select {
    font-size: 14px;
    margin-bottom: 0px;
    dd {
      a:hover {
        color: #fd7532;
      }
      &.active {
        a {
          font-weight: normal;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .actor {
    margin-top: 5px;
    .character {
      background: #fff;
      padding: 16px 0;
      padding-right: 5px;
      color: #222;
    }
    .voice-actor {
      background: #fff;
      padding: 16px 0;
      padding-left: 5px;
    }
    img {
      vertical-align: middle;
      margin-right: 5px;
      width: 30px;
      height: 39px;
    }
    .va {
      float: right;
      img {
        margin-right: 0px;
        margin-left: 5px;
      }
    }
    &:before {
      float: left;
      width: 0;
      margin-top: 11px;
      white-space: nowrap;
      content: ". . . . . . . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . . . ";
    }
  }

.genre-tab {
  .badge {
    background: #eee;
    border-radius: 3px;
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: $headerFontFamily;
    &:hover {
      background: $orange;
      a {
        color: #fff;
      }
    }
  }
  .badge a {
    font-weight: normal;
    color: #666;
  }
}