// base styles
@import "globals/all";

.community-rating {
  @include make-xs-column(6);
  @include make-sm-column(12);
  padding: 0;

  hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #ddd;
  }
  @media (max-width: 991px) {
    padding: 0;
  }
}
.community-rating-wrapper {
  position: relative;
  height: 40px;
  li {
    float: left;
  }
}

.rating-column {
  bottom: 0;
  width: 14px;
  height: 40px;
  background: #c6c7c8;
  margin-right: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  @media (max-width: 1200px) {
    width: 10px;
  }
  &.last {
    margin-right: 0;
  }
}

.rating-value {
  position: absolute;
  bottom: 0;
  width: 14px;
  background: #525a65;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  @media (max-width: 1200px) {
    width: 10px;
  }
}
