// base styles
@import "globals/all";

.personal-rating {
	text-align: center;
	float: left;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	padding-left: 0;
	padding-right: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	@include make-xs-column(12);
	@include make-sm-column(12);
	@media (min-width: 768px) {
		padding-top: 15px;
		border-top: 1px solid #ddd;
		padding-left: 0;
		padding-right: 0;
	}
	.sidebar-title {
		margin-bottom: 5px;
	}
	.star {
		display: inline;
		font-size: 30px;
		@media (min-width: 941px) and (max-width: 1200px) {
			font-size: 25px;
		}
	}
	&.active {
		.star {
			color: #ec8661 !important;
		}
	}
}

.affiliate-button {
	@media (max-width: 768px) {
		padding: 10px;
	}
}

.community-rating {
  @include make-xs-column(12);
  padding: 0;
  border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.community-rating-wrapper {
	position: relative;
	height: 40px;
	text-align: center;
	li {
		display: inline-block;
		margin-right: 4px;
	}
}

.rating-column {
	bottom: 0;
	width: 14px;
	height: 40px;
	background: #c6c7c8;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	@media (min-width: 941px) and (max-width: 1200px) {
		width: 10px;
	}
	@media (min-width: 768px) and (max-width: 827px) {
		width: 12px;
	}
	&.last {
		margin-right: 0;
	}
	&:hover {
		border: 1px solid #000;
		cursor: pointer;
		.rating-value {
			width: 12px;
			@media (min-width: 941px) and (max-width: 1200px) {
				width: 8px;
			}
			@media (min-width: 768px) and (max-width: 827px) {
				width: 10px;
			}
		}
	}
}

.rating-value {
	position: absolute;
	bottom: 0;
	width: 14px;
	background: #525a65;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	@media (min-width: 941px) and (max-width: 1200px) {
		width: 10px;
	}
	@media (min-width: 768px) and (max-width: 827px) {
		width: 12px;
	}
}