.community-widget-panel {
  @extend .panel;
  @extend .panel-default;
  @extend .clearfix;
  .panel-body {
    padding: 0;
    .latest-post-list {
      margin: 0;
      padding: 0;
      .latest-post-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;
        a {
          color: #555;
          font-weight: 500;
          font-size: 14px;
        }
      }
      .latest-post {
        list-style-type: none;
        border-bottom: 1px solid #ddd;
        padding: 10px;
        .badge {
          background: #FFA07A;
        }
        .post-count-and-time {
          display: inline-block;
          padding-top: 2px;
          font-size: 0.8em;
          color: #666;
        }
      }
      .recent-post-avatar {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 3px;
        margin-right: 5px ;
      }
      .latest-post-more {
        padding: 10px;
        text-align: center;
        background: #f7f7f7;
        a {
          color: #7a7a7a;
          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
  .loading-heading {
    padding: 18px;
  }
  .loading-wrapper {
    padding: 10px;
  }
  .loading-image {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background-image: gradient(linear, left center, right center, from(#f6f7f8), color-stop(.2, #edeef1), color-stop(.4, #f6f7f8), to(#f6f7f8));
    background-image: linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    height: 49px;
    position: relative;
    div {
      background: #fff;
      height: 6px;
      left: 0;
      position: absolute;
      right: 0;
      &.l-2, &.l-3, &.l-4, &.l-5, &.l-6 {
        height: 24px;
        width: 10px;
        top: 30px;
        left: inherit;
      }
      &.l-1 {
        top: 20px;
        height: 10px;
      }
      &.l-2 {
        width: 183px;
        left: 130px;
      }
      &.l-3 {
        right: 20px;
      }
      &.l-4 {
        right: 50px;
      }
      &.l-5 {
        right: 80px;
      }
      &.l-6 {
        right: 110px;
      }
    }
  }
}
.loading-post {
  border-bottom: 1px solid #ddd;
  hr {
    margin: 0;
  }
}

@keyframes placeHolderShimmer{
  0% { background-position: -468px 0; }
  100% { background-position: 468px 0; }
}


