.personal-rating {
	text-align: center;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	.sidebar-title {
		margin-bottom: 0;
	}
	.star {
		display: inline;
		font-size: 25px;
	}
}

.community-rating {
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.affiliate-button {
	@media (max-width: 768px) {
		padding: 10px;
	}
}

.community-rating-wrapper {
	position: relative;
	height: 40px;
	text-align: center;
	li {
		display: inline-block;
	}
}

.rating-column {
	bottom: 0;
	width: 12px;
	height: 40px;
	background: #c6c7c8;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	@media (min-width: 941px) and (max-width: 1200px) {
		width: 10px;
	}
	&.last {
		margin-right: 0;
	}
}

.rating-value {
	position: absolute;
	bottom: 0;
	width: 12px;
	background: #525a65;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	@media (min-width: 941px) and (max-width: 1200px) {
		width: 10px;
	}
}