.library-container {
  @extend .container;

  padding: 10px;

  .panel {
    @media (max-width: 500px) {
      margin-bottom: -60px;
    }
  }
}

.library-table {
  @extend .col-sm-12;
  @extend .col-md-10;

  @media (max-width: 500px) {
    padding: 0;
  }
}

.library-entry {
  position: relative;
}

.episode-increment {
  position: absolute;
  left: 0;
  padding: 10px;
  top: -9px;
  font-size: 20px;
  transition: opacity .60s ease-in-out;
  -moz-transition: opacity .60s ease-in-out;
  -webkit-transition: opacity .60s ease-in-out;
  @extend .fa; 
  @extend .fa-angle-up;
  opacity: 0;
  &:hover {
    color: $orange;
  }
}

.library-dropdown {
  @extend .clearfix;

  background: linear-gradient(to bottom, darken($eggshell, 5%), $eggshell 10%, $eggshell 90%, darken($eggshell, 10%));
  padding-bottom: 15px;

  .status-select {
    .btn {
      z-index: 1001;
      font-size: 18px;
      background-color: darken($orange, 5);
      color: #fff;
    }
    .dropdown-menu {
      width: 100%;
      padding-top: 10px;
      margin-top: -5px;
    }
    .fa {
      margin-left: 8px;
    }
  }

  .drop-thumb {
    max-width: 100%;
    max-height: auto;
    border-radius: 3px;
  }
  .drop-description {
    font-size: 14px;
    line-height: 20px;
  }
  .drop-options {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    a {
      font-size: 16px;
    }
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .drop-arrow {
    position: relative;
    height: 15px;
    margin-bottom: 10px;
  }
  .drop-arrow:after, .drop-arrow:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .drop-arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 15px;
    left: 50%;
    top: 0px;
    margin-left: -15px;
  }
  .drop-arrow:before {
    border-color: rgba(221, 221, 221, 0);
    border-top-color: #ddd;
    border-width: 16px;
    left: 50%;
    top: 0px;
    margin-left: -16px;
  }
  .personal-notes-div {
  }
  .personal-notes {
    width: 90%;
    border-radius: 3px;
    height: 26px;
    text-indent: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    transition: height 0.2s ease 0s;
    resize: none;
  }
  .personal-notes-save {
    width: 8%;
    float: right;
  }
  .awesome-rating-widget {
    text-align: center;
    font-size: 30px;
    color: #777;
  }
}

.list-group {
  margin-bottom: 0;
}

.list-group-item {
  @extend .clearfix;
  user-select: none;
  cursor: pointer;
  border-radius: 0 !important;

  &.odd {
    background: #fcfcfc;
  }

  .list-item-left {
    @extend .col-xs-12;
    @extend .col-sm-7;
    @extend .col-md-7;
    @extend .col-lg-8;

    padding-left: 0;

    span.anime-label {
      &:before { content: ' ⋅ '; }

      span.label {
        font-size: 11px;
        display: inline-block;
        vertical-align: middle;
        opacity: 0.8;
        font-weight: normal;
      }

      .fa {
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        color: #555;
      }
    }
  }

  .list-item-right {
    @extend .col-xs-12;
    @extend .col-sm-5;
    @extend .col-md-5;
    @extend .col-lg-4;

    text-align: right;
    padding-right: 15px;
    @media (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
      text-align: left;
      padding-top: 10px;
    }
    .list-item-progress {
      margin-right: 20px;
      padding-right: 20px;
      height: 16px;
      display: inline-block;
      border-right: 1px solid #eee;
      .input-progress {
        padding: 1px 0;
        margin-top: -2px;
        width: 46px;;
        float: left;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #ddd;
      }
      .progress-sep {
        float: left;
        padding: 0 0 0 10px;
      }
      .list-item-total {
        float: left;
        width: 34px;
        text-align: center;
        font-weight: bold;
      }
    }
    .list-item-score {
      margin-right: 20px;
      padding-right: 20px;
      text-align: center;
      min-width: 64px;
      display: inline-block;
      height: 16px;
      border-right: 1px solid #eee;
      &.not-rated {
        color: $lightGrey;
      }

      .fa-smile-o, .fa-frown-o, .fa-meh-o {
        font-size: 1.28em;
      }
    }
    .list-item-type {
      display: inline-block;
      width: 42px;
      font-weight: bold;
      line-height: 14px;
      text-align: center;
    }
  }

  &:hover {
    .episode-increment {
      opacity: 1;
    }
  }
}

.library-header {
  @extend .row;

  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.library-type {
  @extend .btn-group;

  button .fa {
    margin-left: 5px;
  }
}

.library-sections {
  @extend .btn-group;

  button .fa {
    margin-left: 5px;
  }

  float: right;

  button {
    border-right: none;
  }

  button.active, button:hover {
    border: 1px solid #adadad;
    margin-right: -1px;
  }

  button:last-of-type {
    border-right: 1px solid #ccc;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    &.active, &:hover {
      margin-right: 0;
      border-right: 1px solid #adadad;
    }
  }
}

.search-wrapper {
  @extend .col-md-12;
  padding: 0;
}

.library-search {
  @extend .form-control;

  border: none;
  border-radius: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-family: $headerFontFamily;
  color: $darkOrange;

  &:focus {
    outline: none;
  }
}

.library-filter {
  @extend .list-group-item;

  border-radius: 0 !important;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  font-family: $headerFontFamily;

  .list-item-right .list-item-type {
    font-weight: normal;
    .fa {
      margin-left: 1px;
    }
  }

  .fa {
    @extend .fa-sort;
    color: #aaa;
    margin-left: 5px;
  }

  /* Sort icon. */
  &.asc.anime\.lowercaseDisplayTitle .list-item-left .fa { @extend .fa-sort-up; }
  &.desc.anime\.lowercaseDisplayTitle .list-item-left .fa { @extend .fa-sort-down; }
  &.asc.episodesWatched .list-item-progress .fa { @extend .fa-sort-up; }
  &.desc.episodesWatched .list-item-progress .fa { @extend .fa-sort-down; }
  &.asc.rating .list-item-score .fa { @extend .fa-sort-up; }
  &.desc.rating .list-item-score .fa { @extend .fa-sort-down; }
  &.asc.anime\.showType .list-item-type .fa { @extend .fa-sort-up; }
  &.desc.anime\.showType .list-item-type .fa { @extend .fa-sort-down; }
}
