@import "globals/all";

.library-container {
  padding: 10px;
}

.library-dropdown {
  @include clearfix();

  background: linear-gradient(to bottom, darken($eggshell, 5%), $eggshell 10%, $eggshell 90%, darken($eggshell, 10%));
  padding-bottom: 15px;

  .drop-thumb {
    max-width: 100%;
    max-height: auto;
    border-radius: 3px;
  }
  .drop-description {
    font-size: 14px;
    line-height: 20px;
  }
  .drop-options {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    a {
      font-size: 16px;
    }
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .drop-arrow {
    position: relative;
    height: 15px;
    margin-bottom: 10px;
  }
  .drop-arrow:after, .drop-arrow:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .drop-arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 15px;
    left: 50%;
    top: 0px;
    margin-left: -15px;
  }
  .drop-arrow:before {
    border-color: rgba(221, 221, 221, 0);
    border-top-color: #ddd;
    border-width: 16px;
    left: 50%;
    top: 0px;
    margin-left: -16px;
  }
  .personal-notes {
    width: 100%;
    border-radius: 3px;
    height: 26px;
    text-indent: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
  }
  .awesome-rating-widget {
    text-align: center;
    font-size: 30px;
    color: #777;
  }
}

.list-group-item {
  @include clearfix();

  .list-item-left {
    padding-left: 0;
    user-select: none;
    cursor: pointer;
  }
  .list-item-right {
    text-align: right;
    padding-right: 0;
    @media (max-width: 768px) {
      padding-left: 0;
      text-align: left;
      padding-top: 10px;
    }
    .list-item-progress {
      margin-right: 20px;
      padding-right: 20px;
      height: 16px;
      display: inline-block;
      border-right: 1px solid #eee;
      .input-progress {
        padding: 1px 0;
        margin-top: -2px;
        width: 38px;
        float: left;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #ddd;
      }
      .progress-sep {
        float: left;
        padding: 0 0 0 10px;
      }
      .list-item-total {
        float: left;
        width: 34px;
        text-align: center;
        font-weight: bold;
      }
    }
    .list-item-score {
      margin-right: 20px;
      padding-right: 20px;
      text-align: left;
      min-width: 58px;
      display: inline-block;
      height: 16px;
      border-right: 1px solid #eee;
      &.not-rated {
        color: $lightGrey;
      }
    }
    .list-item-type {
      display: inline-block;
      width: 50px;
      font-weight: bold;
      line-height: 14px;
      text-align: center;
    }
  }
}

.library-header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.library-sections {
  float: right;
}

.search-wrapper {
  padding-left: 0;
}

.library-search {
  border: none;
  padding-left: 0;
  height: 50px;
  font-size: 16px;
  font-family: $headerFontFamily;
  color: $darkOrange;

  &:focus {
    outline: none;
  }
}

.library-filter {
  border-radius: 0 !important;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  font-family: $headerFontFamily;
}
