// layout styles
@import "globals/all";

/* 
 =============================
 Anime Page Loading Spinner
 =============================
*/

#circleG{
  width:87.5px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.circleG{
  background-color:#FFFFFF;
  float:left;
  height:19px;
  margin-left:10px;
  width:19px;
  -moz-animation-name:bounce_circleG;
  -moz-animation-duration:1.9500000000000002s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -moz-border-radius:21px;
  -webkit-animation-name:bounce_circleG;
  -webkit-animation-duration:1.9500000000000002s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -webkit-border-radius:21px;
  -ms-animation-name:bounce_circleG;
  -ms-animation-duration:1.9500000000000002s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -ms-border-radius:21px;
  -o-animation-name:bounce_circleG;
  -o-animation-duration:1.9500000000000002s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  -o-border-radius:21px;
  animation-name:bounce_circleG;
  animation-duration:1.9500000000000002s;
  animation-iteration-count:infinite;
  animation-direction:linear;
  border-radius:21px;
}

#circleG_1{
  -moz-animation-delay:0.39s;
  -webkit-animation-delay:0.39s;
  -ms-animation-delay:0.39s;
  -o-animation-delay:0.39s;
  animation-delay:0.39s;
}

#circleG_2{
  -moz-animation-delay:0.9099999999999999s;
  -webkit-animation-delay:0.9099999999999999s;
  -ms-animation-delay:0.9099999999999999s;
  -o-animation-delay:0.9099999999999999s;
  animation-delay:0.9099999999999999s;
}

#circleG_3{
  -moz-animation-delay:1.1700000000000002s;
  -webkit-animation-delay:1.1700000000000002s;
  -ms-animation-delay:1.1700000000000002s;
  -o-animation-delay:1.1700000000000002s;
  animation-delay:1.1700000000000002s;
}

@-moz-keyframes bounce_circleG{
  0% {
  }

  50% {
   background-color:#525a65
  }

  100% {
  }
}

@-webkit-keyframes bounce_circleG{
  0%{
  }

  50%{
    background-color:#525a65
  }

  100%{
  }
}

@-ms-keyframes bounce_circleG{
  0% {
  }

  50% {
    background-color:#525a65
  }

  100% {
  }
}

@-o-keyframes bounce_circleG{
  0% {
  }

  50% {
    background-color:#525a65
  }

  100%{
  }
}

@keyframes bounce_circleG{
  0% {
  }

  50% {
    background-color:#525a65
  }

  100% {
  }
}

/* 
 =============================
 Feed Loading Spinner
 =============================
*/

.loading-spinner {
  width: 16px;
  height: 16px;
  border-radius: 100% 0 100% 100%;
  background: #fff;
  margin: 24px auto;
  animation: spin 1s infinite;
  backface-visibility: hidden;
  transform: translateZ(0);
  position: relative;
}

.loading-spinner:after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: $darkEggshell;
  top: 3px;
  left: 3px;
  border-radius: 100%;
}

@keyframes spin {
  0% {
    animation-timing-function: ease-in;
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(160deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: rotate(340deg);
  }
}
