.quick-update {
  @extend .clearfix;
  background: #4b5360;
  padding: 12px;
  width: 100%;
  overflow: hidden;
  .series-title {
    color: #fff;
    margin-bottom: 60px;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .series-slider {
    position: relative;
    .update-loading {
      background: darken(#4b5360, 5);
      color: #999;
      border-radius: 3px;
      text-align: center;
      height: 254px;
      line-height: 254px;
      .fa-spinner {
        font-size: 32px;
      }
    }
    .arrow-nav {
      color: #5f6673;
      &:hover {
        color: lighten(#5f6673, 15);
      }
      &.inactive {
        color: darken(#5f6673, 3);
        cursor: default;
      }
    }
    .fa-angle-left, .fa-angle-right {
      position: absolute;
      font-size: 100px;
      top: 75px;
    }
    .fa-angle-left {
      left: -75px;
    }
    .fa-angle-right {
      right: -75px;
    }
  }
  .mark-multiple {
    display: block;
    margin-top: 15px;
    color: #fff;
    &:hover {
      color: $darkOrange;
    }
  }
  .watched-series {
    @extend .col-sm-2;
    @extend .col-xs-2;
    padding: 10px;
    float: left;
    .overlay-wrapper {
      position: relative;
    }
    .overlay-panel {
      background-color: rgba(39, 44, 50, .8);
      opacity: 0;
      border-radius: 3px;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 5px 10px;
      transition: opacity .3s ease-in-out;
    }
    .actionable {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin-top: -20px;
    }
    .stats {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: #bdc5d1;
      h4 {
        margin-bottom: 0;
      }
      p {
        font-size: 14px;
      }
    }
    &:hover, &:nth-of-type(1) {
      .overlay-panel {
        opacity: 1;
      }
    }
  }
}
