/*
 =============================
 Status Panel
 =============================
*/

.status-panel {
  padding: 0px;
  background: linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
  border-radius: 3px;
  .status-form {
    @extend .form-control;
    background: transparent;
    border: none !important;
    box-shadow: none !important;
    font-weight: 300;
    font-size: 16px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    resize: none;
    transition: height 0.2s ease 0s;
  }
}

.story {
  @extend .panel;
  @extend .panel-default;
  margin-bottom: 15px;
}

.update-panel {
  @extend .panel-body;

  .story-title {
    color: #999999;
    font-weight: 300;
    a {
      color: #333;
      font-weight: 700;
    }
    margin: 0;
  }

  .series-thumb {
    @extend .col-xs-2;
    @extend .col-sm-2;
    @extend .col-md-2;
    padding-left: 0;
    padding-right: 0;
  }

  .media-content {
    @extend .col-xs-10;
    @extend .col-sm-10;
    @extend .col-md-10;
  }

  .genre-list {
    @extend .inline-list;
    @extend .secondary;
    @extend .hidden-xs;
    @extend .clearfix;
    font-size: 14px;

    /* because metamorphs */
    li:last-of-type:after {
      content: "";
    }
  }

  .user-image {
    @extend .col-xs-2;
    @extend .col-sm-1;
    @extend .col-md-1;
    padding-left: 0;
    padding-right: 0;
  }

  .comment-content {
    @extend .col-xs-10;
    @extend .col-sm-11;
    .reply-icon {
      color: #999999;
      padding-right: 10px;
      padding-left: 7px;
      position: relative;
      top: 2px;
    }
    .secondary {
      font-size: 14px;
    }
    .remove-post {
      color: #999;
      transition: ease-in .2s;
      &:hover {
        color: red;
      }
    }
  }

  .inline-list {
    li {
      padding-right: 5px;
      &:after {
        content: " \00b7 ";
      }
      &:last-child {
        &:after {
          content: none;
        }
      }
    }
  }

  .comment-text {
    @extend .col-sm-11;
    @extend .col-xs-10;
    float: right;
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .event-info {
    p {
      font-size: 18px;
      margin-bottom: 0;
      margin-top: -5px;
    }
    @media (max-width: 990px) {
      padding-left: 0px;
      p {
        font-size: 14px;
      }
    }
  }

  li.single-event {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    padding-top: 10px;
    &:first-child {
      border-top: 1px solid #eee;
    }
    &:nth-of-type(2) {
      @media (max-width: 400px) {
        display: none;
      }
    }
  }

  .feed-events {
    margin-top: 5px;
    .secondary {
      font-size: 14px;
    }
  }
}

.status-toolbar {
  padding-top: 0;
  padding-bottom: 0;
  .toolbar-actions {
    padding-left: 0;
    padding-right: 0;
    .toolbar-action {
      border-right: 1px solid $darkDivider;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      .like-button {
        padding-right: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
        color: #7e7e7e;
        &:hover {
          color: $pink;
        }
        &.active {
          color: $pink;
        }
      }
      .reply-button {
        padding-left: 15px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        color: #7e7e7e;
        &:hover {
          color: $darkOrange;
        }
      }
      .repost-button {
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        color: #7e7e7e;
        &:hover {
          color: $darkOrange;
        }
      }
    }
  }

  .users-who-liked {
    float: right;
    padding-top: 8px;
    .responsive-image {
      max-width: 25px;
    }
    .more-likes {
      color: $medGrey;
      font-family: $headerFontFamily;
      font-size: 20px;
      border-radius: 3px;
      background: $darkEggshell;
      font-size: 14px;
      position: relative;
      top: 3px;
      padding: 3px 5px 3px 5px;
    }
  }

  @media (max-width: 995px) {
    .users-who-liked {
      li:nth-of-type(5), li:nth-of-type(4) {
        display: none;
      }
    } 
  }
  @media (max-width: 400px) {
    .users-who-liked {
      li:nth-of-type(3), li:nth-of-type(2) {
        display: none;
      }
    }
  }
}

.feed-comment-wrapper {
  background-color: $eggshell;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  padding-bottom: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
  .feed-comment-form {
    padding-bottom: 11px;
  }
  .feed-comment {
    .row {
      border-top: 1px solid #ddd;
      margin-top: 3px;
      padding-top: 10px;
    }
    .user-image {
      padding: 0; 
    }
    .user-name {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .comment-content {
      @media (max-width: 991px) {
        padding-left: 0;
      }
    }
  }
}
