// user cover image
.user-cover {
  height: 330px;
  overflow: hidden;
  position: relative;

  .cover-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }

  .cover-overlay {
    background: url("cover-overlay.png") bottom left repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 243px;
  }
}

// user cover options
.user-cover-options {
  color: #fff;
  position: absolute;
  width: 100%;
  top: -145px;
  .user-wrapper {
    padding-left: 0;

    .account-info {
      padding: 5px;
      @media (max-width: 1200px) {
        padding-left: 30px;
      }
      @media (max-width: 990px) {
        padding-left: 160px;
      }
      @media (max-width: 768px) {
        padding-left: 15px;
      }
    }
  }
  .user-avatar {
    @media (max-width: 990px) {
      position: absolute;
      bottom: 4px;
    }
    @media (max-width: 768px) {
      top: -115px;
      left: 0px;
      bottom: auto;
    }
  }
  .large-avatar {
    position: relative;
    float: left;
    @media (max-width: 768px) {
      max-width: 130px;
    }
    img {
      border-radius: 3px;
    }
    .online-box {
      background: rgba(0,0,0,.3);
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 0;
      right: 0;
      border-top-left-radius: 3px;
      border-bottom-right-radius: 3px;
      .online-indicator {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 100px;
        bottom: 4px;
        right: 5px;
        border: 1px solid #333;
        z-index: 1;
        &.online {
          background: #58e08e;
        }
        &.offline {
          background: #afafaf;
        }
      }
    }
  }



  .user-cover-options .account-info {
    padding-left: 25px;
  }

  .username {
    margin-top: 43px;
  }
  .inline-list {
    margin-bottom: 0;
    li {
      padding: 5px 0px 5px 0px;
      border: 1px solid;
      border-radius: 3px;
      margin-right: 10px;
      &:hover {
        border-color: $orange;
        a {
          color: $orange;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        padding: 5px 10px 5px 10px;
        color: #fff;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .fa-exchange, .fa-heart-o, .fa-envelope-o {
    @media (max-width: 400px) {
      display: none;
    }
  }
  .upload-cover, .follow-button {
    position: absolute;
    right: 15px;
    top: 87px;
    padding-right: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 40px;
    @media (max-width: 630px) {
      right: 13px;
      top: -25px;
      padding-right: 35px;
      padding-left: 35px;
    }
  }
  .upload-cover {
    position: absolute;
    right: 15px;
    top: 87px;
    padding: 5px 20px;
    text-transform: uppercase;
    @media (max-width: 630px) {
      right: 13px;
      top: -25px;
    }
  }
}

// user cover for reviews
.series-content {
  .review-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .user-cover {
      height: 150px;
    }
    .cover-overlay {
      bottom: -45px;
    }
  }
  .container.relative {
    height: 150px;
  }
  .profile-navigation {
    position: absolute;
    left: 0;
    right: 0;
  }
  .user-cover-options {
    top: 35px;
    .user-avatar {
      padding-left: 0;
      padding-right: 0;
      @media (max-width: 990px) {
        bottom: inherit;
      }
    }
    .username {
      margin-top: 55px;
      margin-left: 15px;
    }
  }
  .user-wrapper {
    width: 100%;
    .account-info {
      @media (max-width: 990px) {
        padding-left: 110px;
      }
    }
  }
  .follow-button {
    font-size: 16px;
    background: #eee;
    color: #333;
    top: 64px;
    right: 0;
    padding-left: 40px;
    padding-right: 40px;
  }
}