{{input value=query classNames="search-field" placeholder="Search for..."}}

{{#if filteredSearchResults}}
  <ul class="search-dropdown">
    {{#each filteredSearchResults as |result|}}
      <li class="search-result grid-list">
          <div class="grid-position">
            <a {{action 'addMediaToFavorites' result}}>
              <i class="fa fa-plus-circle"></i>
            </a>
          </div>
          <img class="grid-list-thumb" {{bind-attr src="result.image"}} />
          <div class="grid-list-title">{{result.title}}</div>
      </li>
    {{/each}}
  </ul>
{{/if}}
