<h2>
  My Apps
  {{#link-to 'apps.new' class='btn btn-default pull-right'}}
    <i class="fa fa-plus"></i> New App
  {{/link-to}}
</h2>
<div class="block-grid-md-2 blog-grid-sm-1">
  {{#each model as |app|}}
    {{app-card app=app}}
  {{/each}}
</div>
