.banner-ad {
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 3px;
  
  img {
    width: 100%;
    height: auto;
  }
}

.ad-unit {
  position: relative;
  z-index: 1;
}

.feed-head-advert, .feed-sidebar-advert, .feed-sm-sidebar-advert, .anime-page-advert {
  @extend .col-xs-12;
  background: #d6d6d6;
  text-align: center;
  padding: 10px 0 5px 0;
  overflow: hidden;
  border-radius: 4px;
}

.anime-page-advert {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.feed-head-advert {
  margin-bottom: 15px;
  height: 110px;
}

.feed-sidebar-advert, .feed-sm-sidebar-advert {
  margin-bottom: 20px;
}

.ad-background {
  position: absolute;
  width: 100%;
  top: 30px;
  z-index: 0;
  img {
    width: 728px;
    position: relative;
    top: -3px;
  }
}