.banner-ad {
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 3px;
  
  img {
    width: 100%;
    height: auto;
  }
}

.feed-head-advert, .feed-sidebar-advert, .feed-sm-sidebar-advert, .anime-page-advert {
  @extend .col-xs-12;
  background: #d6d6d6;
  text-align: center;
  padding: 10px 0 5px 0;
  overflow: hidden;
  border-radius: 4px;
}

.anime-page-advert {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.feed-head-advert {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 15px;
}

.feed-sidebar-advert, .feed-sm-sidebar-advert {
  margin-bottom: 20px;
}
