@import 'mixins/block-grid';

.series-header {
  background: #4b5360;
  position: relative;
  padding: 30px 0;
  .poster-container {
    @extend .col-sm-2;
    padding: 0;
    .series-poster {
      width: 100%;
      max-width: 270px;
      border-radius: 5px;
    }
  }

  .middle-column {
     @extend .col-sm-7;
     .series-title {
       color: #eaeaea;
       margin-top: 0;
       .alternate-title {
         display: inline-block;
         color: #b3b3b3;
       }
     }
    .synopsis {
      color: #e5e5e5;
      font-size: 18px;
    }
    .series-metadata {
      color: #b3b3b3;
      font-size: 14px;
      li {
        display: inline;
        &:after {
          content: " · ";
        }
        &:last-child {
          &:after {
            content: "";
          }
        }
      }
    }
    .info-tabs {
      @extend .col-xs-12;
      margin-top: 15px;
      padding: 0;
      .slider {
        .badge {
          background: #838c9a;
          border-radius: 3px;
          padding: 7px 5px;
          margin-right: 10px;
          a {
            color: #fff;
            font-weight: normal;
            padding: 7px 5px;
            letter-spacing: 1px;
          }
        }
      }
      .nav-tabs {
        border-bottom: none;
        > li.active > a {
          background: none;
          border: none;
          color: #fff;
          border: 1px solid #838c9a;
          &:hover {
            background: none;
            border: none;
            color: #fff;
            border: 1px solid #838c9a;
          }
        }
        li > a {
          color: darken(#fff, 30);
          font-family: "klavika", Helvetica, Arial, sans-serif;
          &:hover {
            background: #838c9a;
            color: #fff;
            border: 1px solid #838c9a;
          }
        }
      }
      li > a {
        padding: 5px 15px;
      }
      hr {
        margin-top: 10px;
        border-color: #ddd;
      }
    }
  }
  .right-column {
    @extend .col-sm-3;
    padding: 0;
    .top-buttons {
      margin-bottom: 15px;
      .btn-group {
        width: 100%;
        .btn {
          width: 100%;
          background: #16a085;
          padding: 12px;
          font-size: 17px;
        }
        &.open {
          .btn {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            box-shadow: none;
          }
          .dropdown-menu {
            left: 0;
            right: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            margin-top: 0;
            border: none;
            background: darken(#16a085, 10);
            padding: 0;
            li {
              a {
                border-bottom: 1px solid darken(#16a085, 15);
                padding: 10px;
                color: #fff;
                &:hover {
                  background: lighten(#107360, 5);
                }
              }
              &:last-child {
                a {
                  border-bottom: none;
                }
              }
            }
          }
        }
      }
      .top-button {
        border: none;
        background: #2f333b;
        color: #fff;
        font-family: $headerFontFamily;
        font-size: 16px;
        &.heart {
          font-size: 20px;
          padding-bottom: 1px;
          padding-top: 4px;
          &:hover {
            opacity: .8;
          }
        }
        &.active {
          background: #f77d70;
          color: #9f554e;
        }
      }
      .left-buttons {
        display: inline-block;
        li {
          display: inline;
        }
      }
    }
    .series-ratings {
      background: #2f343b;
      background: rgba(47, 52, 59, .7);
      border-radius: 3px;
    }
  }
}

.episode-thumbs {
  @include block-grid(5);
  .thumbnail {
    a {
      position: relative;
      display: block;
    }
    .description {
      position: absolute;
      bottom: 0;
      background: #333;
      background: rgba(0,0,0,.5);
      padding: 5px 10px;
      width: 100%;
      color: #fff;
    }
    .play-icon {
      position: absolute;
      bottom: 50px;
      width: 100%;
      text-align: center;
      .fa-play {
        background: #333;
        background: rgba(0,0,0,.7);
        padding: 14px 12px 12px 16px;
        color: #fff;
        border-radius: 50%;
        opacity: 0;
        transition: .2s ease-in;
      }
    }
    &:hover {
      .fa-play {
        opacity: 1;
        transition: .2s ease-in;
      }
    }
  }
}

.series-reviews {
  @extend .col-sm-6;
  padding-left: 0;

  .review-listing {
    @extend .col-xs-12;
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
    padding: 0px;

    .review {
      @extend .col-xs-12;
      @extend .clearfix;
      padding: 8px;
      padding: 15px;
      border-bottom: 1px solid #ccc;
      transition: .2s ease-in;
      &:hover {
        background: lighten(#eee, 3);
      }
    }

    .trending-review-empty {
      text-align: center;
      margin-bottom: 35px;
      .empty-icon {
        font-size: 100px;
        color: #aaa;
      }
    }

    .reviewer-thumb-wrapper {
      @extend .col-sm-2;
      padding-left: 4px;
      padding-top: 8px;
    }

    .reviewer-thumb {
      border-radius: 3px;
      width: 100%;
    }

    .reviewer-name-wrapper {
      @extend .col-xs-12;
      @extend .col-sm-10;
      padding: 0;
    }

    .reviewer-name {
      display: inline-block;
      margin: 2px 0;
      color: #444;
      .subtext {
        font-weight: normal;
        color: #888;
        font-size: 16px;
        margin-right: 4px;
      }
    }

    .review-summary {
      font-size: 16px;
      color: #444;
      margin: 4px 0;
      line-height: 20px;
    }

    .review-likes {
      font-size: 12px;
      color: #999;
      margin: 2px 0;
    }

    .review-stars {
      padding: 0;
      margin: 0;
      color: #777;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.series-gallery {
  @extend .col-sm-6;
  padding-right: 0;
}

