.apps-page {
  @extend .container;
  padding-top: 20px;

  .apps-page-title {
    margin-top: 0;
  }

  .apps-page-desc {
    text-align: justify;
  }

  .apps-page-card {
    @extend .col-md-6;

    .app-card {
      @extend .clearfix;
      margin: 20px;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #ddd;
    }
    
    .app-image {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      width: 100%;
    }

    .app-inner {
      padding: 20px;

      .app-title {
        margin-top: 0;
        padding: 0;

        .app-type {
          font-size: 0.5em;
          font-weight: normal;
          color: $darkOrange;
        }
      }

      .app-desc { text-align: justify; }
      .app-link { text-align: right; }
      .app-bull {
        color: $lightGrey;
        &:last-of-type { display: none; }
      }
    }

  }
}