.apps-header {
  background: url(apps-bg.jpg);
  height: 300px;
  background-size: cover;
  color: #fff;
  padding-top: 50px;
  .container {
    @media (max-width: 624px) {
    position: relative;
    bottom: 55px;
    }
  }
  h1 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  a {
    color: #ebab67;
  }
  &.condensed {
    height: 200px;
    padding-top: 20px;
  }
}
.apps-page {
  @extend .container;
  padding-top: 20px;

  hr {
    margin-top: 40px;
    margin-bottom: 30px;
    border-top: 1px solid #D5D5D5;
  }

  .apps-page-title {
    margin-top: 0;
  }

  .apps-page-desc {
    text-align: justify;
  }

  .app-card {
    @extend .clearfix;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;
  }
  
  .app-image {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
  }

  .app-inner {
    padding: 20px;
    hr {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .app-title {
      margin-top: 0;
      margin-bottom: 3px;
      padding: 0;
      font-weight: normal;

      .app-type {
        font-size: 0.5em;
        font-weight: normal;
        color: #818080;
        border: 1px solid;
        padding: 5px 10px;
        position: relative;
        top: -4px;
        margin-left: 5px;
        border-radius: 3px;
      }
    }

    .app-author {
      font-size: 16px;
      display: block;
      margin-bottom: 10px;
    }

    .app-desc { 
      font-size: 18px; 
    }

    .app-link { 
      display: block;
      margin-top: 20px;
      a {
        background: #acacac;
        color: #fff;
        padding: 10px 30px;
        border-radius: 3px;
        &:hover {
          background: darken(#acacac,10);
        }
        &:last-child {
          background: #e67e22;
          &:hover {
            background: darken(#e67e22,10);
          }
        }
      }
    }
    .app-token {
      font-family: monospace;
      &:before,
      &:after {
        content: '"';
      }
    }
    .app-screens {
      margin-top: 30px;
      img {
        max-width: 100%;
        border-radius: 5px;
      }
    }
  }
}
