.chat-container {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  top: 0;
  display: flex;
  align-content: stretch;

  .online-users {
    width: 20%;
    border-right: 1px solid #999;

    ul {
      li {
        height: 50px;
        border-bottom: 1px solid #999;

        img {
          height: 50px;
          width: 50px;
          margin-right: 10px;
          border-radius: 0;
        }

        &.header {
          text-align: center;
          padding-top: 9px;
          height: 40px;
        }
      }
    }
  }

  .chat-window {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100%;

    .chat-items {
      li {
        @extend .clearfix;

        margin-bottom: 5px;
        padding-bottom: 5px;

        border-bottom: 1px solid #999;
        .username, .message, .delivered {
          float: left;
        }
        .username {
          width: 12%;
          text-align: right;
          padding-right: 20px;
          font-weight: bold;
          opacity: 0.8;
        }
        .message {
          width: 88%;
        }
        .delivered {
          font-size: 0.6em;
          width: 12%;
          padding-right: 20px;
          text-align: right;
        }
      }
    }

    .entry {
      border-top: 1px solid #999;
      height: 55px;
      width: 100%;
      background: #fff;
      flex: 0;

      form {
        height: 100%;
        width: 100%;
        display: flex;
      }

      input {
        height: 100%;
        width: 90%;
        padding-left: 10px;
      }

      button {
        height: 100%;
        width: 10%;
        border-radius: 0;
        margin: 0;
      }
    }
  }
}
