.awesome-rating-widget {
  display: inline-block;
}

.sidebar-title {
  margin-bottom: 5px;
  color: #fff;
  font-size: 17px;
  font-weight: normal;
}

.personal-rating {
  @extend .col-xs-12;
  @extend .col-sm-12;

  text-align: center;
  float: left;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
  border-bottom: 1px solid darken(#2f343b,5);
  padding-bottom: 15px;

  @media (min-width: 768px) {
    padding: 15px 0 0 0;
    border-top: 1px solid #ddd;
  }

  .sidebar-title {
    margin-bottom: 5px;
  }

  .icon-container {
    font-size: 30px;
    padding: 0 2px;
    @media (min-width: 768px) and (max-width: 1200px) {
      font-size: 25px;
    }

    /* Simple rating icons. */
    .fa-frown-o, .fa-meh-o, .fa-smile-o {
      color: #999;
      padding: 0 4px;
      font-size: 1.2em;
    }

    .active {
      color: #ec8661;
    }

    .simple:hover {
      color: black;
    }
  }

  &.active {
    .icon-container {
      color: #ec8661;
    }
  }
}

.affiliate-button {
  @media (max-width: 768px) {
    padding: 10px;
  }
}

.community-rating {
  @extend .col-xs-12;

  padding-top: 10px;
  padding-bottom: 25px;
  .sidebar-title {
    margin-bottom: 15px;
  }
}

.community-rating-wrapper {
  position: relative;
  height: 40px;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 4px;
    @media (min-width: 768px) and (max-width: 1200px) {
      margin-right: 3px;
    }
  }
}

.rating-column {
  bottom: 0;
  width: 14px;
  height: 40px;
  background: lighten(#2f343b, 10);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  @media (min-width: 768px) and (max-width: 1200px) {
    width: 10px;
  }

  &.last {
    margin-right: 0;
  }
}

.rating-value {
  position: absolute;
  bottom: 0;
  width: 14px;
  background: lighten(#4b5360, 15);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  @media (min-width: 768px) and (max-width: 1200px) {
    width: 10px;
  }
}
