.user-feed-filter {
  @extend .clearfix;
  @extend .story;
  padding: 20px;

  .user-feed-tab {
    display: block;
    padding: 10px 0 5px 0;
    width: 33%;
    text-align: center;
    float: left;

    &.active-tab {
      border-bottom: 2px solid $darkOrange;
    }
  }
}

.user-dashboard {
  @extend .container;
  margin-top: 21px;
}

#recent-toggle {
  background: #23272d;
  font-family: "klavika", Helvetica, Arial, sans-serif;
  width: 100px;
  border-radius: 3px;
  padding: 4px 5px;
  color: #999999;
  line-height: 20px;
  font-size: 12px;
  font-weight: 700;
  font-smoothing: antialiased;
  text-align: center;
  margin: 11px;
  transition: .1s ease-in-out;
  @media (max-width: 768px) {
    border-radius: none;
    background: none;
    margin: 0;
    padding: 0;
    line-height: 50px;
  }

  &.close-recent {
    background: #dd6149;
    color: #fff;
  }

  &:hover {
    color: #fff;
  }
}
