.feed-sidebar-advert,
.community-widget-panel {
  float: none;
}

.feed-sidebar-footer {
  margin: 20px 0;
  padding: 8px 15px;
  border-radius: 3px;
  text-align: center;
  font-size: 0.8em;
  color: $lightGrey;
}

.user-feed-filter {
  @extend .clearfix;
  @extend .story;
  padding: 20px;
  background: none;
  box-shadow: none;
  text-align: center;

  .user-feed-tab {
    display: inline-block;
    padding: 10px 0 5px 0;
    margin-right: 30px;
    a {
      color: #aeaeae;
      font-size: 1.2em;

      &:hover {
        color: darken(#aeaeae, 20);
      }
    }

    &.active-tab {
      a {
        color: #333;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.user-dashboard {
  @extend .container;
  margin-top: 30px;
}

#recent-toggle {
  background: #23272d;
  font-family: "klavika", Helvetica, Arial, sans-serif;
  width: 100px;
  border-radius: 3px;
  padding: 4px 5px;
  color: #999999;
  line-height:20px;
  font-size:12px;
  font-weight: 700;
  font-smoothing: antialiased;
  text-align:center;
  margin: 11px 11px;
  transition: .1s ease-in-out;
  @media (max-width: 768px) {
    border-radius: none;
    background: none;
    margin: 0;
    padding: 0;
    line-height: 50px;
  }

  &.close-recent {
    background:#dd6149;
    color: #fff;
  }
  
  &:hover {
    color: #fff;
  }
}
