/* edit index view */
.edits {
  .panel-body { padding: 0; }
  .edits-none { padding: 10px 20px; }
}

.edit-list {
  .edit-entry {
    @extend .clearfix;
    padding: 10px 20px;

    .edit-entry-left {
      @extend .col-xs-12;
      @extend .col-sm-7;
      @extend .col-md-7;
      @extend .col-lg-8;

      padding: { left: 0; right: 0; };

      .edit-type {
        display: inline-block;
        width: 10%;
        text-transform: capitalize;
      }
    }

    .edit-entry-right {
      @extend .col-xs-12;
      @extend .col-sm-5;
      @extend .col-md-5;
      @extend .col-lg-4;

      padding: { left: 0; right: 0; };
      text-align: right;

      .edit-entry-time {
        display: inline-block;
        width: 50%;
        text-align: center;
      }
    }
  }
}


/* diff view */
.edit-entry-diff {
  background-color: #f7f7f7;
  padding: 10px 20px;
  padding-left: 40px;

  .diff-type, .diff-body { margin-bottom: 10px; }
  .diff-body {
    margin-left: 20px;
    ins, del { text-decoration: none; }
    ins { background-color: rgba(0, 255, 0, 0.4); }
    del { background-color: rgba(255, 0, 0, 0.4); }

    .poster_image {
      &:first-child { margin-right: 10px; }
      width: 200px;
      height: 300px;
    }

    .cover_image {
      &:first-child { margin-right: 10px; }
      width: 400px;
      height: 200px;
    }

    iframe:first-child { margin-right: 10px; }
  }
}
