.user-actions .personal-rating {
  top: 7px;
}
.fauna-select {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 2000;
  background-color: white;
  overflow-y: auto;
}

.fauna-select-menu {
  height: 100%;
  width: 100%;
  padding: 1em;
}

.fauna-select-item {
  width: 320px;
  padding-top: 30px;
  display: inline-block;
  border: 1px solid #ddd;
  margin: 5px;
  border-radius: 3px;
  list-style-type: none;
  cursor: pointer;
  background: #F7F7F7;
  transition: .2s ease-in-out;
  &:hover {
    background: #1abc9c;
    border-color: #1abc9c;
    color: #0B4C3F;
    .fauna-name {
      border-color: lighten(#0B4C3F, 20);
    }
  }
  .fauna-icon {
    font-size: 2em;
  }
  .fauna-name {
    display: block;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding: 15px 0;
    font-weight: bold;
    transition: .2s ease-in-out;
  }
}

html.scroll-lock {
  overflow: hidden;
}
