.giftbox {
  position: fixed;
  bottom: -45px;
  left: -30px;
  width: 150px;
  z-index: 9;
  padding-bottom: 15px;
  transition: .2s ease-in;
  .PresentBox {
    padding-bottom: 15px;
  }
  .PresentBoxShadow {
    opacity: .07;
  }
  .count-wrapper {
    background: #16a085;
    line-height: 50px;
    position: fixed;
    z-index: 100;
    height: 50px;
    bottom: -50px;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    transition: .2s ease-in;
  }
  &:hover {
    bottom: 45px;
    .count-wrapper { bottom: 0;}
  }
  .visually-hidden { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
  }
}