.bg-image {
  padding-top: 100px;
}

.no-bg-image {
  padding-top: 30px;
}

.bg-image-wrapper {
  &.login {
    width: 100%;
    background: image-url("tsundere.jpg");
    height: 625px;
    background-size: cover;
    padding-top: 150px;
    .account-panel {
      margin-top: 150px;
    }
  }

  &.register {
    width: 100%;
    height: 625px;
    background-size: cover;
    padding-top: 150px;
    .account-panel {
      margin-top: 150px;
    }
  }

  &.series {
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover;
    position: absolute;
    opacity: .05;
    top: 0;
    bottom: 0;
  }
}

.wrapper-fade {
  background: image-url("bg-fade.png");
  height: 200px;
  width: 100%;
  position: absolute;
  top: 402px;
  @media (max-width: 1200px) {
    top: 275px;
  }
  @media (max-width: 1100px) {
    top: 250px;
  }
}
