.notification {
  @extend .row;

  padding-right: 30px;
  border-bottom: 1px solid #eee;
  margin-left: 0;
  background: #fff;

  &.new {
    background: #f7edda !important;
    border-bottom: 1px solid #e5d6b8;
  }

  a {
    @extend .clearfix;
    border-bottom: none !important;
    background: none !important;
    color: #000;
  }

  .avatar {
    @extend .col-xs-1;
    padding: 0;
  }

  .content {
    @extend .col-xs-11;

    .who {
      font-weight: bold;
    }

    .time {
      font-size: 0.8em;
      color: $medGrey;
    }
  }

  .view-all {
    background: $eggshell;
  }
}

.all-notifications {
  .notification-item {
    @extend .row;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;

    .content, .time {
      line-height: 46px;
    }

    .notification-title {
      @extend .col-xs-8;
      .avatar {
        @extend .col-xs-1;
        padding: 0;
      }

      .content {
        @extend .col-xs-11;

        .who {
          font-weight: bold;
        }
      }
    }

    .notification-options {
      @extend .col-xs-4;

      .mark-read {
        opacity: 0;
        margin-top: 10px;
        transition: opacity 0.3s ease-in-out;
      }
    }

    &.new {
      border-left: 10px solid #f7edda;
      margin-left: -10px;
    }

    &:hover {
      .mark-read {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }

}

.mark-read-all {
  margin-top: 15px;
}

