.notification-panel-wrapper {
  /* temp with one col */
  .col-md-6 {
    float: none;
    margin: 0 auto;
  }

  padding-top: 50px;
  .notification-panel {
    margin: 10px 0;
    padding: 8px 10px;
    background: #fff;
    border-radius: 3px;

    img {
      float: left;
      width: 50px;
      height: 50px;
      margin: 0 6px 6px 0;
    }

    .badge {
      float: right;
    }
  }
}