.pro-card {
  width: 800px;
  margin: 50px auto 30px auto;
  @media (max-width: 800px) {
    width: 100%;
    padding: 0 10px;
  }
  .panel {
    overflow: hidden;
    margin-bottom: 0;
  }
}

.pro-panel {
  padding: 10px 30px;
  h1 {
    text-align: center;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

.purchase-block {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
  label {
    margin-left: 5px;
  }
  .payment-wrapper {
    text-align: left;
    max-width: 320px;
    margin: 30px auto 0px auto;
    select {
      margin-bottom: 15px;
    }
  }
  .pro-button {
    background: #16a085;
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 3px;
    min-width: 200px;
    margin: 15px 0;
  }
  .gift-details {
    padding-left: 24px;
    margin-top: 5px;
    label {
      margin: 0;
      font-weight: normal;
    }
    input {
      border-radius: 3px;
      box-shadow: none;
      border: 1px solid #ddd;
      padding: 10px;
      min-width: 280px;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    textarea {
      border-radius: 3px;
      box-shadow: none;
      border: 1px solid #ddd;
      padding: 10px;
      width: 100%;
    }
  }
}

.perks {
  @extend .clearfix;
  li {
    @extend .col-sm-6;
    @extend .col-xs-12;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
  }
  span {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
}

.pro-partners {
  border-top: 1px dashed #ddd;
  margin-top: 40px;
  margin-bottom: 20px;
  h1 {
    margin: 30px 0;
  }
  li {
    @extend .clearfix;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 3px;
  }
  .partner-logo {
    float: left;
    width: 20%;
    height: 80px;
    padding: 10px;
    img {
      width: 100%;
      position: relative;
      top: 5px;
    }
  }
  .partner-deal {
    width: 80%;
    float: left;
    text-align: left;
    padding-left: 15px;
    h4 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
}