.pro-hero {
  background: #4b5360;
  height: 255px;
  h2 {
    color: #d7dee5;
    font-weight: normal;
    font-size: 50px;
    position: relative;
    top: 60px;
  }
  .big-badge {
    background: #ec8661;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 3px;
    margin-left: 10px;
  }
}


.pro-left {
  margin-right: 365px;
  position: relative;
  top: -85px;
}

.perks-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  .perks-greeting {
    color: #585858;
    font-size: 1.6em;
    font-family: $bodyFontFamily;
    margin-top: 0;
  }
  small {
    color: #909090;
    font-size: 1.3em;
    display: block;
  }
}

.perks-body {
  padding: 0 30px;
}

.perk {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 30px;
  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }
  .fa {
    font-size: 45px;
    float: left;
    color: #424242;
  }
  h3, p {
    margin-left: 55px;
  }
  h3 {
    font-size: 23px;
    color: #424242;
    margin-bottom: 5px;
  }
  p {
    font-size: 16px;
    color: #989898;
  }
}

.pro-right {
  float: right;
  margin-right: -20px;
  text-align: center;
  width: 360px;
}

.purchase-block {
  border-radius: 3px;
  padding: 15px;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
  width: 340px;
  position: fixed;
  label {
    margin-left: 10px;
  }
  .payment-wrapper {
    text-align: left;
    max-width: 320px;
    margin: 30px auto 0px auto;
    select {
      margin-bottom: 15px;
    }
  }
  .pro-button {
    background: #16a085;
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 100%;
    margin-top: 20px;
    &:hover {
      background: darken(#16a085, 5);
    }
    &[disabled] {
      opacity: 0.6;
      cursor: wait;
    }
  }
  .gift-details {
    padding-left: 24px;
    margin-top: 5px;
    label {
      margin: 0;
      font-weight: normal;
    }
    input {
      border-radius: 3px;
      box-shadow: none;
      border: 1px solid #ddd;
      padding: 10px;
      min-width: 280px;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    textarea {
      border-radius: 3px;
      box-shadow: none;
      border: 1px solid #ddd;
      padding: 10px;
      width: 100%;
    }
  }
}

.pro-partners {
  h1 {
    margin: 30px 0;
  }
  li {
    @extend .clearfix;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 3px;
  }
  .partner-logo {
    float: left;
    width: 20%;
    height: 80px;
    padding: 10px;
    img {
      width: 100%;
      position: relative;
      top: 5px;
    }
  }
  .partner-deal {
    width: 80%;
    float: left;
    text-align: left;
    padding-left: 15px;
    h4 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
}

.redeem-button {
  background: #16A085;
  border-radius: 3px;
  padding: 5px 15px;
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  &:hover {
    background: darken(#16A085, 5);
    color: #fff;
  }
}

.offer-clipping {
  font-weight: bold;
  text-transform: uppercase;
  border: 1px dashed #ddd;
  padding: 10px;
  border-radius: 3px;
  background: #fafafa;
  display: inline-block;
  margin-top: 15px;
}

p.redemption-instructions {
  font-style: italic;
  color: #949393;
  margin-top: 10px;
  font-size: 13px;
}


// // Badge styles

.mini-badge, .profile-badge {
  background: #bdbcbc;
  border-radius: 3px;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 10px;
  padding: 4px 10px 3px 10px;
  position: relative;
  top: -3px;
  margin-left: 3px;
  transition: .2s ease-in;
  &:hover {
    background: #ec8661;
  }
}

.profile-badge {
  @extend .animated;
  @extend .fadeIn;
  animation-delay: .5s;
  background: #ec8661;
  font-size: 12px;
  top: -5px;
  margin-left: 5px;
  &:hover {
    background: darken(#ec8661, 10);
  }
}
