.search-container {
  margin-top: 100px;
  margin-bottom: 50px;

  .search-container-head {
    padding: 6px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 5px 5px 0 0;
    color: #7a7a7a;
    font-family: "klavika", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
  }

  .search-container-body {
    padding: 30px 15px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-top: none;
    border-radius: 0 0 5px 5px;

    input {
      width: 94%;
      padding: 6px 3%;
      border: 1px solid #ddd;
      border-radius: 3px;
    }

    select {
      width: 94%;
      border: 1px solid #ddd;
      border-radius: 3px;
      padding: 6px 3%;
      color: #999;
    }

    .search-container-results {
      .search-results-empty {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 2em;
        color: #999;
      }

      .search-result {
        padding: 15px 0;
        a { color: #000; }

        .search-result-image {
          float: left;
          border: 1px solid #ddd;
          border-radius: 4px;
          width: 70px;
          margin-right: 15px;
        }

        .search-result-details {
          text-align: justify;
        }

        .badge {
          float: right;
          margin: 0 5px;
          font-size: 0.7em;
          font-weight: normal;
          background: #eeeeee;
          border-radius: 3px;
          color: #333;
          &.anime, &.manga, &.user { color: white; }
          &.anime { background: #3A5FCD; }
          &.manga { background: #836FFF; }
          &.user  { background: #6959CD; }
        }
      }

      .search-results-nosuccess {
        padding: 50px 0;
        text-align: center;
      }
    }
  }
}