.settings {
  .panel:target {
    border: 2px solid  $orange;
  }

  .last-backup {
    font-size: 12px;
    position: absolute;
    top: 7px;
    right: 10px;
    opacity: 0.5;
  }

  // A genuinely nasty hack because I was too lazy to properly do thw two columns
  .secondary-info {
    width: 48%;
  }

  .ratings-picker {
    font-size: 1.5em;
  }

  .ratings-picker input[type="radio"] {
    margin-top: 10px;
  }

  .settings-buttons {
    text-align: center;
  }

  #backup-settings {
    .row {
      margin-bottom: 10px;
    }
  }

  #connections-settings {
    .fb-connect {
      color: #fff;
    }
  }
}
