.min-height-wrapper {
  min-height: 510px;
}

.profile-navigation {
  background: none;
  height: 60px;
  margin-bottom: 20px;
  margin-top: -60px;
  position: relative;
  background: rgba(0,0,0,0.7);
  z-index: 3;

  .inline-list {
    text-align: left;
    padding-left: 15px;
    margin-bottom: 0;

    .nav-link {
      float: none;
      padding: 10px 0 10px 0;

      > a {
        padding: 5px 15px;
        font-family: $headerFontFamily;
        font-size: 18px;
        color: #7f7f7f;
        color: rgba(255,255,255,0.6);
        position: relative;
        transition: .2s ease-in;
        border-radius: 3px;
        height: 29px;

        &.active {
          color: #fff;
          background: rgba(255,255,255,0.2);
        }

        &:hover {
          color: #fff;
          background: rgba(255,255,255,0.1);
        }
      }
    }

    .nav-link a::before {
      position: absolute;
      top: 8px;
      left: 20px;
      overflow: hidden;
      padding: 10px 0;
      max-width: 0;
      border-bottom: 1px solid $darkOrange;
      color: $darkOrange;
      content: attr(data-hover);
      transition: max-width 0.5s;
    }

    .nav-link a:hover::before,
    .nav-link a:focus::before {
      max-width: 100%;
    }

    // Hide less important links on mobile
    @media (max-width: 560px) {
      .reviews-link, .lists-link {
        display: none;
      }

      .nav-link {
        a {
          font-size: 15px;
        }
      }
    }
  }
}