.user-review-listing {
  @extend .container;

	.review-columns {
		@extend .col-xs-12;
		@extend .col-md-6;

		padding: 10px;
	}

  .review {
    padding: 8px;
    background-color:#fff;
    border-radius:4px;
  }

  .reviewer-name {
    display: inline-block;
    margin: 2px 0;
    color: #444;
  }

  .review-summary {
    font-size: 16px;
    color: #444;
    margin: 4px 0;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .review-likes {
    font-size: 12px;
    color: #999;
    margin: 2px 0;
  }

  .review-stars {
    float: right;
    padding: 0;
    margin: 0;
    color: #777;
  }
}
