.user-cover {
  height: 360px;
  overflow: hidden;
  position: relative;

  .cover-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    width: 100%;
    position: relative;
  }

  .cover-overlay-wrapper {
    position: absolute;
    bottom: 0;
    height: 115px;
    width: 100%;
    overflow: hidden;
  }

  .dark-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 115px;
    background: #000;
    background: rgba(0,0,0,.35);
    z-index: 2;
  }

  .cover-overlay {
    position: absolute;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 360px;
    width: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: url("data:image/svg+xml;utf9,  <svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='3'%20/></filter></svg>#blur");
   filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    z-index: 1;
  }
}



/* User Cover Options */
.user-cover-options {
  color: #fff;
  position: absolute;
  width: 100%;
  top: -145px;
  z-index: 2;

  .user-wrapper {
    padding-left: 0;

    .account-info {
      padding: 5px;
      float: left;
      @media (max-width: 1200px) { padding-left: 30px; }
      @media (max-width: 990px) { padding-left: 160px; }
      @media (max-width: 768px) { padding-left: 15px; }
    }
  }

  .follow-widgets {
    float: right;
    display: inline-block;
    position: relative;
    top: 60px;
    li {
      text-align: center;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
    .follow-title {
      text-transform: uppercase;
      font-family: $headerFontFamily;
      font-weight: normal;
      opacity: .6;
    }
    .follow-count {
      margin-top: 5px;
    }
  }
  

  .large-avatar {
    position: relative;
    float: left;
    top: 46px;

    @media (max-width: 768px) { max-width: 130px; }
    img { 
      border-radius: 3px; 
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
  }

  .user-avatar {
    width: 9.666667%;
    @media (max-width: 990px) {
      position: absolute;
      bottom: 4px;
    }
    @media (max-width: 768px) {
      top: -115px;
      left: 0px;
      bottom: auto;
    }
  }

  .account-wrapper {
    width: 90.333333%;
  }

  .user-bio {
    max-width: 460px;
  }



  .user-cover-options .account-info {
    padding-left: 25px;
  }

  .username {
    margin-top: 39px;
  }

  .fa-exchange, .fa-heart-o, .fa-envelope-o {
    @media (max-width: 400px) {
      display: none;
    }
  }

  .follow-button {
    background: #fff;
    color: #333;
    font-size: 15px;
    padding: 10px 25px;
    padding: 8px 25px;
    position: relative;
    top: 15px;
    .fa {
      margin-right: 5px;
      font-size: 12px;
    }
  }
}


/* User Cover for Review Page */
.series-content {
  .review-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .user-cover {
      height: 150px;
    }
    .cover-overlay {
      bottom: -45px;
    }
  }

  .container.relative {
    height: 150px;
  }

  .profile-navigation {
    position: absolute;
    left: 0;
    right: 0;
  }

  .user-cover-options {
    top: 35px;
    .user-avatar {
      padding-left: 0;
      padding-right: 0;
      @media (max-width: 990px) {
        bottom: inherit;
      }
    }
    .username {
      margin-top: 55px;
      margin-left: 15px;
    }
  }

  .user-wrapper {
    width: 100%;
    .account-info {
      float: left;
      @media (max-width: 990px) {
        padding-left: 110px;
      }
    }
  }

  .follow-button {
    font-size: 16px;
    background: #eee;
    color: #333;
    top: 64px;
    right: 0;
    padding-left: 40px;
    padding-right: 40px;
  }
}
