.min-height-wrapper {
  min-height: 510px;
}

.profile-navigation {
  background: none;
  height: 60px;
  margin-top: -60px;
  position: relative;
  z-index: 3;

  .inline-list {
    text-align: left;
    padding-left: 15px;
    margin-bottom: 0;
    position: relative;
    top: 8px;

    .nav-link {
      float: none;
      padding: 10px 0 10px 0;

      > a {
        padding: 5px 15px;
        font-family: $headerFontFamily;
        font-size: 18px;
        color: #7f7f7f;
        color: rgba(255,255,255,0.6);
        position: relative;
        transition: .2s ease-in;
        border-radius: 3px;
        height: 29px;

        &.active {
          color: #fff;
          background: rgba(255,255,255,0.2);
        }

        &:hover {
          color: #fff;
          background: rgba(255,255,255,0.1);
        }
      }
    }

    // Hide less important links on mobile
    @media (max-width: 560px) {
      .reviews-link, .lists-link {
        display: none;
      }

      .nav-link {
        a {
          font-size: 15px;
        }
      }
    }
  }
}
