<ul class="cast">
  {{#each featuredCastings}}
    <li class="casting">
      <a class="character">
        <img {{bind-attr src=character.image}} width="30" height="47">
        {{character.name}}
      </a>
    </li>
  {{/each}}
</ul>
