.community
  .row
    .large-12.columns
      = render partial: "shared/forem_sidebar", locals: {active_forum: @forum}

      .forum-container.large-9.columns
        .row
          %header.cf
            .large-12.columns
              %h3.forum-title
                %i.fa.fa-chevron-left
                = link_to @forum.name, forem.forum_path(@forum)
            .large-12.columns
              %h2 Create Topic
              = render "form"
                  
          
