.edit-series-modal {
  .modal {
    @extend .container;
    top: inherit;
    bottom: -30px;
    padding-top: 100vh;
  }
  .modal-dialog {
    width: 100%;
    .modal-content {
      box-shadow: none;
      border-radius: 3px;
      border-bottom-right-radius: 0;
      border: none;
      border-bottom-left-radius: 0;
      .modal-header {
        @extend .clearfix;
        background: #eee;
        border-bottom: none;
        .modal-title {
          float: left;
          line-height: 30px;
        }
        .btn {
          float: right;
          font-size: 12px;
          background: #16a085;
          border: none;
          border-radius: 3px;
          transition: .2s ease-in;
          &:disabled {
            background: #B0B0B0;
            opacity: 1;
          }
        }
      }
      .modal-body {
        max-height: 300px;
        overflow: auto;
        label {
          font-weight: normal;
          font-size: 15px;
        }
        input, textarea {
          box-shadow: none;
        }
        .form-row {
          @extend .col-sm-12;
          padding: 0;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}