<div class="section-head" data-test-selector="library-section">
  <span class="section-title">{{section.status.string}}</span>
  <span class="section-stats" data-test-selector="library-section-stats">{{stats}}</span>
</div>

{{#each section.entries as |entry|}}
  {{users/components/library-entry
      entry=entry
      update=(route-action "updateEntry" entry)
      save=(route-action "saveEntry" entry)
      delete=(route-action "destroyEntry" entry)}}
{{/each}}
