<div class="media-browse">
  <div class="row align-stretch">
    <div class="filter-options">
      <div class="slider" data-slider data-initial-start="25" data-initial-end="75">
        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
        <span class="slider-fill" data-slider-fill></span>
        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
        <input type="hidden">
        <input type="hidden">
      </div>
    </div>
    <div class="medium-10 columns">That's right, equal-height columns are possible with Flexbox too! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, tempora. Impedit eius officia possimus laudantium? Molestiae eaque, sapiente atque doloremque placeat! In sint, fugiat saepe sunt dolore tempore amet cupiditate.</div>
  </div>
</div>

<script>$(document).foundation()</script>
