<div class="{{attrs.type}} callout" data-closable>
  {{yield}}
  {{#if attrs.closable}}
    <button class="close-button" type="button" data-close aria-label="Dismiss alert">
      <span aria-hidden="true">&times;</span>
    </button>
  {{/if}}
</div>
