<ul class="cast">
  {{#each filteredCast as |casting|}}
    <li class="character-wrapper">
      <div class="cast-image">
        <img class="actor" {{bind-attr src=casting.person.image}}>
        <img class="character" {{bind-attr src=casting.character.image}}>
      </div>
      <div class="cast-name">
        <h4>{{casting.person.name}}</h4>
        <small>as {{casting.character.name}}</small>
      </div>
    </li>
  {{/each}}
</ul>
