{{render "header"}}

{{#unless currentUser.isSignedIn}}
<div class="signup-cta hidden-xs">
  <p>
    Hummingbird is the easiest way to track, share and discover new anime.
    <small>Join now, for free!</small>
    <a class="btn btn-xs" href="/users/sign_up">Get Started</a>
  </p>
</div>
{{/unless}}

{{outlet}}
{{outlet modal}}
