{{render "header"}}

{{#unless currentUser.isSignedIn}}
<div class="signup-cta hidden-xs">
  <p>
    Hummingbird is the easiest way to track, share and discover new anime.
    <small>Join now, for free!</small>
    {{#link-to 'sign-up' class="btn btn-xs"}}Get Started{{/link-to}}
  </p>
</div>
{{/unless}}

{{outlet}}
{{outlet modal}}
