<nav class='navbar navbar-inverse navbar-fixed-top hb-nav' role='navigation'>
  {{partial "header/recently-watched"}}
  <div class='container'>
    <div class='navbar-header'>
      <!-- Toggle navigation button for small devices -->
      <button class='navbar-toggle' data-target='.navbar-ex1-collapse' data-toggle='collapse' type='button'>
        <span class='sr-only'>Toggle Navigation</span>
        <span class='fa fa-bar'></span>
        <span class='fa fa-bar'></span>
        <span class='fa fa-bar'></span>
      </button>

      <a class='navbar-brand' href='/'><img src="/assets/logo-new.jpg" width="119px" height="20px"></a>

      <!-- Mobile navigation -->
      <ul class='nav navbar-right mobile-user-nav visible-xs'>
        {{partial "header/right-content"}}
      </ul>
    </div> <!-- .navbar-header -->

    <div class='collapse navbar-collapse navbar-ex1-collapse'>
      <ul class='nav navbar-nav'>
        {{#if currentUser.isSignedIn}}
          <li class='dropdown active'>
            <a class='dropdown-toggle' data-toggle='dropdown'>
              Dashboard <b class='caret'></b>
            </a>
            <!-- <i class='dropdown-arrow dropdown-arrow-inverse'></i> -->
            <ul class='dropdown-menu left-nav-section'>
              <li>{{#link-to 'user.index' currentUser}}Profile{{/link-to}}</li>
              <li>{{#link-to 'user.library' currentUser}}Library{{/link-to}}</li>
              <li><a href='/recommendations'>Recommendations</a></li>
            </ul>
          </li>
        {{else}}
          <li class='dropdown active'>
            <a href="/users/sign_in">Dashboard</a>
          </li>
        {{/if}}

        <li class='dropdown'>
          <a class='dropdown-toggle' data-toggle='dropdown'>
            Explore <b class='caret'></b>
          </a>
          <ul class='dropdown-menu left-nav-section'>
            <li><a href='/anime'>What's Trending</a></li>
            <li><a href='/anime/filter/all'>Explore Anime</a></li>
            <li><a href='/anime/upcoming'>Upcoming</a></li>
          </ul>
        </li>

        <li class='dropdown'>
          <a href="http://forums.hummingbird.me">Community</a>
        </li>
        <li><a href="#" id="recent-toggle">Update</a></li>
      </ul>

{{!--       <form class='navbar-form navbar-left' role='search'>
        <i class='fa fa-search'></i>
        <div class='form-group'>
          <input class='form-control' placeholder='Search...' type='text'>
        </div>
      </form> --}}

      <ul class='nav navbar-nav navbar-right'>
        {{partial "header/right-content"}}
      </ul>
    </div>
  </div>
</nav>

