<div class="row" style="margin-top: 100px">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
