<div class="user-cover no-edit">
  <div class="cover-photo" style="background-image: url('https://s3.amazonaws.com/f.cl.ly/items/25093R1e3g2U140D1o2E/bg.png?v=67d3c965')">
    <div class="row">
      <div class="user-info">
        <div class="primary-info">
          <div class="cover-avatar">
            <img src="http://cl.ly/2D2u0L2Y073c/demoavatar.png">
          </div>
          <div class="mini-bio">
            <h3 class="cover-username">Cruecial</h3>
            <p>I know less than half of you half as well as I should like, and I like less than half of you half as well as you deserve.</p>
          </div>
        </div>
        <div class="follow-info">
          <div class="followers">
            <div class="bubble">
              <h3 class="count">563</h3>
              <label>Following</label>
            </div>
          </div>
          <div class="following">
            <div class="bubble">
              <h3 class="count">1012</h3>
              <label>Followers</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dark-overlay"></div>
  </div>
</div>

<div class="user-nav">
  <div class="row align-justify">
    <ul class="menu columns">
      <li><a href="#">Activity</a></li>
      <li><a href="#" class="active">Library</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">Lists</a></li>
    </ul>
    <div class="columns">
      <a href="#" class="follow-button">
        Follow
      </a>
    </div>
  </div>
</div>

{{! users/* templates rendered here }}
{{outlet}}
