@import "compass/css3";

.hummingbird-header {
  position: relative;
  .top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active, .top-bar ul > li:not(.name):focus {
    background: none;
  }
  .top-bar ul > li a:not(.button) {
    height: 36px;
  }
  .top-bar {
    background: white;
    border-top: 4px solid orange;
    margin-bottom: 0;
    z-index: 1;
    @include box-shadow(rgba(0,0,0,.1) 1px 1px 1px);

    a {
      color: #000 !important;
      &:hover {
        color: orange !important;
      }
    }

    .right {
      border-left: 1px solid #eee;
    }
    .avatar {
      a {
        margin-bottom: 29px;
      }
      img {
        width: 50px;
        height: 50px;
        margin-top: -5px;
        @include border-radius(100px);
      } 
    }

    ul > li.has-dropdown .dropdown {
      height: 115%;
      background: white;
      @include box-shadow(rgba(0,0,0,.1) 1px 1px 1px); 
      li {
        background: white;
        a {
          &:hover {
            background: white;
          }
        }
      }
    }
  }
  .top-bar ul > li.has-dropdown a:after {
    border-color: black transparent transparent transparent;
  }

  .columns {
    padding: 13px 5px 10px 5px;
    background: white;
    a {
      color: #000;
    }
  }

  .name {
    width: 214px;
    a {
      text-indent: -9999px;
      display: block;
      background: url(asset-path('logo.png', image));
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
        background-image: url(asset-path('logo@2x.png', image));
        background-size: 214px 36px;
      }
    }
  }




  figure {
    position: relative;
    overflow: hidden;
    margin-bottom: -100px;
    height: 250px;
    border-bottom: 1px solid white;


    .overlay {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      text-align: center;
      color: #fff;
      @include opacity(0.90);
      @include border-top-radius(3px);
      @include background-image(linear-gradient(left top, #393939, #000));

      .title {
        color: white;
        padding-left: 10px;
        padding-right: 10px;

        a {
          color: white;
        }
      }

      .summary {
        width: 90%;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
      }
    }

    img {
      width: 100%;
      height: auto;
      float: left;
      @include border-top-radius(3px); 
    }
  }
}
