// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";
@import "compass/utilities";

.mobile-card {
  @media (max-width: 840px) {
    width: 25% !important;
    float: left;
  }
  @media (max-width: 468px) {
    width: 50% !important;
    float: left;
  }
}

.reveal-modal {
  padding: 15px;
  fieldset {
    margin: 0px;
  }
  label {
    margin-bottom: 10px;
  }
  .twelve {
    
    &.line-break {
      margin-bottom: 20px;
      border-bottom: 1px solid #eee;
      padding-bottom: 20px !important;
    }
  }

  .three {
    float: left;
    input {
      margin: 0px;
    }
  }
  .modal-rating {
    input[type="radio"] {
      margin-left: -99999px;
      position: absolute;
    }
    .star-rating {
      padding: 0px;
      padding-top: 10px;
      padding-bottom: 0px;
      text-align: center;

      label {
        display: inline-block;
        margin: 0 auto;
        cursor: pointer;
        font-size: 30px;
        margin-right: 5px;

        a {
          display: block;
          height: 100%;
        }

        &:hover {
          color: #fc6419;
        }
      }
    }

    .like {
      float: left;
      border-right: 1px solid #f2f2f2;
      padding: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      label {
        text-indent: -9999px;
        display: block;
        width: 33px;
        height: 33px;
        margin: 0 auto;
        cursor: pointer;
        background-position: left top;
        background-image: url(asset-path('icons/vote-sprite.png', image));
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-image: url(asset-path('icons/vote-sprite@2x.png', image));
          background-size: 99px 99px;
        }
        a {
          display: block;
          height: 100%;
        }
        &:hover {
          background-position: left center;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 99px 99px;
          }
        }
        &:active {
          background-position: left bottom;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 99px 99px;
          }
        }
      }

      input:checked ~ label {
        background-position: left bottom;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-size: 99px 99px;
        }
        &:hover {
          background-position: left bottom;
        }
      }
    }

    .meh {
      float: left;
      border-right: 1px solid #f2f2f2;
      padding: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      label {
        text-indent: -9999px;
        display: block;
        width: 33px;
        height: 33px;
        margin: 0 auto;
        cursor: pointer;
        background-position: center top;
        background-image: url(asset-path('icons/vote-sprite.png', image));
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-image: url(asset-path('icons/vote-sprite@2x.png', image));
          background-size: 99px 99px;
        }
        a {
          display: block;
          height: 100%;
        }
        &:hover {
          background-position: center center;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 99px 99px;
          }
        }
        &:active {
          background-position: center bottom;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 99px 99px;
          }
        }
      }
      input:checked ~ label {
        background-position: center bottom;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-size: 99px 99px;
        }
        &:hover {
          background-position: center bottom;
        }
      }
    }

    .dislike {
      display: block;
      float: left;
      cursor: pointer;
      padding: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      label {
        text-indent: -9999px;
        display: block;
        width: 33px;
        height: 33px;
        margin: 0 auto;
        background-position: right top;
        background-image: url(asset-path('icons/vote-sprite.png', image));
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-image: url(asset-path('icons/vote-sprite@2x.png', image));
          background-size: 99px 99px;
        }
        a {
          display: block;
          height: 100%;
        }
        &:hover {
          background-position: right center;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 99px 99px;
          }
        }
        &:active {
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 99px 99px;
          }
        }
      }

      input:checked ~ label {
        background-position: right bottom;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-size: 99px 99px;
        }
        &:hover {
          background-position: right bottom;
        }
      }
    }
  }
}

.anime-discover {

  .filter-toolbar {
    background: white; 
    position: relative; 
    height: 50px; 
    top: 30px;
    margin-bottom: 50px;
    @media (max-width: 480px) {
      margin-bottom: 150px;
    }
    .row {
      overflow: visible;
      .large-12.columns {
        padding: 0px;
        .inline-list {
          overflow: visible;
          margin: 0px !important;

          .large-3.columns {
            padding: 0px;
            margin: 0px;
            button {
              @media (max-width: 480px) {
                border-bottom: 1px solid #eee;
              }
              &:hover {
                background: white;
              }
            }
            .dropdown {
              height: 50px;
              margin: 0px;
              .current {
                height: 50px;
                font-size: 20px;
                line-height: 50px;
                text-align: center;
                color: #999;
                padding: 0px;
                border-top: none;
                border-bottom: none;
              }
              .selector {
                border: none;
                height: 50px;
              }
              ul {
                top: 50px;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }


  .review-block {
    background: -webkit-linear-gradient(top,#fff 0,#eee 75%) !important;
    height: 190px;
    box-shadow: none !important;
    &:after {
      content: "";
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#00E7E7E2',endColorstr='#FFE7E7E2');
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(231,231,226,0)),color-stop(100%,#e7e7e2));
      background-image: -webkit-linear-gradient(top,rgba(231,231,226,0) 0,#eee  100%);
      background-image: -moz-linear-gradient(top,rgba(231,231,226,0) 0,#eee  100%);
      background-image: -o-linear-gradient(top,rgba(231,231,226,0) 0,#eee  100%);
      background-image: linear-gradient(top,rgba(231,231,226,0) 0,#eee 100%);
      display: block;
      position: absolute;
      pointer-events: none;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
    };

    .review-thumbnail {
      padding-left: 0px !important;
      padding-top: 11px !important;
    }
  }
  /* Sidebar Filter */
  /* ============== */
  .sidebar {
    margin-bottom: 30px;
  }

  // border override //
  p {
    margin: 0;
  }
  .has-tip {
    cursor: pointer;
    &:hover{
      color: #fd7532;
    }
  }

  .nub {
    top: 5px !important;
  }

  ul.accordion {
    border: none;
    margin: 0;


    h3 {
      font-size: 20px;
      border-bottom: 1px solid black;
      padding-bottom: 10px;
    }

    a {
      padding-left: 5px;
    }

    p {
      margin-bottom: 17px;
    }

    p.active {
      background: #3f5765;
      border-radius: 3px;
      padding: 3px;

      a {
        color: white;
      }
    }

    label {
      padding-left: 5px;
      margin-bottom: 5px;
      font-size: 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid #f2f2f2;
      color: #999;
      &.checked {
        color: #4d4d4d !important;
      }
    }

    form.custom span.custom.checkbox:before {
      top: 2px;
    }

    form.custom span.custom {
      margin-right: 5px;
    }
  }

  ul.accordion > li > div.title {
    border: none;
    background: white;
    padding: 5px;
  }

  ul.accordion > li.active {
    border-top: none;
    border-bottom: none;

    .content {
      border: none;
      padding: 5px;
    }
  }
  // override end // 

  /* This is the anime grid found on the index page */
  /* ============================================== */
  .columns {
    padding: 0 10px;
    @media (max-width: 768px) {
      padding: 0 3px;
      margin-bottom: -15px;
    }
  }

  .disable_all, .enable_all {
    cursor: pointer;
    text-align: center;
    display: block;
  }

  .apply-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .anime-grid {
    @media (max-width: 768px) {
      padding: 20px;
    }
    @media (max-width: 480px) {
      padding: 20px;
    }
    [class*="column"] + [class*="column"]:last-child {
      float: left;
    }

    .overlay {

    }

    .not-found {
      text-align: center;
      padding-bottom: 20px;
    }
  }
  .panel {
    position: relative;
    background: white;
    overflow: hidden;
    padding: 0px;
    display: block;
    background: #fff;
    color: #111;
    font-size: 13px;
    border: none;
    &.cards {
      overflow: visible;
    }

    .add-watchlist {
      z-index: 999;
      position: absolute;
      bottom: 20px;
      a {
        color: #fff;
        padding: 15px 0px;
      }
      &:hover {
        a {
          color: #fd7532;
        }
      }
    }

    .preview {
      z-index: 999;
      position: absolute;
      bottom: 50px;
      border-bottom: 1px solid white;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding-bottom: 18px;
      a {
        color: #fff;
        padding: 15px 0px;
      }
      &:hover {
        a {
          color: #fd7532;
        }
      }
    }


    .community-rating {
      position: absolute;
      z-index: 9;
      width: 100%;
      background: white;
      padding-top: 11px;
      padding-bottom: 0px;
      @include border-bottom-radius(3px);
      .positive {
        color: #2aa730;
        text-align: center;
        font-size: 30px;
        i {
          height: 33px;
          width: 33px;
          display: inline-block;

          background-image: url(asset-path('icons/positive-votes.png', image));
          background-size: 33px 33px;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url(asset-path('icons/positive-votes@2x.png', image));
            background-size: 33px 33px;
          }
        }
        h5 {
          position: relative;
          bottom: 5px;
          display: inline-block;
          color: #2aa730;
          text-align: center;
          font-size: 30px;
        }
      }
      .negative {
        color: #c63838;
        text-align: center;
        font-size: 30px;
        i {
          height: 33px;
          width: 33px;
          display: inline-block;

          background-image: url(asset-path('icons/negative-votes.png', image));
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url(asset-path('icons/negative-votes@2x.png', image));
            background-size: 33px 33px;
          }
        }
        h5 {
          position: relative;
          bottom: 5px;
          color: #c63838;
          display: inline-block;
          text-align: center;
          font-size: 30px;
        }
      }
    }

    figure {
      position: relative;
      overflow: hidden;
      margin: 0px;

      .overlay {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        z-index: 9;
        @include opacity(0.90);
        @include border-top-radius(3px);
        @include background-image(linear-gradient(left top, #393939, #000));
        display: none;
        
        .link-block {
          height: 100%;
        }

        .title {
          color: white;
          padding-left: 10px;
          padding-right: 10px;

          a {
            color: white;
          }
        }

        .summary {
          width: 90%;
          margin: 0 auto;
          padding-top: 10px;
          padding-bottom: 10px;
          border-top: 1px solid white;
          border-bottom: 1px solid white;
        }
      }

      img {
        width: 100%;
        height: auto;
        float: left;
        @include border-top-radius(3px); 
      }

      &:hover {
      }
    }

    &:hover {
      .community-rating {
        display: none;
      }
      .overlay {
        display: block;
      }
    }
    
    figcaption {
      display: block;
      position: absolute;
      bottom: 0;
      padding: 10px;
      width: 100%;
      margin: 0 auto;
      background: white;
    }

    .progress {
      width: 100%;
      border: none;
      height: 3px;
      margin-bottom: 0px;
      padding: 0px;

      .meter {
        background: #fd7532;
      }
    }

    // Dropdown
    .drop {

      .drop-button {
        font-size: 12px;
        padding: 10px 0px;

        .selector {
          position: absolute;
          width: 27px;
          height: 28px;
          display: block;
          right: 0;
          top: 0;
          border-left: solid 1px #f2f2f2;
          &:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: solid 5px;
            border-color: #b5b5b5 transparent transparent transparent;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -2px;
            margin-left: -5px;
          }
        }
      }
      .content {
        display: none;
        width: 100%;
        z-index: 99;
        a {
          font-size: 12px;
        }

      }

      .watchlist:active .content {
        display: block;
      }

      .content:hover {
        display: block;
      }
      .watchlist {
        position: relative;
        cursor: pointer;
        font-size: 10px;
      }

      .button {
        height: 20px;
        width: 150px;
      }

      .content {
        position: absolute;
        padding-top: 20px;
      }

      .content li {
        border-bottom: 1px solid #f2f2f2;
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
        background: white;
      }
    }

    .watchlist {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 10px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }
  }
  .vote-blocks {
    .star-rating {
      text-align: center;
      font-size: 23px;
      padding: 24px 0;
    }

    .like {
      float: left;
      border-right: 1px solid #f2f2f2;
      padding: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      @media (max-width: 480px) {
        padding-top: 13px;
        padding-bottom: 26px;
        padding-left: 5px;
        padding-right: 5px;
      }
      strong {
        text-indent: -9999px;
        display: block;
        width: 33px;
        height: 33px;
        margin: 0 auto;
        cursor: pointer;
        background-position: left top;
        background-image: url(asset-path('icons/vote-sprite.png', image));
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-image: url(asset-path('icons/vote-sprite@2x.png', image));
          background-size: 99px 99px;
        }
        a {
          display: block;
          height: 100%;
        }
        &:hover {
          background-position: left center;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 99px 99px;
          }
        }
        &:active {
          background-position: left bottom;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 99px 99px;
          }
        }
      }
      .active {
        background-position: left bottom;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-size: 99px 99px;
        }
        &:hover {
          background-position: left bottom;
        }
      }
    }

    .meh {
      float: left;
      border-right: 1px solid #f2f2f2;
      padding: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      @media (max-width: 480px) {
        padding-top: 13px;
        padding-bottom: 26px;
        padding-left: 5px;
        padding-right: 5px;
      }
      strong {
        text-indent: -9999px;
        display: block;
        width: 33px;
        height: 33px;
        margin: 0 auto;
        cursor: pointer;
        background-position: center top;
        background-image: url(asset-path('icons/vote-sprite.png', image));
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-image: url(asset-path('icons/vote-sprite@2x.png', image));
          background-size: 99px 99px;
        }
        a {
          display: block;
          height: 100%;
        }
        &:hover {
          background-position: center center;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 99px 99px;
          }
        }
        &:active {
          background-position: center bottom;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 99px 99px;
          }
        }
      }
      .active {
        background-position: center bottom;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-size: 99px 99px;
        }
        &:hover {
          background-position: center bottom;
        }
      }
    }

    .dislike {
      display: block;
      float: left;
      cursor: pointer;
      padding: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      @media (max-width: 480px) {
        padding-top: 13px;
        padding-bottom: 26px;
        padding-left: 5px;
        padding-right: 5px;
      }
      strong {
        text-indent: -9999px;
        display: block;
        width: 33px;
        height: 33px;
        margin: 0 auto;
        background-position: right top;
        background-image: url(asset-path('icons/vote-sprite.png', image));
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-image: url(asset-path('icons/vote-sprite@2x.png', image));
          background-size: 99px 99px;
        }
        a {
          display: block;
          height: 100%;
        }
        &:hover {
          background-position: right center;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 99px 99px;
          }
        }
        &:active {
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 99px 99px;
          }
        }
      }
      .active {
        background-position: right bottom;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-size: 99px 99px;
        }
        &:hover {
          background-position: right bottom;
        }
      }
    }
  }
}
