@import "compass/css3";
.anime-show {

  // Global 

  .quote-thumb {
    margin-top: 15px;
    margin-bottom: 10px;
    img {
      @include border-radius(3px);
    }
  }
  .status-button {
    li {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
    }
  }
  .series-rating {
    margin-bottom: 10px;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .series-tag {
    background-color: #ededed;
    border-color: #dbdbdb;
    color: #222222;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 3px 6px;
    @include border-radius(3px);
    &:hover {
      background-color: darken(#ededed, 5); 
      border-color: darken(#ededed, 10);
    }
  }

  .side-block {
    margin-bottom: 10px;
    h5 {
      margin-bottom: 0px;
    }
  }

  .sidebar-series {
    padding: 1px !important;
    float: left !important;
    img {
      border-radius: 3px;
    }
  }

  .franchise-list {
    margin-bottom: 0px;
    a.active {
      color: lighten(#222, 50);
      cursor: default;
    }
    li {
      border-bottom: 1px solid #ddd;
      padding-bottom: 5px;
      margin-bottom: 5px;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  // Center column Title
  .series-title {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .series-alt-title {
    display: inline-block;
    opacity: .5;
    font-size: 14px;
  }

  // Center Column Episode Count, duration, etc.
  .series-meta-data {
    opacity: .5;
    font-size: 14px;
    
    span.has-tip {
      font-weight: normal;
    }
  }

  // Center column description
  .genres {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .series-description {
    font-size: 16px;
  }
  .social-links {
    margin-top: 10px;
    .inline-list {
      overflow: visible;
    }
  }

  // Cast
  .cast {
    overflow: hidden;
  }
  .language-select {
    font-size: 14px;
    margin-bottom: 0px;
    dd {
      a:hover {
        color: #fd7532;
      }
      &.active {
        a {
          font-weight: normal;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .actor {
    margin-top: 5px;
    .character {
      background: #fff;
      padding: 16px 0;
      padding-right: 5px;
      color: #222;
    }
    .voice-actor {
      background: #fff;
      padding: 16px 0;
      padding-left: 5px;
    }
    img {
      vertical-align: middle;
      margin-right: 5px;
      width: 30px;
      height: 39px;
    }
    .va {
      float: right;
      img {
        margin-right: 0px;
        margin-left: 5px;
      }
    }
    &:before {
      float: left;
      width: 0;
      margin-top: 11px;
      white-space: nowrap;
      content: ". . . . . . . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . . . ";
    }
  }

  .review-left-wrapper {
    margin-bottom: 10px;
    border-right: 1px solid #eee;
  }

  .read-review {
    font-size: 15px;
  }

  .popular-reviews {
    h4 {
      margin-top: 10px;
    }
    h5 {
      margin-top: 0px;
    }
    p {
      font-size: 16px;
      margin-bottom: 0px;
    }
  }

  .reviews-footer {
    margin-bottom: 10px !important; 
  }

  .show-more {
    margin-top: 10px;
  }

  // Ad zone
  .ad-zone {
    padding-top: 13px;
    padding-bottom: 10px;
  }
}
// First block, displays anime thumbnail and description
// .anime-show {
//   .anime-details {

//     .details-left {
//       padding-top: 10px;

//       .large-2 {
//         width: 25%;
//       }

//       .panel {
//         box-shadow: none;
//         figcaption {
//           display: none;
//         }
//       }
//       .overlay {
//         top: 155px;
//         @include border-top-radius(0px);
//         .title {
//           display: none !important;
//         }
//         .preview {
//           display: none !important;
//         }
//       }
//     }

//     .social-links {
//       .inline-list {
//         margin-top: 20px;
//         margin-left: 0px;
//         li {
//           margin-left: 0px;
//           display: inline-block;
//           margin-right: 10px;
//         }
//       }
//     }

//     .small-summary {
//       color: #b4b4b4;
//       padding-bottom: 10px;
//       border-bottom: 1px solid #dfdfdf;
//       @media (max-width: 768px) {
//         width: 50%;
//       }
//     }

//     .producers {
//       padding-top: 10px;
//       padding-bottom: 10px;
//       border-bottom: 1px solid #dfdfdf;
//       @media (max-width: 768px) {
//         width: 50%;
//       }
//     }

//     .genres {
//       padding-top: 10px;
//       padding-bottom: 10px;
//       border-bottom: 1px solid #dfdfdf;
//       @media (max-width: 768px) {
//         width: 50%;
//       }
//     }

//     .synopsis {
//       margin-top: 20px;
//       p {
//         margin-bottom: 20px;
//       }
//     }

//   }

//   // Screenshots found in the sidebar
//   .screenshots {
//     text-align: center;
//     float: left;
//     padding: 0px;
//     .columns {
//       padding: 0px;
//       margin-bottom: 6px;
//       @media (max-width: 768px) {
//         padding: 3px;
//         margin-bottom: -3px;
//       }
//       img {
//         max-height: 195px;
//         width: 100%;
//       }
//     }

//     .left-small {
//       img {
//         max-height: 115px;
//         min-height: 115px;
//       }
//       &.columns {
//         @media (min-width: 768px) {
//           padding-right: 3px;
//         }
//       }
//     }

//     .right-small {
//       img {
//         max-height: 115px;
//         min-height: 115px;
//       }
//       &.columns {
//         @media (min-width: 768px) {
//           padding-left: 3px;
//         }
//       }
//     }

//     .no-images {
//       background: #eee;
//       @include border-radius(3px);
//       img {
//         margin-top: 10px;
//         width: 235px;
//       }
//       p {
//         text-align: center;
//         margin-top: 10px;
//       }
//     }
//   }

//   // Percentile rating averaged from the community
//   .community-rating {
//     text-align: center;
//     padding: 1px;
//     h6 {
//       font-size: 18px;
//     }
//     .decoration {
//       background: none !important;
//       box-shadow: none !important;
//       .left {
//         float: right;
//       } 
//       .right {
//         float: left;
//       }
//       p {
//         margin-top: 65%;
//         i {
//           height: 30px;
//           width: 88px;
//           display: inline-block;

//           background-image: url(asset-path('community-decoration.png', image));
//           @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
//             background-image: url(asset-path('community-decoration@2x.png', image));
//             background-size: 88px 30px;
//           }
//         }
//       }
//     }
//     .upper {
//       padding-bottom: 20px;
//       border-bottom: 1px solid #ececec;
//       background-image: url(asset-path('community-rating.jpg', image));
//       background-size: 676px 154px;
//       background-position: center bottom;
//       background-repeat: no-repeat;
//       .percentage-positive {
//         color: #2aa730;
//         font-size: 64px;
//         i {
//           height: 55px;
//           width: 54px;
//           display: inline-block;

//           background-image: url(asset-path('icons/positive-votes.png', image));
//           @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
//             background-image: url(asset-path('icons/positive-votes@2x.png', image));
//             background-size: 54px 55px;
//           }
//         }
//       }
//       .percentage-negative {
//         color: #c63838;
//         font-size: 64px;
//         i {
//           height: 55px;
//           width: 54px;
//           display: inline-block;

//           background-image: url(asset-path('icons/negative-votes.png', image));
//           @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
//             background-image: url(asset-path('icons/negative-votes@2x.png', image));
//             background-size: 54px 55px;
//           }
//         }
//       }
//       .based-on {
//         color: #a2a2a2;
//       }
//     }
//     .lower {
//       border-bottom: 1px solid #ececec;

//       .user {
//         display: inline-block;
//         margin-top: 20px;

//         img {
//           width: 40px;
//           float: left;
//           @include border-radius(100px);
//         }
//         a {
//           margin-left: 10px;
//           display: inline-block;
//           float: left;
//           padding-top: 14px;
//         }
//       }

//       .no-reviews {
//         img {
//           width: 60%;
//           margin-bottom: 45px;
//           margin-top: 35px;
//         }
//       }

//       .positive-review {
//         padding: 15px;
//         border-right: 1px solid #ececec;
//         p {
//           word-wrap: break-word;
//         }
//         span {
//           color: #2aa730;
//         }
//       }
//       .negative-review {
//         padding: 15px;
//         p {
//           word-wrap: break-word;
//         }
//         span {
//           color: #c63838;
//         }
//       }
//     }

//     .footer {
//       padding-top: 20px;
//       padding-bottom: 20px;
//     }
//   }
//   li:nth-child(even) {
//     background: #f9f9f9;
//   }
//   .sidebar-ad {
//     text-align: center;
//     padding-top: 30px;
//     margin-bottom: 15px;
//     padding-bottom: 30px;
//     background: #e3e3e3;
//   }
//   // Episode block
//   .episode-tracker {
//     header {
//       padding-top: 20px;
//       padding-bottom: 30px;
//       border-bottom: 1px solid #ececec;
//     }
//     .episode-list {
//       .episode {
//         display: block;
//         overflow: hidden;
//         border-bottom: 1px solid #ececec;

//         .episode-number {
//           font-size: 17px;
//           padding-top: 15px;
//           text-transform: uppercase;
//           color: #d4d4d4;
//         }

//         .episode-title {
//           font-size: 20px;
//           line-height: 20px;
//           padding-bottom: 15px;
//         }

//         .title {
//           border-right: 1px solid #eee;
//         }

//         .view-button {
//           text-indent: -9999px;
//           display: block;
//           width: 30px;
//           height: 17px;
//           margin-right: 40px;
//           margin-top: 30px;
//           cursor: pointer;
//           position: relative;
//           background-position: bottom;
//           background-image: url(asset-path('icons/watch-sprite.png', image));
//           background-repeat: no-repeat;
//           @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
//             background-image: url(asset-path('icons/watch-sprite@2x.png', image));
//             background-size: 30px 51px;
//           }
//           &:hover {
//             background-position: center;
//             @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
//               background-size: 30px 51px;
//             }
//           }
//           &:active {
//             background-position: top;
//             @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
//               background-size: 30px 51px;
//             }
//           }

//           strong {
//             a {
//               position: absolute;
//               top: 0;
//               bottom: 0;
//               left: 0;
//               right: 0;
//             }
//           }
//         }

//         &.active {
//           color: #d4d4d4;
//           .view-button {
//             background-position: top;
//             @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
//               background-size: 30px 50px;
//           }
//         }

//         &:hover {
//             background-position: bottom;
//           }
//         }
//       }

//       footer {
//         padding-top: 20px;
//         padding-bottom: 20px;
//         text-align: center;
//       }
//     }
//   }

//   // Moderation Tooks Block
//   .moderation-tools {
//     header {
//       padding-top: 20px;
//       padding-bottom: 35px;
//       border-bottom: 1px solid #ececec;
//     }

//     .moderation-form {
//       padding: 20px;

//       a.button {
//         padding: 6px;
//       }
//     }
//   }

//   // Voice Actor Block

//   .voice-actors {

//     ul { 
//       margin-left: 0px;
//     }

//     header {
//       padding-top: 20px;
//       padding-bottom: 35px;
//       border-bottom: 1px solid #ececec;
//     }

//     .section-container .content {
//       border: none !important;
//     }
    

//     .actor-row {
//       display: block;
//       overflow: hidden;
//       border-bottom: 1px solid #ececec;
//       padding-top: 7px;

//       p {
//         margin-top: 20px;
//       }
//       hr {
//         margin-top: 32px;
//       }

//       .headshot {
//         padding: 0;
//       } 

//       .divider {
//         text-align: center;
//       }
    
//       .actor {
//         text-align: right;
//       }
//     }

//     footer {
//       padding-top: 20px;
//       padding-bottom: 20px;
//       text-align: center;
//     }
//   }

//   .similar-anime {
//     header {
//       text-align: center;
//     }
//     hr {
//       margin-top: 30px;
//     }
//     .recommended {
//       img {
//         padding-top: 10px;
//         padding-bottom: 10px;
//       }
//       p {
//         text-align: left;
//       }
//       .title {
//         padding-top: 10px;
//       }
//       .rating {
//         font-size: 40px;
//         margin-top: 10px;
//         &.positive {
//           color: #2aa730;
//         }
//         &.negative {
//           color: #c63838;
//         }
//       }
//       .people {
//         margin-top: 20px;
//         font-size: 13px;
//       }
//     }
//   }
// }
