/*
 =============================
 Body
 =============================
*/
body {
  background-color: $darkEggshell;
  font-family: $bodyFontFamily;
  font-size: 16px;
  margin-top: 48px;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

a {
  cursor: pointer;
  color: $darkOrange;
  &:hover {
    text-decoration: none;
  }
}

.container {
  @media (min-width: 768px) {
    width: 100%;
  }
  @media (min-width: 992px) {
    width: 100%;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.left-align {
  float: left;
}
.right-align {
  float: right;
}

/*
input:focus, textarea:focus {
    outline: 0;
    border: none;
    box-shadow: none;
}

.form-control {
  box-shadow: none !important;
  border: none !important;
}
*/

.inline-list {
  padding-left: 0;
  li {
    display: inline-block;
    float: left;
    padding-right: 10px;
    &:last-child {
      padding-right: 0;
    }
  }
}

.panel-default {
  padding: 0;
  border-color: #49505a;
  .container {
    width: 100%;
  }
}

.panel-default > .panel-heading, .panel-footer, .panel-divider {
  background-color: #f5f5f5;
  border-color: #e0e0e0;
}
.panel-divider {
  border-radius: 0;
  border-top: 1px solid #ddd;
  padding: 10px 15px;
  font-weight: bold;
  font-family: $headerFontFamily;
}
.panel-title {
  color: #7a7a7a;
}
.secondary {
  color: $medGrey;
}

.relative {
  position: relative;
}

.responsive-image {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}
