// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chat {
  margin-top: 50px;
  .main-chat {
    height: 400px;
    overflow-y: scroll;
    .chats {
      .chat-display {
        .chat-text {
          .message-block {
            display: block;
            width: 100%;
            float: left;
            border-bottom: 1px solid #222;
            padding-top: 10px;
            padding-bottom: 10px;
            .avatar {
              .avatar-image {
                width: 40px;
                height: 40px;
                border-radius: 100px;
              }
            }
            .message {
              width: 85%;
              padding: 0px;
              p {
                line-height: .8;
              }
            }
            .time-stamp {  
              position: absolute;  
              right: 0px;   
              font-size: 11px;       
            }
          }
        }
      }
    }
  }
}