// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";
.chat {
  margin-top: 0px;
  .onlineUsers {
    max-height: 600px;
    overflow-y: scroll;
    ul {
      list-style: none;
      li {
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 5px;
      }
    }
  }
  .main-chat {
    height: 600px;
    padding: 0px;
    overflow-y: scroll;
    background: #fff;
    .chats {
      .chat-display {
        .chat-text {
          .message-block {
            display: block;
            width: 100%;
            float: left;
            border-bottom: 1px solid #eae9ee;
            padding-top: 10px;
            padding-bottom: 10px;
            @media (max-width: 480px) {
              padding-left: 10px;
            }
            .avatar {
              .avatar-image {
                width: 40px;
                height: 40px;
                border-radius: 100px;
              }
            }

            .message {
              width: 80%;
              padding: 0px;
              .name {
                font-weight: 700;
                a {
                  color: #6a6f7e;
                }
              }
              p {
                margin-bottom: 0px;
              }
            }

            .time-stamp {  
              position: absolute;  
              right: 0px;   
              text-align: right;
              font-size: 13px;
              opacity: 0.5; 
              .status-icon {
                position: relative;
                bottom: 10px;
              }
              @media (max-width: 480px) {
                right: 10px;
              }     
            }
          }
        }
      }
    }
  }
  .input-area {
    background: #fff;
    @include border-bottom-radius(5px);
    .input-wrapper {
      position: relative;
      .message {
        height: 45px;
        margin-bottom: 0px;
        margin-top: 17px;
        font-size: 16px;
        padding-bottom: 0px;
        padding-top: 0px;
        box-shadow: none;
        border: 1px solid #eae9ee;
        @include border-radius(5px);
      }
      .icon-share-alt {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        opacity: .6;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}