@import "compass/css3";

.community {
  margin-top: 20px;

  a { color: #3f5765; }
  
  .avatar {
    padding: 0px;
    img {
      width: 50px;
      height: 50px;
      @include border-radius(100px);
    }
  }

  // Side Navigation
  .forum-sidebar {
    position: relative;
    top: 100px;
    margin-bottom: 100px;
    ul {
      list-style: none;
      li {
        margin-bottom: 10px;
        span {
          background: #e1e1e1;
          padding: 5px;
          width: 100%;
          display: block;
          a {
            color: #222;
            display: block;
          }
          -moz-transition: background-color .2s;
          -webkit-transition: background-color .2s;
          -o-transition: background-color .2s;
          transition: background-color .2s;
          &:hover {
            width: 110%;
            background: #3f5765;
            a {
              color: #fff;
            }
          }
          &.active {
            width: 110%;
            background: #fd7532;
            a {
              color: #fff;
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  .forum-container {
    

    // header
    header {
      border-bottom: 1px solid #eee;
      padding: 0px 10px;
      display: block;
      background: #fff;
      @include border-top-radius(4px);

      .forum-title {
        margin-top: 22px;
      }
      .button {
        margin-top: 16px;
        margin-bottom: 16px;
        a {
          line-height: normal;
        }
        &.active {
          background: #3f5765;
        }
      }
      .icon-chevron-left {
        font-size: 14px;
        padding-right: 10px;
      }
    }

    .breadcrumbs {
      background: #f7f7f7;
      @include border-radius(0px);
      border: none;
      border-bottom: 1px solid #eee;
    }

    // forum threads
    .discussions {
      background: #fff;
      @include border-bottom-radius(4px);
      .moderation-message {
        background: #f7f7f7;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        border-bottom: 1px solid #eee;
      }

      .toolbar {
        border-top: 1px solid #eee;
        float: left;
        width: 100%;
        opacity: .2;
        transition: opacity .50s ease-in-out;
        -moz-transition: opacity .50s ease-in-out;
        -webkit-transition: opacity .50s ease-in-out;

        ul {
          list-style: none;
          margin-bottom: 0px;
          li {
            padding-top: 10px;
            padding-bottom: 10px;
            float: right;
            border-left: 1px solid #eee;
            padding-left: 15px;
            padding-right: 15px;
            color: #3f5765;
            &.reply-button {
              padding-right: 20px;
              @include border-bottom-right-radius(4px);
            }
            a {
              padding-top: 10px;
              padding-bottom: 10px;
            }
            &:hover {
              color: #fd864b;
              a {
                color: #fd864b;
              }
            }
          }
        }
      }

      .topic {
        border-bottom: 1px solid #eee;
        width: 100%;
        padding-bottom: 5px;
        padding-top: 30px;
        float: left;

        .topic-info {
          .topic-title {
            margin-top: 0px;
            font-weight: bold;
          }
          .sub-text {
            color: #bbb;
            display: inline-block;
            border-top: 1px solid #eee;
            margin-top: 10px;
            padding-top: 7px;
          }
        }
        .comment-count {
          padding: 0px;
        }
      }
      &:hover {
        .toolbar {
          opacity: 1;
        }
      }
    }

    .topic-view {
      margin-top: 25px;
      .avatar {
        padding: 0px;
        img {
          width: 50px;
          height: 50px;
          @include border-radius(100px);
        }
      }

      .topic-info {
        .topic-title {
          font-size: 25px;
          font-weight: bold;
        }
        .sub-text {
          color: #bbb;
          display: inline-block;
          border-top: 1px solid #eee;
          margin-top: 10px;
          padding-top: 7px;
        }
        .topic-body {
          margin-bottom: 20px;
        }
      }
    }
    .reply-header {
      padding: 0px;
      margin-bottom: -10px;
      margin-top: 20px;
      color: #bbb;
      text-align: center;
      h3 {
        color: #bbb;
        span {
          background: #eee;  
          padding: 0 20px;  
          position: relative;  
          z-index: 5;
        }

        &:before {  
          content: "";  
          display: block;  
          border-top: solid 1px #bbb;  
          width: 100%;  
          height: 1px;  
          position: absolute;  
          top: 50%;  
          z-index: 1;  
        }  
      }
    }

    .reply-form {
      padding: 0px;
      margin-top: 30px;
      margin-bottom: 10px;
      .helper-text {
        text-align: right;
        margin-bottom: 0px;
      }
      .input-area {
        padding-right: 0px;
        .button {
          float: right;
        }
        textarea {
          height: 120px;
        }
      }
    }

    .redactorable {
      margin-bottom: 20px;
    }
    
    &.replies {
      margin-top: 15px;
      .icon-comments {
        padding-right: 15px;
      }
      .username {
        font-weight: bold;
        font-size: 17px;
      }
      .sub-text {
        border-top: none;
      }
      .topic-reply {
        margin-top: 15px;
      }
    }
  }
}
