@import "compass/css3";
@import "compass/utilities";

.dashboard {
  .profile-bar {
    background: white;
    @include clearfix();

    .user-block {
      width: 140px;
      border-right: 1px solid #eee;
      padding-left: 10px;
      padding-right: 30px;
      float: left;
      display: inline-block;
      @include clearfix();

      .user-avatar {
        display: inline-block;
        img {
          width: 100px;
          height: 100px;
          @include border-radius(100px);
        } 
      }

      .karma {
        text-align: center;
        color: #bcbcbc;
        font-size: 25px;
        margin-top: 5px;
      }

      .karma-title {
        text-align: center;
        font-size: 15px;
        color: #bcbcbc;
      }
    }

    .user-information {
      width: 60%;
      height: 145px;
      float: left;
      padding-left: 30px;
      padding-right: 20px;
      border-right: 1px solid #eeeeee;
      @include clearfix;

      .username {
        margin-bottom: 5px;
      }
    }
  }

  .profile-bar-subnav {
    background: #f4f4f4;
    height: 50px;
    width: 100%;
    border-left: solid 1px #e6e6e6;
    border-right: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    margin-top: -23px;
  }
}