@import "compass/css3";
@import "compass/utilities";

.dashboard {
  .profile-bar {
    background: white;
    @include clearfix();

    .user-block {
      width: 140px;
      height: 155px;
      border-right: 1px solid #eee;
      padding-left: 10px;
      padding-right: 30px;
      margin-top: 10px;
      float: left;
      display: inline-block;
      @include clearfix();

      .user-avatar {
        display: inline-block;
        img {
          width: 100px;
          height: 100px;
          @include border-radius(100px);
        } 
      }

      .karma {
        text-align: center;
        color: #bcbcbc;
        font-size: 25px;
        margin-top: 5px;
      }

      .karma-title {
        text-align: center;
        font-size: 15px;
        color: #bcbcbc;
      }
    }

    .user-information {
      width: 50%;
      height: 155px;
      float: left;
      margin-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-right: 1px solid #eeeeee;
      @include clearfix;
      p {
        margin-bottom: 0;
        line-height: 1.5;
      }


      .anime-life {
        border-top: 1px solid #eee;
        padding-top: 10px;
        margin-top: 10px;
      }

      .username {
        margin-bottom: 5px;
        margin-top: 0px;
      }
    }
  }

  .genre-graph {
    margin-top: 10px;
    display: block;
    height: 155px;
    float: left;
    width: 34%;

    .genres {
      margin: 0 auto;
      @include clearfix();
    }

    .title {
      display: block;
      text-align: center;
      margin-bottom: 15px;
      width: 100%;
    }

    .graphs {
      text-align: center;
      .chart {
        display: inline-block;

        .label {
          background: none;
          display: block;
          margin-top: 10px;
          color: #000;
        }
      }
    }
  }

  .profile-bar-subnav {
    background: #f4f4f4;
    height: 50px;
    width: 100%;
    border-left: solid 1px #e6e6e6;
    border-right: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    margin-top: -23px;
    padding-right: 20px;

    .sub-nav {
      margin: 0;
      padding: 0;
      height: 100%;

      dd {
        width: 15%;
        height: 100%;
        text-align: center;
        border-right: 1px solid #dadada;
        margin: 0;
        padding: 0;

        &.active, &:hover {
          border-bottom: 4px solid orange;
          a {
            padding-top: 11px;
            font-weight: normal;
            background: none;
          }
        }

        a {
          color: #000;
          height: 100%;
          width: 100%;
          display: block;
          padding-top: 15px;

          &:hover {
            padding-top: 11px;
          }
        }
      }
    }
  }

  .account-settings {
    h3 {
      margin-top: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #dadada;
      padding-bottom: 20px;
    }
    img {
      @include border-radius(100px);
    }
  }
}