@import "compass/css3";

.favorite-genres {
  .genre-panel {
    padding: 5px;
    float: left !important;
  }
  
  .genre {
    padding: 8px;
    background-color: #f7f7f7;
    text-align: center;
    cursor: pointer;
    @include border-radius(3px);
    border: 1px solid #ededed;
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;

    &.active {
      background-color: #fdeee7;
      border: 1px solid #e77e4a;
      
      &:hover {
        background-color: darken(#fdeee7, 5);
      }
    }
    
    &:hover {
      background-color: #f0f0f0;
    }
  }
}
