@import "compass/css3";

.feed {
  background: #fff;
  min-height: 400px;
  .feed-form {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
    margin-top: 5px;
    input {
      @include border-radius(3px);
      margin-top: 10px;
      box-shadow: none;
    }
    .hidden-submit {
      display: none;
      a {
        padding: 6px;
      }
    }
  }
  .feed-list {
    list-style: none;
    li.feed-item {
      border-bottom: 1px solid #e6e6e6;
      padding-top: 10px;
      padding-bottom: 5px;
      .feed-wrapper {
        margin-top: 5px;
        margin-bottom: 5px;
        word-wrap: break-word;
        .anime-feed-title {
          margin: 0px;
        }
        .anime-feed-genres {
          margin: 0px !important;
          a {
            color: #717171;
            &:hover {
              color: #fd854a;
            }
          }
          ul {
            margin-left: 0;
            list-style-type: none;
            li {
              display: inline;
            }
            li+li:before { content: " · "; }
          }
        }
        .quote-preview {
          color: #a9a9a9;
          margin-bottom: 10px;
        }
        .wall-post-copy {
          margin-bottom: 0px;
          font-size: 18px;
        }
        .feed-divider {
          margin-top: 5px;
          margin-bottom: 10px;
          border-color: #ededed;
        }
        .time {
          margin-bottom: 0px;
          .time-ago {
            color: #a0a0a0;
            font-size: 12px;
            a {
              color: #6b6b6b;
              &:hover {
                color: #fd854a;
              }
            }
          }
        }
        .show-more {
          position: absolute;
          background: white;
          padding: 0px 10px;
          font-size: 12px;
          bottom: -20px;
          color: #6b6b6b;
          &:hover {
            color: #fd854a;
          }
        }
      }
    }
  }
}
