@import "compass/css3";

.reply-to-post .toolbar {
  display: none;
}
.forum-board {
  padding: 10px !important;
  padding-top: 0px !important;
  padding-bottom: 20px !important;
  .panel {
    margin-bottom: 0px;
  }
}
.forum-link {
  color: #222;
  &:hover {
    color: #fd864b;
  }
}
.forum-table {
  border: none;
  box-shadow: none;
  border-radius: 3px;
  a {
    color: #222;
    &:hover {
      color: #fd864b;
    }
  }
  .topic {
    background: #fff;
    &:hover {
      background: darken(#fff, 2);
    }
  }
  .topic-title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom: 1px solid #e8e8e8;
    @media (min-width: 968px) {
      max-width: 280px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .topic-replies, .topic-age, .topic-unread {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
  }
  tr:last-child {
    td {
      border-bottom: none;
    }
  }
  .topic-age {
    padding-right: 15px;
    font-size: 12px;
  }
  .desc-and-last-post {
    padding-left: 15px;
  }
  .views-count, .topics-count {
    text-align: center;
  }
}
