/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
	background: #eee;
  [role="complementary"] {
    width: 25%;
    .three, .row .three {
      width: 100%;
    }
  }
  a {
    color: orange;
  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }

  ul.pagination {
    
    li.current a {
      background: orange;

      &:hover {
        background: darken(orange, 5);
      }
    }
  }

  .tabs {
    .active {
      border-top: 3px solid orange;
    }
  } 

  .easyPieChart {
    position: relative;
    text-align: center;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}