@import "compass/css3";
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.connect-icon {
  margin-top: 15px;
}
.watchlist-button {
  li {
    border-top: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

a {
  @include transition(color, 0.2s);
}

.no-padding {
  padding: 0px !important;
}

.no-padding-left {
  padding-left: 0px !important;
}

.no-padding-right {
  padding-right: 0px !important;
}

.rounded-panel {
  background: #fff;
  border: none;
  @include border-radius(3px);
  @include box-shadow(rgba(0,0,0,.1) 1px 1px 3px);
  .panel-head {
    .head-title {
      margin-bottom: 10px;
      margin-top: 10px;
      display: inline-block;
    }
    .head-action {
      margin-bottom: 10px;
      margin-top: 10px;
      display: inline-block;
      float: right;
    }
  }
  .block-divider {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.option-bar {
  font-size: 12px;
  background: #f7f6f6;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  padding-right: 0px;
  .option-title {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .options {
    padding: 0px;

    ul {
      text-align: center;
      margin-bottom: 0px;
      display: inline-block;
      float: right;
      li {
        border-left: 1px solid #e4e4e4;
        margin-left: 0px;
        &.active {
          background: #e9eae9;
        }
        a {
          display: block;
          color: #919191;
          padding: 10px;
          padding-left: 15px;
          padding-right: 15px;
          &:hover {
            color: #fd864b;
          }
        }
      }
    }
  }
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.reveal-modal.small {
  padding: 0px;
  padding-top: 10px;
}

body {
	background: #eee;
  overflow-x: hidden;  // disable horizontal scrolling on mobile.
  [role="complementary"] {
    width: 25%;
    .three, .row .three {
      width: 100%;
    }
  }
  .center {
    text-align: center;
  }
  a.anchor {
    position: relative; 
    text-indent: -99999px; 
    top: -60px;
  }    

  .button {
    background: #fd864b;
    font-size: 16px;
    font-weight: normal;
    margin: 0 auto 9px auto;
    display: block;
    border: none;
    color: #fff;
    box-shadow: none;
    padding: 0px;
    @include border-radius(2px);
    &:hover {
      background: #3f5765;
    }
    &.padded {
      padding: 10px;
    }

    a {
      color: #fff;
      display: block;
      height: 100%;
      line-height: 65px;
      padding: 10px;
      &:hover {
        color: #fff;
      }
    }

    &.secondary {
      background: #bbb;
      border: none;
      &:hover {
        color: #fff;
      }
    }
  }

  .content-body {
    overflow: visible;
  }

  .positive {
    color: #2aa730;
  }

  .negative {
    color: #c63838;
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }

  ul, ol, dl {
    list-style-position: inside;
  }

  ul.pagination {
    
    li.current a {
      background: #fd7532;

      &:hover {
        background: #3f5765;
      }
    }
  }

  .easyPieChart {
    position: relative;
    text-align: center;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
