@import "globals/all";

.franchise-show {
  @include make-sm-column(12);
  @include clearfix();

  .series-metadata li, p {
    font-size: 0.9em;
  }
  p {
    margin-top: 3px;
  }
}

/* Anime page social buttons. */
.social-buttons {
  .fb-like {
    margin-right: 10px;
  }
  .twitter-share-button {
    margin: 0;
  }
}

/* Crisper header "Hummingbird" text in Firefox. */
a.navbar-brand {
  padding: 14px;
  image-rendering: optimizeQuality;
}
