/* Remove annoying Firefox link outlines. */
a {
  outline: 0 !important;
}

/* Fix panel rounded corner artefacts. */
.panel { border: none; }

.franchise-show {
  @include make-sm-column(12);
  @include clearfix();

  .series-metadata li, p {
    font-size: 0.9em;
  }
  p {
    margin-top: 3px;
  }
}

/* Anime page social buttons. */
.social-buttons {
  .fb-like {
    margin-right: 10px;
  }
  .twitter-share-button {
    margin: 0;
  }
}

/* Fix extra 2px of space at the bottom of the header. */
a.navbar-brand {
  padding: 14px;
}

/* Signup CTA below the header. */
.signup-cta {
  text-align: center;
  background-color: transparentize($navy, 0.05);
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  border-top: 1px solid $darkNavy;
  border-bottom: 1px solid transparentize($darkNavy, 0.7);
  z-index: 1000;
  p {
    color: darken($eggshell, 15%);
    margin: 0;
    padding: 18px 0;
    font-size: 1.4em;
    @media (max-width: 1000px) {
      font-size: 1em;
      padding: 10px 0;
    }
  }
  small {
    color: $darkEggshell;
  }
  a.btn {
    margin-left: 5px;
    background-color: $darkOrange;
    color: lighten($orange, 25%);
    font-size: 0.9em;
    padding: 2px 10px;
  }
}

/* User Following Section */
.user-listing {
  @include make-xs-column(12);
  @include make-md-column(8);
  @include make-md-column-offset(2);

  .panel-heading {
    padding: 16px 24px 12px;
    h3 {
      font-size: 1.2em;
    }
  }

  .panel {
    @include clearfix();
  }

  .user {
    @include make-xs-column(12);

    border-bottom: 1px solid $divider;
    padding: 10px 0;
  }

  .user-avatar {
    @include make-xs-column(2);
    text-align: right;
    img {
      width: 50px;
    }
  }

  .user-content {
    @include make-xs-column(7);
    color: $grey;

    h4 {
      margin: 0;
    }

    p {
      font-size: 0.9em;
      margin-bottom: 0;
    }
  }

  .follow-button-column {
    @include make-xs-column(3);
    text-align: center;
  }
}

.profile-leaderboard {
  text-align: center;
  margin: 20px;
  .ad {
    display: inline-block;
    border-radius: 5px;
  }
}

/* JCrop Stuff */
.jcrop {
  text-align: center;
  .jcrop-holder {
    display: inline-block;
  }
}

/** Customizations to improve how cropping works -- **/

/* Drop shadow on the actual image inside the crop. */
.jcrop .jcrop-holder {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Transparent background for the header and footer. */
.modal-content {
  transition: background 1s ease-in;
  border-color: rgba(255, 255, 255, 0.7);

  .modal-footer, .modal-header {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .modal-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .modal-footer {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

/* Customize jCrop interface. */
.jcrop-vline, .jcrop-hline {
  opacity: 0.9 !important;
  box-shadow: 0 0 5px #000;
}

.jcrop-handle {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #fff;
  opacity: 1 !important;

  &.ord-n, &.ord-s, &.ord-w, &.ord-e {
    display: none;
  }
}


/* Typeahead interface */
 
/*
 * typehead.js-bootstrap3.less
 * @version 0.2.3
 * https://github.com/hyspace/typeahead.js-bootstrap3.less
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
.has-warning .twitter-typeahead .tt-input,
.has-warning .twitter-typeahead .tt-hint {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .twitter-typeahead .tt-input:focus,
.has-warning .twitter-typeahead .tt-hint:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-error .twitter-typeahead .tt-input,
.has-error .twitter-typeahead .tt-hint {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .twitter-typeahead .tt-input:focus,
.has-error .twitter-typeahead .tt-hint:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-success .twitter-typeahead .tt-input,
.has-success .twitter-typeahead .tt-hint {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .twitter-typeahead .tt-input:focus,
.has-success .twitter-typeahead .tt-hint:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.input-group .twitter-typeahead:first-child .tt-input,
.input-group .twitter-typeahead:first-child .tt-hint {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.input-group .twitter-typeahead:last-child .tt-input,
.input-group .twitter-typeahead:last-child .tt-hint {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.input-group.input-group-sm .twitter-typeahead .tt-input,
.input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group.input-group-sm .twitter-typeahead .tt-input,
select.input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: 30px;
  line-height: 30px;
}
textarea.input-group.input-group-sm .twitter-typeahead .tt-input,
textarea.input-group.input-group-sm .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-sm .twitter-typeahead .tt-hint {
  height: auto;
}
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
  border-radius: 0;
}
.input-group.input-group-sm .twitter-typeahead:first-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group.input-group-sm .twitter-typeahead:last-child .tt-input,
.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.input-group.input-group-lg .twitter-typeahead .tt-input,
.input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-group.input-group-lg .twitter-typeahead .tt-input,
select.input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: 46px;
  line-height: 46px;
}
textarea.input-group.input-group-lg .twitter-typeahead .tt-input,
textarea.input-group.input-group-lg .twitter-typeahead .tt-hint,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-input,
select[multiple].input-group.input-group-lg .twitter-typeahead .tt-hint {
  height: auto;
}
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-input,
.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint {
  border-radius: 0;
}
.input-group.input-group-lg .twitter-typeahead:first-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group.input-group-lg .twitter-typeahead:last-child .tt-input,
.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.twitter-typeahead {
  width: 100%;
}
.input-group .twitter-typeahead {
  display: table-cell !important;
  float: left;
}
.twitter-typeahead .tt-hint {
  color: #999999;
}
.twitter-typeahead .tt-input {
  z-index: 2;
}
.twitter-typeahead .tt-input[disabled],
.twitter-typeahead .tt-input[readonly],
fieldset[disabled] .twitter-typeahead .tt-input {
  cursor: not-allowed;
  background-color: #eeeeee !important;
}
.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;
  width: 100%;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.tt-dropdown-menu .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor {
  text-decoration: none;
  outline: 0;
  background-color: #f5f5f5;
  color: #262626;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor a {
  color: #262626;
}
.tt-dropdown-menu .tt-suggestion p {
  margin: 0;
}
