@import "globals/all";

.franchise-show {
  @include make-sm-column(12);
  @include clearfix();

  .series-metadata li, p {
    font-size: 0.9em;
  }
  p {
    margin-top: 3px;
  }
}

/* Anime page social buttons. */
.social-buttons {
  .fb-like {
    margin-right: 10px;
  }
  .twitter-share-button {
    margin: 0;
  }
}

/* Fix extra 2px of space at the bottom of the header. */
a.navbar-brand {
  padding: 14px;
}

/* Signup CTA below the header. */
.signup-cta {
  text-align: center;
  background-color: transparentize($navy, 0.05);
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  border-top: 1px solid $darkNavy;
  border-bottom: 1px solid transparentize($darkNavy, 0.7);
  z-index: 1000;
  p {
    color: darken($eggshell, 15%);
    margin: 0;
    padding: 18px 0;
    font-size: 1.4em;
    @media (max-width: 1000px) {
      font-size: 1em;
      padding: 10px 0;
    }
  }
  small {
    color: $darkEggshell;
  }
  a.btn {
    margin-left: 5px;
    background-color: $darkOrange;
    color: lighten($orange, 25%);
    font-size: 0.9em;
    padding: 2px 10px;
  }
}

/* User Following Section */
.user-listing {
  @include make-xs-column(12);
  @include make-md-column(8);
  @include make-md-column-offset(2);

  .panel-heading {
    padding: 16px 24px 12px;
    h3 {
      font-size: 1.2em;
    }
  }

  .user {
    @include make-xs-column(12);
    @include clearfix();

    border-bottom: 1px solid $divider;
    padding: 10px 0;
  }

  .user-avatar {
    @include make-xs-column(2);
    text-align: right;
    img {
      width: 50px;
    }
  }

  .user-content {
    @include make-xs-column(7);
    color: $grey;

    h4 {
      margin: 0;
    }

    p {
      font-size: 0.9em;
      margin-bottom: 0;
    }
  }

  .follow-button-column {
    @include make-xs-column(3);
    text-align: center;
  }
}

.profile-leaderboard {
  text-align: center;
  margin: 20px;
  .ad {
    padding: 10px 12px;
    display: inline-block;
    background: darken($lightNavy, 5%);
    border-radius: 5px;
  }
}
