// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";

.home {
  .container {
    margin: 0 auto;
    .panel {
      .avatar {
        position: relative;
        bottom: 30px;
        margin-bottom: -30px;
        padding: 10px;
        float: left;
        img {
          width: 70px;
          height: 70px;
          border: 2px solid #fff;
          @include border-radius(100px); 
        }
      }
      .username {
        float: left;
        line-height: 40px;
      }
    }
  }
}