// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";

.large-banner {
  figure {
    height: 470px;
    margin-top: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-left: 0px;

    .overlay {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      text-align: center;
      color: #fff;
      @include opacity(0.90);
      @include border-top-radius(3px);
      @include background-image(linear-gradient(left top, #393939, #000));
    }
    img {
      width: 100%;
    }
  }
}


.home-content {
  margin-top: 30px;
  .recent-watched {
    .recommendations {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      float: left;
      margin-bottom: 17px;

      .recommendation {
        position: relative;
        border-right: 1px solid #000;

        .meta-wrapper {
          position: absolute;
          bottom: 0px;
          top: 0px;
          padding: 10px;
          background: url("rec-bg.png") bottom left repeat-x;
          color: #fff;
          p {
            margin-bottom: 5px;
          }
          .icon-star, .icon-star-empty {
            font-size: 20px;
          }
          a {
            color: #fff;
          }
          .meta-data {
            position: absolute;
            bottom: 10px;
            padding-right: 20px;
            hr {
              margin-top: 10px;
              margin-bottom: 10px;
              opacity: .4;
            }
            .progress-number {
              text-align: right;
              .progress-updater {
                font-size: 15px;
              }
              .count-add {
                .total-episodes {
                  color: #fff !important;
                  opacity: .8;
                }
                &:hover {
                  color: #fd7532;
                }
              }
            }

            .anime-title {
              color: #fff;
              margin-bottom: 0px;
            }
            .more-like-this {
              font-size: 12px;
              padding: 5px 10px;
              background: #fff;
              background: rgba(255,255,255,.7);
              color: #000;
              @include border-radius(3px);
              @include transition(background, 0.5s);
              &:hover {
                background: #fff;
              }
            }
          }
        }
      }
    }
  }
  .home-banner {
    margin-bottom: 13px;
    overflow: hidden;
  }
  .left-column-content {
    @media (max-width: 768px) {
      padding: 0px;
    }
  }
  .side-advert {
    background: #fff;
    text-align: center;
    margin-top: 17px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .forum-block {
    background: #fff;
    .block-title {
      h4 {
        margin-bottom: 5px;
      }
    }

    .block-link {
      padding-top: 17px;
    }

    hr {
      margin-bottom: 5px;
      margin-top: 5px;
    }
    ul {
      list-style: none;
      .topic-row {
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
        margin-bottom: 5px;
        .forum-title {
          font-size: 15px;
          a {
            color: #717171;
            &:hover {
              color: #fd7532;
            }
          }
        }
        .forum-time {
          font-size: 11px;
          line-height: 24px;
        }
      }
    }
  }

  .trending-block {
    background: #fff;
    margin-top: 17px;
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
    .block-title {
      h4 {
        margin-bottom: 5px;
      }
    }
    
    .block-link {
      padding-top: 17px;
    }

    hr {
      margin-bottom: 5px;
      margin-top: 5px;
    }
    ul {
      list-style: none;
      .topic-row {
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
        margin-bottom: 5px;
        .count {
          font-size: 50px;
          line-height: 50px;
          font-weight: bold;
          margin-bottom: 0px;
          color: #ccc;
        }
        .trending-title {
          font-size: 18px;
          padding-bottom: 2px;
          margin-bottom: 0px;
          display: block;
          margin-top: 7px;
          line-height: 15px;
        }
        .forum-title {
          font-size: 15px;
        }
        .forum-time {
          font-size: 11px;
          line-height: 24px;
        }
      }
    }
  }
}

.home {
  .header-content {
    position: relative;
    bottom: 600px;
    margin-bottom: -620px;

    input {
      height: 50px;
      background: #000;
      background: rgba(0,0,0,0.5);
      border: 1px solid rgba(255,255,255,0.2);
      color: #ccc;
    }
    .search {
      border: none !important;
      input[type="submit"] {
        right: 10px !important;
      }
    }
    .twitter-typeahead {
      ol {
        list-style: none;
      }
      .tt-dropdown-menu {
        left: 0px !important;
        width: 100% !important;
        top: 53px !important;
      }
      .tt-suggestions {
        margin-left: 0px;
        left: 0;
        background: rgba(0,0,0,0.9);
        width: 100%;
        li {
          border-bottom: none !important;
          &:nth-child(even) {
            background: rgba(255,255,255,0.1);
          }
        }
      }
    }

    .twitter-typeahead .tt-suggestions .tt-suggestion p {
      padding-top: 10px;
      padding-bottom: 13px;
      color: #fff;
      &:hover {
        color: #fd7532;
      }
    }

    .search {
      border-width: 0 1px 0 1px;
      //position: relative;
      border: 1px solid #eee;
      border-width: 0 1px 0 0;
      z-index: 10;

      .twitter-typeahead {
        width: 100%;
      }
      form {
        margin: 0;
      }
      .search_btn {
        display: none;
        padding: 0 10px 0 10px;
        position: absolute;
        right: 90px;
        top: 0;

        &:before {
          background-image: url(http://cdn1.sbnation.com/images/polygon/sprites/icons@2x.vcd374f5.png);
          background-size: 108px 1043px;
          background: url(http://cdn2.sbnation.com/images/polygon/sprites/icons.ve03c444.png) no-repeat -7px -72px;
          content: "";
          display: inline-block;
          width: 22px;
          height: 36px;
          position: relative;
          top: 10px;
        }
      }

      input[type="text"] {
        display: block;
        border: 0;
        width: 100%;
        height: 55px;
        position: absolute;
        padding: 0;
        vertical-align: center;
        color: #aaa;
        font-style: italic;
        text-indent: 10px;
        box-shadow: none;
        background: #000;
        background: rgba(0,0,0,0.2);
        border: 1px solid rgba(255,255,255,0.2);
        &:focus {
          
        }
      }

      input[type="submit"] {
        background-image: url(http://cdn1.sbnation.com/images/polygon/sprites/icons@2x.vcd374f5.png);
        background-size: 108px 1043px;
        position: absolute;
        top: 10px;
        right: 0;
        border: 0;
        background: transparent url(http://cdn2.sbnation.com/images/polygon/sprites/icons.ve03c444.png) no-repeat 0 -72px;
        text-indent: -3000px;
        display: inline-block;
        height: 36px;
        width: 36px;
      }
    }

    .login-button {
      text-align: center;
      margin-top: 40px;
      line-height: 60px;
      font-weight: 700;
    }
    p {
      text-align: center;
      margin-top: 5px;
      a {
        color: white;
        font-weight: normal;
      }
    }

    .featured-anime {
      padding: 0px;
      margin-top: 75px;
      img {
        @include border-radius(3px);
      }
      .anime-poster {
        position: relative;
        span {
          img {
            position: absolute;
            @include border-radius(100px);
            width: 50px;
            height: 50px;
            left: 20px;
            bottom: 35px;
          }
        }
      }
    }
  }

  .features {
    text-align: center;
    color: #bbb;
    margin-top: 35px;
    h3, h2 {
      color: #bbb;
    }
    h2 {
      margin-bottom: 40px;
    }
    .icon {
      font-size: 42px;
      line-height: 176px;
      margin-bottom: 15%;
      display: block;
      text-align: center;
      color: #bbb;
      border: 1px solid #ddd;
      @include border-radius(100px);
      margin: 0 auto 8%;
      height: 160px;
      width: 160px;
      position: relative;
      .import {
        left: 48px;
        top: 55px;
      }
      .review {
        left: 54px;
        top: 54px;
      }
      .rate {
        left: 53px;
        top: 54px;
      }
      .watchlist {
        left: 52px;
        top: 54px;
      }
    }
  }

  .cta-form {

  }

  .watching-now {
    .panel {
      text-align: center;
      .user-circle {
        .avatar {
          img {
            z-index: 999;
            width: 50px;
            height: 50px;
            border: 2px solid #fff;
            bottom: 25px;
            margin-bottom: -25px;
            @include border-radius(100px);
            position: relative;
          }
        }
      }

      .name {
        margin-bottom: 10px; 
      }
    }
  }

  .trending-anime {
    .top-anime {
      margin-bottom: 10px;
    }
    li {
      padding: 5px 0px;
    }
  }

  .new-users {
    margin-bottom: 40px;
    img {
      @include border-radius(100px);
    }
  }
}

// Guest View
.guest-home {
  background: #fff;
  .guest-nav {
    padding-top: 30px;
    .h-logo {
      width: 100%;
      height: auto;
      max-width: 210px;
      max-height: 42px;
    }
    .login-link {
      margin-bottom: 0px;
      padding-top: 10px;
    }
  }
  .tagline-area {
    margin-top: 20px;
    .tagline {
      margin-bottom: 0px;
    }
    .flavor-text {
      font-size: 20px;
      margin-bottom: 0px;
    }
  }
  input {
    height: 36px;
    @include box-shadow(none);
    border-radius: 3px;
  }
  .top-cta {
    @media (min-width: 768px) {
      margin-bottom: 180px;
    }
  }
  .main-features {
    margin-top: 20px;
  }
  .find-anime {
    font-size: 30px;
    margin-bottom: 0px;
    color: #222;
    @media (max-width: 480px) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  .find-anime-description {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .recommendation-area {
    position: relative;
    .recommendation-input {
      height: 45px;
      margin-bottom: 30px;
      font-size: 20px;
      @media (max-width: 480px) {
        font-size: 15px;
      }
    }
    .search-button {
      position: absolute;
      right: 30px;
      top: 14px;
    }
  }
  .screenshot-banner {
    background: url("guest-banner.jpg");
    background-size: cover;
    max-width: 100%;
    padding: 0px;
    overflow: visible;

    .mac-pro {
      margin-top: -153px;
      border-bottom: 1px solid #000;
      text-align: center;
      max-height: 533px;
    }
  }
  .recommendations {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    .recommendation {
      position: relative;
      border-right: 1px solid #000;
      img {
        width: 100%;
        max-height: 380px;
        @media (min-width: 320px) {
          min-height: 250px;
        }
        @media (min-width: 400px) {
          min-height: 312px;
        }
        @media (min-width: 768px) {
          min-height: 295px;
        }
      }
      .meta-wrapper {
        position: absolute;
        bottom: 0px;
        top: 0px;
        padding: 10px;
        background: url("rec-bg.png") bottom left repeat-x;
        color: #fff;
        p {
          margin-bottom: 10px;
        }
        a {
          color: #fff;
        }
        .meta-data {
          position: absolute;
          bottom: 22px;
          .anime-title {
            color: #fff;
            margin-bottom: 0px;
          }
          .more-like-this {
            font-size: 12px;
            padding: 5px 10px;
            background: #fff;
            background: rgba(255,255,255,.7);
            color: #000;
            @include border-radius(3px);
            @include transition(background, 0.5s);
            &:hover {
              background: #fff;
            }
          }
        }
      }
    }
  }
  .secondary-cta-tagline {
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 30px;
  }
  .mobile-cta-tagline {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .bottom-cta {
    padding-bottom: 30px;
  }
  .cta-button {
    @media (max-width: 480px) {
      padding-left: 0px;
    }
  }
}
