html { overflow-y: scroll; }

/*
=============================
Development Styles
=============================
*/
.profiler-results {
  display: none;
}

/*
=============================
Global Header
=============================
*/

.navbar-toggle {
  float: left;
  padding-right: 0px;
  margin-right: 0px;
}

.hb-nav {
  background-color: $navy;
  border: none;
  .dropdown {
    background-color: $darkNavy;
    font-family: $headerFontFamily;
    font-size: 16px;
    &:hover {
      background-color: darken($darkNavy, 2);
    }
    &.active .dropdown-toggle {
      background-color: darken($darkNavy, 2);
    }
  }

  .dropdown-menu {
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-top: 0;
    padding-bottom: 0;
    a {
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      padding-top: 10px;
      &:hover {
        color: $darkOrange;
        background: $lightEggshell;
      }
    }

    li:first-child a {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
    li:last-child a {
      border-bottom: none;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:after, &:before {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 8px;
      margin-left: -8px;
    }
    &:before {
      border-bottom-color: rgba(0, 0, 0, 0.30);
      border-width: 9px;
      margin-left: -9px;
    }

    &.left-nav-section {
      &:after {
        left: 25px;
      }
      &:before {
        left: 25px;
      }
    }

    &.right-nav-section {
      &:after {
        right: 25px;
      }
      &:before {
        right: 25px;
      }
    }
  }

  .notifications {
    text-align: center;
    height: 50px;
    padding: 0px 10px 0px 10px;
    &:hover {
      background-color: darken($darkNavy, 2);
    }
    .notification-link {
      white-space: normal;
      padding-left: 0px;
      padding-right: 0px;
      background: none !important;
      i {
        &.hasNew { color: #e57c48; }
        &.hasNoNew { padding: 0 10px; }
      }
    }
    .dropdown-menu {
      min-width: 500px;
    }
  }

  .searchbar {
    background: darken($darkNavy, 2);
    padding: 0;
    &.isinactive {
      background: #2F343B;
      &:hover {
        background: darken($darkNavy, 2) !important;
      }
    }
    .search-field {
      display: inline-block;
      width: 240px;
      margin-left: 10px;
      background: none;
      border: none;
      border-bottom: 1px dotted #aaa;
      color: #fff;
      &:focus {
        outline: none;
        border-bottom: 1px solid #aaa;
      }
    }
    a {
      display: inline-block;
      margin: 0 10px;
    }
    .search-dropdown {
      background: darken($darkNavy, 2);
      border-radius: 0 0 4px 4px;
      max-width: 300px;
      overflow: hidden;
      .search-result {
        text-align: left;
        border-top: 1px solid darken($darkNavy, 1);
        position: relative;
        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 10px;
          margin: 0;
          transition: .1s ease-in;
          &:hover {
           background: lighten($darkNavy, 5);
          }
        }
        .search-result-thumb {
          float: left;
          height: 30px;
          width: 30px;
          border: 1px solid #2c3239;
          border-radius: 3px;
          margin-right: 10px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .search-result-title {
          color: #fff;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-right: 60px;
          line-height: 30px;
        } 
        .search-result-badge {
          font-size: 0.7em;
          font-weight: normal;
          position: absolute;
          right: 15px;
          top: 15px;
          &.anime { background: #3A5FCD; }
          &.user  { background: #6959CD; }
        }
        .search-result-break {
          clear: both;
        }
      }
    }
  }

  .notification-dropdown {
    .notification-element {
      &.new {
        background: #f7edda;
        border-bottom: 1px solid #e5d6b8;
      }
    }
    .user-avatar {
      padding: 0;
      img {
        width: 100%;
        border-radius: 3px;
      }
    }
    .user-info {
      text-align: left;
      padding-left: 10px;
      .username {
        font-family: $headerFontFamily;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 4px;
        .user-action {
          color: $darkGrey;
        }
      }
      .preview {
        margin-bottom: 0;
        font-family: $bodyFontFamily;
      }
      small {
        color: $medGrey;
        font-family: $bodyFontFamily;
        font-weight: 300;
      }
    }

    li:last-child a {
      background: $eggshell;
      &:hover {
        color: $darkOrange;
      }
    }
  }

  .form-group {
    @media (min-width: 768px) {
      width: 25%;
      position: absolute;
      text-indent: 15px;
    }
    .form-control {
      color: $orange;
      font-size: 18px;
      font-family: $headerFontFamily;
    }
    &:focus {
      outline: none;
    }
  }

  .fa-search {
    color: #999;
    position: absolute;
    z-index: 1;
    bottom: 19px;
  }

  .form-control {
    @media (min-width: 768px) {
      background-color: #2f343b;
    }
    border: none;
    box-shadow: none;
    font-size: 18px;
    font-weight: 300;
  }

  .fa-bell-o {
    color: pink;
    font-size: 22px;
    position: relative;
    top: -2px;
    .notification-count {
      display: none;
    }
    &.active {
      color: $orange;
      .notification-count {
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 19px;
        background: $darkNavy;
        border: 1px solid $orange;
      }
    }
  }

  .mobile-user-nav {
    margin-bottom: 0px;
    margin-top: 0px;
    .notifications, .user-area {
      float: right;
    }
    .user-area {
      .dropdown-menu {
        right: 10px;
        left: inherit;
        &.right-nav-section {
          &:after {
            right: 15px !important;
          }
          &:before {
            right: 14px !important;
          }
        }
      }
    }

    .notifications {
      .dropdown-menu {
        right: -40px;
        left: inherit;
        min-width: 0px;
        width: 300px;
        &.right-nav-section {
          &:after {
            right: 65px !important;
          }
          &:before {
            right: 64px !important;
          }
        }
      }
    }
  }

  .navbar-avatar {
    width: 50px;
    height: 50px;
    padding-left: 0;
    img {
      position: absolute;
      top: 0;
      width: 50px;
      height: 50px;
      border-radius: 0;
    }
  }
}



/*
=============================
User Profile
=============================
*/

.min-height-wrapper {
  min-height: 510px;
}

.profile-navigation {
  background: #f5f5f5;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  .inline-list {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 0;
    .nav-link {
      float: none;
      padding: 10px 0 10px 0;
      > a {
        padding: 20px;
        font-family: $bodyFontFamily;
        font-size: 18px;
        font-weight: 300;
        color: #adacac;
        position: relative;
        transition: .2s ease-in;
        &.active {
          color: $darkOrange;
        }
        &:hover {
          color: $darkOrange;
        }
      }
    }
    .nav-link a::before {
      position: absolute;
      top: 8px;
      left: 20px;
      overflow: hidden;
      padding: 10px 0;
      max-width: 0;
      border-bottom: 1px solid $darkOrange;
      color: $darkOrange;
      content: attr(data-hover);
      -webkit-transition: max-width 0.5s;
      -moz-transition: max-width 0.5s;
      transition: max-width 0.5s;
    }

    .nav-link a:hover::before,
    .nav-link a:focus::before {
      max-width: 100%;
    }

    // Hide less important links on mobile
    @media (max-width: 560px) {
      .reviews-link, .lists-link {
        display: none;
      }
      .nav-link {
        a {
          font-size: 15px;
        }
      }
    }
  }
}

.demo-ad {
  width: 160px;
  height: 600px;
  background: $darkEggshell;
  border: 1px solid $lightGrey;
}

.video-embed {
  @extend .col-sm-12;
  padding: 15px 0 0 0;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.follow-panel-wrapper {
  @extend .col-sm-3;
  padding: 5px;
}
.follow-panel {
  @extend .panel;
  @extend .default-panel;
  min-height: 250px;
  margin-bottom: 0;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  .user-cover {
    height: 100px;
    background: #ddd;
    .cover-photo {
      background-size: cover;
      background-position: center center;
    }
  }
  .user-avatar {
    padding-left: 10px;
    padding-right: 20px;
    position: absolute;
    top: 100px;
    width: 100%;
    .follow-button {
      padding: 4px 20px;
      margin-top: 16px;
      font-size: 16px;
      float: right;
    }
    img {
      width: 60px;
      position: relative;
      top: -15px;
    }
  }
  .mini-bio {
    height: 65px;
    overflow: hidden;
  }
  .user-info {
    margin-top: 50px;
    padding: 0 10px;
    a {
      color: #333;
      transition: .1s ease-in;
      &:hover {
        color: $orange;
      }
    }
  }
}

/*
=============================
Notifications page
=============================
*/
.notification-panel-wrapper {
  /* temp with one col */
  .col-md-6 {
    float: none;
    margin: 0 auto;
  }

  padding-top: 50px;
  .notification-panel {
    margin: 10px 0;
    padding: 8px 10px;
    background: #fff;
    border-radius: 3px;
    img {
      float: left;
      width: 50px;
      height: 50px;
      margin: 0 6px 6px 0;
    }
    .badge {
      float: right;
    }
  }
}

/*
=============================
Search page
=============================
*/
.search-container {
  margin-top: 100px;
  .search-container-head {
    padding: 6px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 5px 5px 0 0;
    color: #7a7a7a;
    font-family: "klavika", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
  }
  .search-container-body {
    padding: 30px 15px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-top: none;
    border-radius: 0 0 5px 5px;
    input {
      width: 94%;
      padding: 6px 3%;
      border: 1px solid #ddd;
      border-radius: 3px;
    }
    select {
      width: 94%;
      border: 1px solid #ddd;
      border-radius: 3px;
      padding: 6px 3%;
      color: #999;
    }
    .search-container-results {
      .search-results-empty {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 2em;
        color: #999;
      }
      .search-result {
        padding: 15px 0;
        a { color: #000; }
        .search-result-image {
          float: left;
          border: 1px solid #ddd;
          border-radius: 4px;
          width: 70px;
          margin-right: 15px;
        }
        .search-result-details {
          text-align: justify;
        }
        .badge {
          float: right;
          margin: 0 5px;
          font-size: 0.7em;
          font-weight: normal;
          &.anime { background: #3A5FCD; }
          &.user  { background: #6959CD; }
        }
      }
      .search-results-nosuccess {
        padding: 50px 0;
        text-align: center;
      }
    }
  }
}


@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  70% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  100% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
}
.shake {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 3.5s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  opacity: 1;
  transition: .1s ease-in;
  &:hover {
    -webkit-animation-play-state: paused;
    opacity: .6;
    cursor: move;
  }
}
.shake {
  display:inline-block
}
