.login-register-card {
  &.anime-discover {
    margin-top: 100px;
  }
  .login-box {
    border: 1px solid #ebebeb;
    width: 645px;
    padding: 33px 0 5px 0;
    background: #ffffff;
    float: left;
    margin: 33px 0 0 0;
  }

  .login-title {
    display: block;
    text-align: center;
    color: #97a4ac;
    font-size: 17px;
    margin: 0 0 33px 0;
  }

  .login-title-small {
    display: block;
    text-align: center;
    color: #97a4ac;
    font-size: 17px;
    margin: 0 0 33px 0;
    font-size: 12px;
    margin: 0 0 15px 0;
  }

  .input-wrap {
    border: 1px solid #cfd1d3;
    width: 444px;
    padding: 0 20px;
    background: #fcfcfc !important;
    margin: 0 auto 15px auto;
    position: relative;
  }

  input.login-input {
    border: none;
    background: none;
    outline: none;
    width: 400px;
    margin: 0;
    color: #444444;
    font-size: 13px;
    height: 46px;
    padding: 6px 0 2px 0px;
    position: absolute;
    z-index: 10001;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -o-text-shadow: none;
    -ms-text-shadow: none;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    &:focus {
      border: none;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none;
      background: #fcfcfc !important;
    }
  }

  .login-input-wrap {
    position: relative;
    height: 54px;
    img {
      position: absolute;
      left: 10px;
      top: 25px;
      display: none;
      width: 4px;
      height: 7px;
    }
  }

  input.login-input:focus .login-input-wrap img {
    display: block;
  }

  .login-input-ghost {
    position: absolute;
    left: 0;
    top: 19px;
    color: #b5b5b5;
    font-size: 13px;
    white-space: nowrap;
  }

  input.login-input:focus .login-input-ghost {
    display: none;
  }

  .input-hor-divider {
    height: 1px;
    border-top: 1px solid #cfd1d3;
  }

  .login-button, .fb-button {
    font-weight: 300;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    padding: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
  }

  .login-button:hover, .fb-button:hover {
    background: #3f5765;
  }

  .login-button {
    width: 444px;
    height: 62px;
    background: #fd864b;
    font-size: 16px;
    margin: 0 auto 9px auto;
    display: block;
    a {
      color: white;
      display: block;
      height: 100%;
      line-height: 65px;
    }
  }

  .password-reset {
    text-align: center;
    margin-bottom: 30px;
  }

  .social-buttons {
    font-size: 0;
    width: 370px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .fb-button {
    font-size: 11px;
    width: 100%;
    height: 46px;
    display: inline-block;
    margin: 0 2px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }

  .user-name {
    text-decoration: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .fb-button img {
    vertical-align: -2px;
    margin: 0 6px 0 0;
  }

  .fb-button {
    background: #5975b1;
  }

  .no-account {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    border-top: 1px solid #eee;
    padding-top: 19px;
  }

  /*SIGNUP*/

 #landing-form {
    margin: 0;
    padding: 0;
    display: inline;
  }

  .signup-step {
    display: inline;
  }

  .login-box.signup {
    padding: 33px 0 5px 0;
    margin-bottom: 55px;
  }

  .signup-status-container {
    width: 645px;
    padding: 43px 0 1px 0;
    margin: 0 0 55px 0;
  }

  #step3 .login-box {
    float: none;
    margin: 33px auto 55px auto;
  }

  .login-head-small.signup {
    margin: 15px 0 30px 0;
  }

  .input-wrap.signup {
    height: 54px;
  }

  .login-input-wrap {
    &.left, &.right {
      position: absolute;
    }
    &.left {
      left: 20px;
    }
    &.right {
      left: 240px;
    }
    &.left .login-input, &.right .login-input {
      width: 175px;
    }
  }

  .input-ver-divider {
    width: 1px;
    height: 53px;
    position: absolute;
    left: 217px;
    border-right: 1px solid #cfd1d3;
  }
}