@import "compass/css3";

.notifications {
  margin: 20px 0;
  .rounded-panel {
    padding: 0;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
  }
  h1 {
    font-size: 1.8em;
    border-top: 1px solid rgb(211, 211, 211);
    background-color: rgb(235, 235, 235);
    @include border-top-radius(3px);
    padding: 10px 20px;
    margin-bottom: 0;
  }
  li {
    .img {
      text-align: center;
      margin-right: 20px;
      width: 50px;
      img {
        height: 50px;
        width: auto;
      }
      display: inline-block;
    }
    .time {
      font-size: 0.7em;
      color: #aaa;
    }
    padding: 15px 20px;
    border-top: 1px solid rgb(221, 221, 221);
    &.unread {
      background-color: rgb(240, 240, 240);
    }
    &.nothing-here {
      height: 260px;
      background: url(asset-path('no-notifications-yet.png', image)) center center no-repeat;
    }
  }
}
