.onboarding {
  form {
    a.button {
      border-radius: 0;
      padding: 4px;
      height: 2em;
      line-height: 1.4em;
      border: 1px solid rgb(238, 113, 51);
      span {
        line-height: 1.5em;
        padding-right: 8px;
      }
      &:hover {
        border: 1px solid rgba(0, 0, 0, 0);
      }
    }
  }
}
