.onboarding {
  top: 40px;

  h2 {
    margin-bottom: 10px;;
  }
  
  .onboarding-progress {
  }
  
  .step {
    display: none;
  }

  .select-rating-system {
    .rating-system {
      font-size: 1.8em;
      margin: 18px;
      padding: 10px;
      text-align: center;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
      &.simple {
        i {
          margin-left: 10px;
        }
      }
      &.active {
        background-color: #f0f0f0;
      }
    }
  }
  
  .skip-this-step {
    padding-left: 10px;
    float: right;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;
    i {
      margin-left: 5px;
    }
    &:hover {
      background-color: #eee;
    }
  }
  
  .onboarding-progress {
    float: left;
  }
  
  .skip-this-step, .onboarding-progress {
    margin-top: 8px;
    padding: 8px;
    font-size: 0.8em;
    color: #9a9a9a;
    text-transform: uppercase;
  }

  a.button {
    border-radius: 0;
    padding: 4px;
    height: 2em;
    line-height: 1.4em;
    border: 1px solid rgb(238, 113, 51);
    span.right {
      line-height: 1.5em;
      padding-right: 8px;
    }
    &:hover {
      border: 1px solid rgba(0, 0, 0, 0);
    }
  }
  
  .close-reveal-modal {
    display: none;
  }
}
