// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.quote-page {
  margin-top: 0px;
}
.quote-content {
  padding: 10px;
  font-size: 16px;
}
.quote-thumb {

}
.center-column {
  padding-left: 15px !important;
  padding-right: 5px !important; 
}
.face-grid-user {
  padding: 1px !important;
}