@import "compass/css3";

.rounded-panel {
  background: #fff;
  border: none;
  @include border-radius(3px);
  @include box-shadow(rgba(0,0,0,.1) 1px 1px 3px);
  .panel-head {
    .head-title {
      margin-bottom: 10px;
      margin-top: 10px;
      display: inline-block;
    }
    .head-action {
      margin-bottom: 10px;
      margin-top: 10px;
      display: inline-block;
      float: right;
    }
  }
  .block-divider {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.default-state {
  padding-top: 20px;
  padding-bottom: 20px;
}
.tooltip {
  background: rgba(255,255,255,.95);
  width: 500px;
  max-width: none;
  text-align: left;
  font-size: 14px;
  @include box-shadow(rgba(0,0,0,.1) 1px 1px 3px);
}
.recs-left-side {
  .top-title {
    margin-top: 28px;
    margin-bottom: 0px;
  }
  .title-divider {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .single-recs {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    .single-rec {
      padding: 5px;
      .rec-thumbnail {
        position: relative;
        .wanna-watch {
          position: absolute;
          bottom: 0px;
          margin-bottom: 0px;
          opacity: 0;
          padding: 10px;
          width: 100%;
          text-align: center;
          -webkit-transition: opacity 0.2s ease-out;  
        -moz-transition: opacity 0.2s ease-out;  
        -ms-transition: opacity 0.2s ease-out;  
        -o-transition: opacity 0.2s ease-out;  
        transition: opacity 0.2s ease-out; 
        }
        &:hover {
          .wanna-watch {
            opacity: 1;
          }
        }
      }
      .title {
        margin-bottom: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .rec-image {
        @include border-radius(2px);
      }
      .not-interested {
        font-size: 12px;
        position: relative;
        top: -5px;
      }
    }
  }
}
.recs-right-side {
  margin-top: 30px;
  .filter-options {
    list-style-type: none;
    padding: 10px;
    a {
      font-size: 20px;
      color: #333333;
      display: block;
      &:hover {
        color: #fd7532;
      }
      &.active {
        color: #8f8f8f;
        opacity: .8;
      }
    }
  }
}
