// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-reviews {
  margin-top: 30px;
  .title {
    h3 {
      border-bottom: 1px solid #dddddd;
      padding: 0px 0px 10px 10px;
    }
  }
  .panel {
    img {
      padding-bottom: 8px;
      padding-top: 9px;
    }
    .vote-blocks {
      padding-right: 0;
      padding-left: 0;

      .like, .dislike {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        border-right: 1px solid #eee;
        cursor: auto;
      }

    }
  }

  .simple-rating {
    .input_hidden {
      position: absolute;
      left: -9999px;
    }

    .like {
      width: 50%;
      float: left;
      border-right: 1px solid #f2f2f2;
      padding-top: 20px;
      padding-bottom: 20px;
      strong {
        text-indent: -9999px;
        display: block;
        width: 34px;
        height: 33px;
        margin: 0 auto;
        cursor: pointer;
        background-position: left top;
        background-image: url(asset-path('icons/vote-sprite.png', image));
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-image: url(asset-path('icons/vote-sprite@2x.png', image));
          background-size: 70px 99px;
        }
        a {
          display: block;
          height: 100%;
        }
        &:hover {
          background-position: left center;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 70px 99px;
          }
        }
        &:active {
          background-position: left bottom;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 70px 99px;
          }
        }
      }
      .active {
        background-position: left bottom;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-size: 70px 99px;
        }
        &:hover {
          background-position: left bottom;
        }
      }
    }

    .dislike {
      width: 50%;
      display: block;
      float: left;
      cursor: pointer;
      padding-top: 20px;
      padding-bottom: 20px;
      strong {
        text-indent: -9999px;
        display: block;
        width: 34px;
        height: 33px;
        margin: 0 auto;
        background-position: right top;
        background-image: url(asset-path('icons/vote-sprite.png', image));
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-image: url(asset-path('icons/vote-sprite@2x.png', image));
          background-size: 70px 99px;
        }
        a {
          display: block;
          height: 100%;
        }
        &:hover {
          background-position: right center;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 70px 99px;
          }
        }
        &:active {
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 70px 99px;
          }
        }
      }
      .active {
        background-position: right bottom;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-size: 70px 99px;
        }
        &:hover {
          background-position: right bottom;
        }
      }
    }
  }

  label {
    &.active {
      .like {
        strong {
          background-position: left bottom;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 70px 99px;
          }
          &:hover {
            background-position: left bottom;
          }
        }
      }

      .dislike {
        strong {
          background-position: right bottom;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 70px 99px;
          }
          &:hover {
            background-position: right bottom;
          }
        }
      }
    }
  }
}
