// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";

.rating-diamond {
  background-size: auto 100%;
  height: 216px;
  width: 175px;
  &.score-1 {
    background-image: url(asset-path('icons/rating/rating-1.png', image));
  }
  &.score-15 {
    background-image: url(asset-path('icons/rating/rating-15.png', image));
  }
  &.score-2 {
    background-image: url(asset-path('icons/rating/rating-2.png', image));
  }
  &.score-25 {
    background-image: url(asset-path('icons/rating/rating-25.png', image));
  }
  &.score-3 {
    background-image: url(asset-path('icons/rating/rating-3.png', image));
  }
  &.score-35 {
    background-image: url(asset-path('icons/rating/rating-35.png', image));
  }
  &.score-4 {
    background-image: url(asset-path('icons/rating/rating-4.png', image));
  }
  &.score-5 {
    background-image: url(asset-path('icons/rating/rating-5.png', image));
  }
  &.score-55 {
    background-image: url(asset-path('icons/rating/rating-55.png', image));
  }
  &.score-6 {
    background-image: url(asset-path('icons/rating/rating-6.png', image));
  }
  &.score-65 {
    background-image: url(asset-path('icons/rating/rating-65.png', image));
  }
  &.score-7 {
    background-image: url(asset-path('icons/rating/rating-7.png', image));
  }
  &.score-75 {
    background-image: url(asset-path('icons/rating/rating-75.png', image));
  }
  &.score-8 {
    background-image: url(asset-path('icons/rating/rating-8.png', image));
  }
  &.score-85 {
    background-image: url(asset-path('icons/rating/rating-85.png', image));
  }
  &.score-9 {
    background-image: url(asset-path('icons/rating/rating-9.png', image));
  }
  &.score-95 {
    background-image: url(asset-path('icons/rating/rating-95.png', image));
  }
  &.score-10 {
    background-image: url(asset-path('icons/rating/rating-10.png', image));
  }
}

.review-index {
  .filters {
    ul {
      list-style: none;
      li {
        padding-bottom: 5px;
        a {
          display: block;
          background: #e1e1e1;
          padding: 5px;
          color: #222;
        }
      }
    }
  }
  .review-list {
    background: #eee;
    display: block;
    width: 100%;
    padding: 0px;
    @include border-top-radius(3px); 
    .sort {
      float: right;
      margin-top: 30px;
    }
    .review {
      border-bottom: 1px solid #d4d4d4;
      padding-bottom: 10px;
      margin-bottom: 17px;
      .anime-title {
        font-weight: bold;
        font-size: 20px;
      }

      .username {
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        padding-bottom: 10px;
        display: inline-block;
      }

      .summary {
        margin-bottom: 10px;
      }

      .thumbnail {
        padding: 0px;
      }
      .diamond-wrapper {
        border-left: 1px solid #e6e6e6;
        padding-left: 120px;
        .rating-diamond {
          height: 115px;
          width: 93px;
          float: right;
          margin-top: 0px;
        }
      }
    }
  }
}

.full-reviews {

  // Review Editor
  .redactor_editor {
    min-height: 585px;
  }

  .help-text {
    font-size: 15px !important;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .summary {
    position: relative;
    .counter {
      position: absolute;
      z-index: 999;
      bottom: 0;
      right: 10px;
      opacity: 0.2;
    }
  }

  .button {
    float: right;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  // subrating buttons
  .review-subrating {
    .subrating {
      padding: 0px 2px !important;

      input[type="radio"] {
        margin-left: -99999px;
        position: absolute;
      }

      label {
        background: darken(#eee, 5);
        display: block;
        padding: 5px;
        text-align: center;

        &:hover {
          background: #3f5765;
          color: #fff;
        }
      }

      input[type=radio]:checked + label {
        background: #fd7532;
        color: #fff;
      }
    }
  }

  // Top of Review Page
  .review-info {
    margin-top: 48px;
    padding: 0px;

    .avatar {
      text-align: center;
      width: 100%;
      display: block;
      img {
        height: 60px;
        width: 60px;
        border: 3px solid #fd7532;
        @include border-radius(100px);
      }
    }
    .username {
      text-align: center;
    }

    .anime-title {
      background-color: #fd7532;
      padding: 10px 40px;
      font-size: 20px;
      @include border-top-radius(4px);
      a {
        color: white;
        &:hover {
          color: darken(white, 20);
        }
      }
    }
  }
  .scroll-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 10px;
  }
  // Sidebar Social Buttons
  .sharing-sidebar {
    display: table-cell;
    text-align: center;
    .float-wrap {
      p {
        margin-bottom: -10px;
        color: darken(#eee, 40);
      } 
      .twitter, .facebook, .google-plus {
        display: block;
        margin-top: 10px;
        border-top: 1px solid darken(#eee, 10);
        padding-top: 10px;
      }
      .google-plus {
        border-bottom: 1px solid darken(#eee, 10);
        padding-bottom: 10px;
      }
      .rate-review {
        display: block;
        margin-top: 10px;
        .rating-thumbs {
          margin-top: 20px;
          .positive-vote {
            border-right: 1px solid darken(#eee, 10);
            a {
              color: darken(#eee, 30);
              &:hover {
                color: #3f5765;
              }
              &.active {
                color: #3f5765;
              }
            }
          }
          .negative-vote {
            a {
              color: darken(#eee, 30);
              &:hover {
                color: #3f5765;
              }
              &.active {
                color: #3f5765;
              }
            }
          }
        }
      }
    }
  }

  // Review Body
  .main-content {
    display: table-cell;
    margin-top: -40px;
    border-bottom: 1px solid darken(#eee, 30);
    margin-bottom: 40px;

    div {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
      margin-bottom: 30px;
      img {
        width: 100%;
      }
    }
  }

  // Supplemental Content
  .extra-sidebar {
    margin-top: -40px;
  }

  .review-score {
    padding: 0px;
    .eight.columns {
      margin-top: -20px;
      .summary-title {
        padding-left: 20px;
      }
    }
    .sub-ratings {
      padding: 0px;
      p {
        font-size: 9px;
      }
      li {
        list-style: none;
        text-align: center;
        border-right: 1px solid darken(#eee, 10);
        margin-top: 10px;
        &.end {
          border-right: none;
        }
      }
    }
    .rating-diamond {
      background-size: auto 100%;
      height: 216px;
      width: 175px;
      &.score-1 {
        background-image: url(asset-path('icons/rating/rating-1.png', image));
      }
      &.score-15 {
        background-image: url(asset-path('icons/rating/rating-15.png', image));
      }
      &.score-2 {
        background-image: url(asset-path('icons/rating/rating-2.png', image));
      }
      &.score-25 {
        background-image: url(asset-path('icons/rating/rating-25.png', image));
      }
      &.score-3 {
        background-image: url(asset-path('icons/rating/rating-3.png', image));
      }
      &.score-35 {
        background-image: url(asset-path('icons/rating/rating-35.png', image));
      }
      &.score-4 {
        background-image: url(asset-path('icons/rating/rating-4.png', image));
      }
      &.score-5 {
        background-image: url(asset-path('icons/rating/rating-5.png', image));
      }
      &.score-55 {
        background-image: url(asset-path('icons/rating/rating-55.png', image));
      }
      &.score-6 {
        background-image: url(asset-path('icons/rating/rating-6.png', image));
      }
      &.score-65 {
        background-image: url(asset-path('icons/rating/rating-65.png', image));
      }
      &.score-7 {
        background-image: url(asset-path('icons/rating/rating-7.png', image));
      }
      &.score-75 {
        background-image: url(asset-path('icons/rating/rating-75.png', image));
      }
      &.score-8 {
        background-image: url(asset-path('icons/rating/rating-8.png', image));
      }
      &.score-85 {
        background-image: url(asset-path('icons/rating/rating-85.png', image));
      }
      &.score-9 {
        background-image: url(asset-path('icons/rating/rating-9.png', image));
      }
      &.score-95 {
        background-image: url(asset-path('icons/rating/rating-95.png', image));
      }
      &.score-10 {
        background-image: url(asset-path('icons/rating/rating-10.png', image));
      }
    }
  }

  .new-reviews {
    margin-top: 40px;
    h3 {
      border-bottom: 1px solid darken(#eee, 30);
      padding-bottom: 10px;
    }
  }
}

.user-reviews {
  margin-top: 30px;
  .title {
    h3 {
      border-bottom: 1px solid #ebeff2;
      padding: 0px 0px 10px 10px;
    }
  }
  .panel {
    img {
      padding-bottom: 8px;
      padding-top: 0px;
    }
    .vote-blocks {
      padding-right: 0;
      padding-left: 0;

      .like, .dislike {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        border-right: 1px solid #eee;
        cursor: auto;
      }

    }
  }

  .simple-rating {
    .four {
      float: right;
    }
    .input_hidden {
      position: absolute;
      left: -9999px;
    }

    .like {
      width: 50%;
      float: left;
      border-right: 1px solid #f2f2f2;
      
      strong {
        text-indent: -9999px;
        display: block;
        width: 34px;
        height: 33px;
        margin: 0 auto;
        cursor: pointer;
        background-position: left top;
        background-image: url(asset-path('icons/vote-sprite.png', image));
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-image: url(asset-path('icons/vote-sprite@2x.png', image));
          background-size: 70px 99px;
        }
        a {
          display: block;
          height: 100%;
        }
        &:hover {
          background-position: left center;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 70px 99px;
          }
        }
        &:active {
          background-position: left bottom;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 70px 99px;
          }
        }
      }
      .active {
        background-position: left bottom;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-size: 70px 99px;
        }
        &:hover {
          background-position: left bottom;
        }
      }
    }

    .dislike {
      width: 50%;
      display: block;
      float: left;
      cursor: pointer;

      strong {
        text-indent: -9999px;
        display: block;
        width: 34px;
        height: 33px;
        margin: 0 auto;
        background-position: right top;
        background-image: url(asset-path('icons/vote-sprite.png', image));
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-image: url(asset-path('icons/vote-sprite@2x.png', image));
          background-size: 70px 99px;
        }
        a {
          display: block;
          height: 100%;
        }
        &:hover {
          background-position: right center;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 70px 99px;
          }
        }
        &:active {
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 70px 99px;
          }
        }
      }
      .active {
        background-position: right bottom;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
          background-size: 70px 99px;
        }
        &:hover {
          background-position: right bottom;
        }
      }
    }
  }

  label {
    &.active {
      .like {
        strong {
          background-position: left bottom;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 70px 99px;
          }
          &:hover {
            background-position: left bottom;
          }
        }
      }

      .dislike {
        strong {
          background-position: right bottom;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 70px 99px;
          }
          &:hover {
            background-position: right bottom;
          }
        }
      }
    }
  }

  .advanced-rating {
    .rating {
      float: right;
      &:not(:checked) {
        > {
          input {
            position: absolute;
            top: -9999px;
            clip: rect(0, 0, 0, 0);
          }
          label {
            float: right;
            width: 1em;
            padding: 0 .1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 200%;
            line-height: 1.2;
            color: #ddd;
            &:before {
              content: '★ ';
            }
          }
        }
        > label:hover {
          color: gold;
          ~ label {
            color: gold;
          }
        }
      }
      > input:checked ~ label {
        color: #f70;
      }
      > {
        input:checked {
          + label:hover, ~ label:hover {
            color: #ea0;
            ~ label {
              color: #ea0;
            }
          }
        }
        label {
          &:hover ~ input:checked ~ label {
            color: #ea0;
          }
          &:active {
            position: relative;
            top: 2px;
            left: 2px;
          }
        }
      }
    }
  }
}
