// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Search Suggestions
@import "compass/css3";
.search-body {
  background: #fff;
  @include border-bottom-radius(3px);
  .search-head {
    margin-top: 10px;
    margin-bottom: 20px;
    h2 {
      i {
        color: gray;
      }
    }
  }
  li.search-result {
    float: left;
    border-top: 1px solid #eee;
    padding-top: 17px;
    &:first-child {
      border-top: none;
    }
    .avatar {
      img {
        border-radius: 100px;
        height: 50px;
        width: 50px;
        margin-top: 10px;
      }
    }
    .forum-title {
      a {
        font-size: 20px;
      }
    }
    .forum-info {
      color: gray;
      font-size: 12px;
      p {
        margin-bottom: 0px;
      }
    }
  }
  .big-form {
    padding: 19px;
    box-shadow: none;
    border-radius: 3px;
  }
  .anime-list {
    list-style: none;
    .thumbnail {
      margin-top: 10px; 
    }
    .synopsis, .title {
      padding-left: 0px;
    }
    .search-rating {
      font-size: 20px;
    }
  }
}
.bsarocks {
  margin-top: 15px;
  a {
    width: 100%;
    height: auto;
  }
}
.twitter-typeahead {
  position: relative;
  width: 100%;
  min-width: 290px;
  display: block;
  @media (max-width: 1130px) {
    min-width: 250px;
  }
  @media (max-width: 1085px) {
    min-width: 200px;
  }
  .tt-dropdown-menu {
    position: absolute;
    z-index: 100;
    left: 0px !important;
    width: 100% !important;
    top: 66px !important;
    display: block;
    right: auto;
  }

  .tt-suggestions {
    //position: absolute;
    //top: 55px;
    //left: -51px;
    padding-left: 6px;
    padding-right: 6px;
    background: white;
    @include border-bottom-radius(3px);
    @media (max-width: 1000px) {
      left: -30px;
      width: 110%;
    }

    .tt-suggestion {
      float: none;
      border-bottom: 1px solid #eee !important;
      width: 100%;
      height: auto !important;

      p {
        padding-top: 15px;
      }
    }

    li:last-child {
      border-bottom: none !important;
    }

    .tt-is-under-cursor {
      color: #fd7532;
      cursor: pointer;
    }
  }
}
