// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Search Suggestions
@import "compass/css3";
.search-body, .follow-following {
  background: #fff;
  @include border-bottom-radius(3px);
  .search-head {
    margin-top: 10px;
    margin-bottom: 20px;
    h2 {
      i {
        color: gray;
      }
    }
  }
  li.search-result {
    float: left;
    border-top: 1px solid #eee;
    padding-bottom: 10px;
    padding-top: 10px;

    &:first-child {
      border-top: none;
    }
    p {
      margin-bottom: 0px;
    }
    .avatar {
      img {
        @include border-radius(100px);
        height: 50px;
        width: 50px;
        margin-top: 10px;
      }
    }
    .forum-title {
      a {
        font-size: 20px;
      }
    }
    .forum-info {
      color: gray;
      font-size: 12px;
      p {
        margin-bottom: 0px;
      }
    }
    .user-avatar {
      img {
        margin-top: 8px;
        @include border-radius(3px);
      }
    }
  }
  .big-form {
    height: 40px;
    box-shadow: none;
    border-radius: 3px;
  }
  .anime-list {
    list-style: none;
    li {
      float: left;
      padding-top: 10px;
      border-bottom: 1px solid #eee;
      width: 100%;
    }
    .user-avatar {
      margin-top: 7px;
    }

    .thumbnail {
      margin-top: 10px; 
    }
    .synopsis {
      p {
        min-width: 400px;
        @media (max-width: 800px) {
          min-width: 330px;
        }
      }
    }
    .synopsis, .title {
      padding-left: 0px;
    }
    .search-rating {
      font-size: 20px;
    }
  }
}
.bsarocks {
  margin-top: 15px;
  a {
    width: 100%;
    height: auto;
  }
}
.twitter-typeahead {
  position: relative;
  width: 100%;
  // min-width: 410px;
  display: block;
  // @media (max-width: 1140px) {
  //   min-width: 360px;
  // }
  // @media (max-width: 1085px) {
  //   min-width: 300px;
  // }
  // @media (max-width: 1030px) {
  //   min-width: 240px;
  // }
  // @media (max-width: 960px) {
  //   min-width: 200px;
  // }

  .tt-dropdown-menu {
    position: absolute;
    z-index: 100;
    left: 0px !important;
    width: 100% !important;
    top: 61px !important;
    display: block;
    right: auto;
  }

  .tt-suggestions {
    //position: absolute;
    //top: 55px;
    //left: -51px;
    background: white;
    @include border-bottom-radius(3px);
    @media (max-width: 1000px) {
      left: -30px;
      width: 110%;
    }
    border: 1px solid #e0e0e0 !important;

    .tt-suggestion {
      float: none;
      border-bottom: 1px solid #eee !important;
      width: 100%;
      height: auto !important;
      padding-left: 6px;
      padding-right: 6px;

      p {
        padding-top: 8px;
        margin-bottom: 8px;
      }
    }

    li:last-child {
      border-bottom: none !important;
    }

    .tt-is-under-cursor {
      color: #fd7532;
      cursor: pointer;
    }
  }
}
