.status-bar {
  display: none;

  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  right: 0;
  background-color: rgba(72, 72, 72, 0.9);
  
  p {
    text-shadow: 0 0 2px #000;
    margin-bottom: 0;
    color: #fff;
    a {
      font-weight: bold;
    }
  }
}
