table.tableSorter th div.sortArrow {
	width: 11px;
	height: 6px;
	display: inline-block;
	margin-left: 5px;
	vertical-align: 2px;
	position: relative;
}

table.tableSorter th div.sortArrow div.sortArrowAscending,
table.tableSorter th div.sortArrow div.sortArrowDescending {
	position: absolute;
	display: none;
	width: 11px;
	height: 6px;
}

table.tableSorter th div.sortArrow div.sortArrowAscending {
	background: url('arrow_asc.png');
}

table.tableSorter th div.sortArrow div.sortArrowDescending {
	background: url('arrow_desc.png') no-repeat;
}