.upcoming-shows {
  margin-top: 30px;
  ul.seasons {
    margin-bottom: 40px;
    text-align: center;
    li {
      display: inline;
      font-size: 1.6em;
      a {
        display: inline;
      }
    }
  }
}
