@import "compass/css3";
@import "compass/utilities";

.dashboard {
  margin-top: 23px;
  .profile-bar {
    position: absolute;
    top: 50px;
    left: 0px;
    text-align: center;
    @include clearfix();

    .user-block {
      margin-top: 30px;
      color: #fff;
      .user-avatar {
        display: inline-block;
        position: relative;

        img {
          width: 100px;
          height: 100px;
          border: 4px solid rgba(255,255,255,0.2);
          @include border-radius(100px);
        } 

        .karma-circle {
          position: absolute;
          top: -10px;
          right: -60px;
          padding: 5px;
          height: 60px;
          width: 60px;
          border: 1px solid rgba(255,255,255,0.2);
          @include border-radius(100px);


          .karma {
            text-align: center;
            color: #fff;
            margin-top: 10px;
          }

          .karma-title {
            text-align: center;
            color: #fff;
          }
        }
      }

      .username {
        padding-bottom: 10px;
        padding-top: 5px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-top: 1px solid rgba(255,255,255,0.2);
        border-bottom: 1px solid rgba(255,255,255,0.2);
        color: #fff;
      }

      hr {
        width: 50%;
        margin: 0 auto;
        opacity: 0.2;
        margin-bottom: 15px;
      }
    }

    .user-information {
      width: 50%;
      height: 155px;
      float: left;
      margin-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-right: 1px solid #eeeeee;
      @include clearfix;
      p {
        margin-bottom: 0;
        line-height: 1.5;
      }


      .anime-life {
        border-top: 1px solid #eee;
        padding-top: 10px;
        margin-top: 10px;
      }


    }
  }

  .genre-graph {
    margin-top: 10px;
    display: block;
    height: 155px;
    float: left;
    width: 34%;
    @media (max-width: 1000px) {
      display: none;
    }

    .genres {
      margin: 0 auto;
      @include clearfix();
    }

    .title {
      display: block;
      text-align: center;
      margin-bottom: 15px;
      width: 100%;
    }

    .graphs {
      text-align: center;
      .chart {
        display: inline-block;

        .label {
          background: none;
          display: block;
          margin-top: 10px;
          color: #000;
        }
      }
    }
  }

  .profile-bar-subnav {
    background: #f4f4f4;
    height: 50px;
    width: 100%;
    border-left: solid 1px #e6e6e6;
    border-right: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    margin-top: -23px;
    padding-right: 20px;
    @media (max-width: 480px) {
      padding-right: 0px;
      border-right: none;
      height: 100%;
    }
    .wrapper {
      text-align: center;
    }

    .sub-nav {
      display: inline-block;
      margin: 0;
      padding: 0;
      height: 100%;

      li {
        width: 200px;
        height: 100%;
        text-align: center;
        border-right: solid 1px #e6e6e6;
        margin: 0;
        padding: 0;

        &:first-child {
          border-left: solid 1px #e6e6e6;
        }

        &.active {
          border-bottom: 1px solid #eee;
          background: #eee;
          a {
            font-weight: normal;
            background: none;
          }
        }

        a {
          color: #000;
          height: 100%;
          width: 100%;
          display: block;
          padding-top: 15px;
          padding-bottom: 10px;
        }
      }
    }
  }

  .account-settings {
    h3 {
      margin-top: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #dadada;
      padding-bottom: 20px;
    }
    img {
      @include border-radius(100px);
    }
  }
}
