// Place all the styles related to the watchlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";
.user-watchlist {
  position: relative;
  margin-bottom: 30px;
  .sidebar {
    padding: 0px;
    position: absolute;
    background: #383735;
    border-right: 1px solid #383735;
    top: 0;
    bottom: 0;
    @include border-bottom-left-radius(3px);
    
    .avatar {
      padding: 0px;
      font-size: 12px;
      color: #fff;
      .karma, .last-seen {
        background: #000;
        background: rgba(0,0,0,.5);
        padding: 5px;
      }
      .karma {
        position: absolute;
        top: 0;
        right: 0;
        @include border-bottom-left-radius(2px);
      }
      .last-seen {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 8px;
      }
      .avatar-image {
        padding: 0px;
        width: 100%;
        border-bottom: 6px solid #fd864b;
      }
    }
    .user-block {
      background: #292929;
      padding: 10px;
      padding-top: 0px;
      .username {
        margin: 0px;
        color: #fff;
      }
      .waifu {
        font-size: 14px;
        color: #9e9e9e;
      }
    }
    .user-links {
      padding: 0px;
      ul {
        list-style: none;
        li {
          border-top: 1px solid #474541;
          a {
            color: #aeaeae;
            padding: 10px;
            display: block;
            &:hover {
              color: #fd864b;
            }
          }
          &:last-child {
            border-bottom: 1px solid #474541;
          }
        }
      }
    }
  }
  .main-content {
    padding: 0px;
    @include border-bottom-right-radius(3px);
    .cover-photo {
      padding: 0px;
      height: 250px;
      background-size: cover;
      .cover-photo-shadow {
        background: url(asset-path('cover-shadow.png', image)) bottom left repeat-x;
        height: 250px;
        position: relative;
        .anime-time {
          position: absolute;
          bottom: 7px;
          left: 11px;
          padding: 0px;
          .anime-time-info {
            color: #fff;
            font-size: 16px;
            font-family: "omnes-pro",sans-serif;
            margin: 0px;
          }
        }
        .cover-buttons {
          position: absolute;
          bottom: 13px;
          right: 6px;
          padding: 0px;
          text-align: right;
          .line-button {
            &.compare {
              margin-right: 3px;
            } 
            a {
              font-size: 12px;
              color: white;
              border: 1px solid;
              border-radius: 3px;
              padding: 5px 15px;
              &:hover {
                color: #fd864b;
              }
            }
          }
        }
      }
    }
    .watchlist-option-bar {
      font-size: 12px;
      background: #f7f6f6;
      border-bottom: 1px solid #e4e4e4;
      padding-right: 0px;
      .option-title {
        margin-top: 10px;
        margin-bottom: 0px;
      }
      .options {
        padding: 0px;

        ul {
          text-align: center;
          margin-bottom: 0px;
          display: inline-block;
          float: right;
          li {
            border-left: 1px solid #e4e4e4;
            margin-left: 0px;
            &.active {
              border-bottom: 2px solid #fd864b;
            }
            a {
              display: block;
              color: #919191;
              padding: 10px;
              padding-left: 15px;
              padding-right: 15px;
              &:hover {
                color: #fd864b;
              }
            }
          }
        }
      }
    }
    .library-status-header {
      text-align: center;
      background: #fafafa;
      border-bottom: 2px solid #f1f1f1;
      .status {
        margin: 0px;
        padding: 10px;
        color: #908f8f;
      }
    }
    .fake-table-row {
      margin-bottom: 0px;
      border-left: none;
      border-right: none;
      border-top: none;
      padding: 0px;
      border-collapse: collapse;
      a {
        color: #5c5c5c;
        &:hover {
          color: #fd864b;
        }
      }
      th {
        background: #fff;
        border-bottom: 1px solid #f1f1f1;
        a {
          color: #c1c1c1;
          font-family: "omnes-pro",sans-serif;
          font-weight: 500;
          font-size: 16px;
          &.active {
            color: #fd864b;
          }
          &:hover {
            color: #fd864b;
          }
        }
      }

      // Force firefox to play nicely with relative positioning.
      .relative-wrapper {
        position: relative;
      }

      // Change background color of entire row as we hover
      tr:hover td { 
        background: darken(#fff, 1);
      }

      tr td {
        background-color: #fff;
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 10px;
        padding-top: 10px;
      }

      .private-indicator {
        display: none;
        color: #bdbcbc;
      }

      &.private {
        .private-indicator {
          display: inline-block;
        }
      }
      &.library-item {
        .episode-count {
          position: relative;
          .click-add {
            position: absolute;
            bottom: 5px;
            left: -5px;
            padding-left: 5px;
            padding-right: 5px;
            &:hover {
              color: #fd864b;
            }
          }
          .click-remove {
            position: absolute;
            top: 5px;
            left: -5px;
            padding-left: 5px;
            padding-right: 5px;
            &:hover {
              color: #fd864b;
            }
          }
          .edit {
            cursor: pointer;
            margin-left: 15px;
            &:hover {
              color: #fd864b;
            }
          }
        }
        form {
          display: inline;
          input {
            width: 25px !important;
          }
        }
        .library-item-title {
          cursor: pointer;
          position: relative;
          .icon-reorder {
            position: absolute;
            right: 5px;
            color: #bdbcbc;
            display: none;
          }
          &:hover {
            .icon-reorder {
              display: inline-block;
            }
          }
        }
      }  
    }
    .library-dropdown {
      background: #fafafa;
      border-bottom: 1px solid #f1f1f1;
      padding: 10px;

      .meta-content {
        padding: 0px;
        .last-update {
          padding: 0px;
          font-size: 14px;
          color: #bebebe;
          margin-bottom: 5px;
          margin-top: -5px;
          p {
            margin-bottom: 0px;
          }
        }
        .thumbnail {
          padding: 0px;
        }
        .library-item-info {
          .title {
            margin: 0px;
            font-family: "omnes-pro",sans-serif;
            font-size: 20px;
            line-height: 0;
          }
          .rating {
            margin-top: 5px;
            margin-bottom: 5px;
          }
          .description {
            font-size: 14px;
          }
          .description-link {
            font-size: 12px;
          }
        }
      }
      .action-area {
        background: #f5f5f5;
        padding-left: 10px;
        padding-right: 10px;
        @include border-radius(5px);
        .library-status, .privacy-setting, .review-option, .remove-from-library {
          padding-left: 0px;
          padding-right: 0px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #eeeeee;
          .option-label {
            padding-top: 10px;
            padding-left: 0px;
            font-size: 15px;
          }
          .status-dropdown, .privacy-dropdown {
            padding: 0px;
            padding-left: 10px;
            .custom {
              margin-bottom: 0px;
            }
          }
          .review-button {
            background: #fd864b;
            @include border-radius(5px);
            a {
              font-family: "omnes-pro",sans-serif;
              font-size: 12px;
              color: #fff;
            }
          }
        }
        .remove-from-library {
          border-bottom: none;
          .icon-remove {
            color: #e54242;
          }
          a {
            color: #e54242;
            font-size: 13px;
            &:hover {
              color: darken(#e54242, 10);
            }
          }
        }
      }
    }
  }
  .adzone {
    .advert {
      margin-top: 15px;
    }
  }
}
// .user-banner {
//   margin-top: 15px;
//   figure {
//     height: 350px;
//     margin-top: -15px;
//     overflow: hidden;
//     position: relative;
//     width: 100%;
//     margin-left: 0px;

//     .overlay {
//       position: absolute;
//       top: 0px;
//       right: 0px;
//       bottom: 0px;
//       left: 0px;
//       text-align: center;
//       color: #fff;
//       @include opacity(0.80);
//       @include border-top-radius(3px);
//       @include background-image(linear-gradient(left top, #000, #000));
//     }
//     .img-background {
//       // background: url("http://f.cl.ly/items/210V0x213m2S3T1Z2W0g/bg.jpg") no-repeat center center;
//       background-size: cover;
//       height: 350px;
//     }
//   }
// }

// .user-watchlist {
  
//   .sub-nav {
//     background: #f4f4f4;
//     border-left: 1px solid #e6e6e6;
//     margin-left: 0;
//     margin-top: 30px;
//     margin-bottom: 0px;
//     display: inline-block;

//     li {
//       line-height: 45px;
//       margin: 0;
//       border-right: 1px solid #e6e6e6;
//       text-align: center;

//       a {
//         padding-left: 20px;
//         padding-right: 20px;
//         border-bottom: 1px solid #e6e6e6;
//       }

//       &.active {
//         a {
//           font-weight: normal;
//           background: #eee;
//           color: #000;
//           border-bottom: 1px solid #eee;
//         }
//       }
//     }
//   }

//   .view {
//     margin-left: 0;
//     margin-top: 30px;
//     margin-bottom: 0px;
//     display: inline-block;
//     float: right;

//     li {
//       line-height: 45px;
//       margin: 0;
//       text-align: center;
//       border-right: 1px solid #e6e6e6;

//       &:last-child {
//         border-right: none;
//       }

//       a {
//         color: #000;
//         opacity: 0.4;
//         padding-left: 10px;
//         padding-right: 10px;
//         &:hover {
//           opacity: 1;
//         }
//       }


//       &.active {
//         a {
//           font-weight: normal;
//           background: #eee;
//           color: #000;
//           opacity: 1;
//           cursor: default;
//         }
//       }
//     }
//   }

//   .table-head {
//     height: 30px; 
//     padding-top: 10px;
//     text-align: center;
//   }
//   .score, .type, .progress, .review, .update {
//     text-align: center;
//   }
//   .score {
//     i {
//       margin-right: 5px;
//     }
//   }

//   h3 {
//     border-bottom: 1px solid #dddddd;
//     padding: 0px 0px 10px 10px;
//   }

//   .anime-grid {
//     padding-top: 0px;
//   }

//   .recent {
//     figure {
//       height: 200px;
//       @include border-top-radius(3px);

//       .overlay {
//         display: block;

//         h4 {
//           color: white;
//           margin-bottom: 0px;
//         }

//         .seen-count {
//           border-bottom: 1px solid white;
//           border-bottom: 1px solid rgba(255,255,255,.2);
//           padding-bottom: 10px;
//           span {
//             font-weight: 700px;
//           }
//         }

//         .poster {
//           img {
//             width: 85%;
//             margin-top: 11px;
//             float: left;
//             @include border-radius(3px);
//           }
//         }

//         .title-info {
//           margin-top: 20px;
//           p {
//             margin-bottom: 0px;
//           }
//           .vote-blocks {

//             .like {
//               border-right: 1px solid white;
//               border-right: 1px solid rgba(255,255,255,.2);
//             }
//           }
//         }
//       }

//       .background {
//         width: 100%;
//         height: auto;
//         float: left;
//         margin-top: -30%;
//         @include border-top-radius(3px); 
//       }
//     }
//   }
  

//   .episode-list {
//     .episode {
//       display: block;
//       overflow: hidden;
//       border-bottom: 1px solid #ececec;

//       .episode-number {
//         font-size: 17px;
//         padding-top: 15px;
//         text-transform: uppercase;
//         color: #d4d4d4;
//       }

//       .episode-title {
//         font-size: 20px;
//         line-height: 20px;
//         padding-bottom: 15px;
//       }

//       .title {
//         border-right: 1px solid #eee;
//       }

//       .view-button {
//         text-indent: -9999px;
//         display: block;
//         width: 30px;
//         height: 17px;
//         margin-right: 15px;
//         margin-top: 30px;
//         cursor: pointer;
//         position: relative;
//         background-position: bottom;
//         background-image: url(asset-path('icons/watch-sprite.png', image));
//         background-repeat: no-repeat;
//         @media (max-width: 768px) {
//           width: 30px !important;
//           float: right;
//           position: relative;
//           top: -50px;
//         }

//         @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
//           background-image: url(asset-path('icons/watch-sprite@2x.png', image));
//           background-size: 30px 51px;
//         }

//         &:hover {
//           background-position: center;
//           @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
//             background-size: 30px 51px;
//           }
//         }

//         &:active {
//           background-position: top;
//           @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
//             background-size: 30px 51px;
//           }
//         }

//         strong {
//           a {
//             position: absolute;
//             top: 0;
//             bottom: 0;
//             left: 0;
//             right: 0;
//           }
//         }
//       }

//       &.active {
//         color: #d4d4d4;
//         .view-button {
//           background-position: top;
//           @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
//             background-size: 30px 50px;
//         }
//       }

//       &:hover {
//           background-position: bottom;
//         }
//       }
//     }

//     footer {
//       padding-top: 20px;
//       padding-bottom: 20px;
//       text-align: center;
//     }
//   }
// }
