// Place all the styles related to the watchlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";
.error {
  border-color: #1ABC9C !important;
  background: #1ABC9C !important;
}
.follow-button {
  line-height: 30px !important; 
  padding: 0px !important; 
  margin-top: 10px; 
  margin-left: 0px;
  margin-right: 0px;
  font-size: 12px;
}
.user-watchlist {
  position: relative;
  margin-bottom: 30px;

  .f-dropdown {
    border-radius: 3px;
    width: 200px;
    padding: 0px;
    border: none;
    color: #222;
    .upload {
      .file-upload {
        width: 200px;
        height: 35px;
        padding-top: 10px;
        position: relative;
        overflow: hidden;
        background: none;
        input {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          opacity: 0.0;
          filter: alpha(opacity=0);
          font-size: 300px;
          height: 200px;
        }
      }
      &:hover {
        background: none;
        color: #fd864b;
      }
    }
    .help {
      color: darken(#fff, 25);
      font-size: 12px;
      padding-top: 5px; 
      text-align: center;
      cursor: default;
      border-bottom: 1px solid #f1f1f1; 
      &:hover {
        background: none;
      }
    }
  }

  .sidebar {
    padding: 0px;
    position: absolute;
    background: #383735;
    top: 0;
    bottom: 0;
    @include border-bottom-left-radius(3px);

    .avatar {
      padding: 0px;
      font-size: 12px;
      color: #fff;
      .karma, .last-seen {
        background: #000;
        background: rgba(0,0,0,.5);
        padding: 5px;
      }
      .karma {
        position: absolute;
        top: 0;
        right: 0;
        @include border-bottom-left-radius(2px);
      }
      .last-seen {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
      }
      .avatar-upload-button {
        background: #fff;
        background: rgba(255,255,255,.5);
        display: inline-block;
        position: absolute;
        bottom: 5px;
        left: 5px;
        z-index: 99999;
        -moz-transition: all .9s ease;
        -webkit-transition: all .9s ease;
        -o-transition: all .9s ease;
        transition: all .9s ease;
        @include border-radius(2px);
        a {
          color: #222;
          padding: 6px 10px;
          display: block;
        }
        &:hover {
          background: #fff;
        }
        &:hover + .avatar-image {
          filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
          filter: gray; /* IE6-9 */
          -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
        }
      }
      .avatar-image {
        padding: 0px;
        width: 100%;
        margin-bottom: -2px;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(0%);
        -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
        -webkit-backface-visibility: hidden; /* Fix for transition flickering */
      }
    }
    .user-block {
      border-top: 6px solid #fd864b;
      background: #292929;
      padding: 10px;
      padding-top: 0px;
      .username {
        margin: 0px;
        color: #fff;
      }
      .waifu {
        font-size: 14px;
        color: #9e9e9e;
      }
    }
    .user-links {
      padding: 0px;
      ul {
        list-style: none;
        li {
          border-top: 1px solid #474541;
          position: relative;

          .sidebar-number {
            position: absolute;
            right: 10px;
            font-size: 12px;
            padding: 0px 10px;
            opacity: .6;
            border: 1px solid #aeaeae;
            top: 15px;
            color: #aeaeae;
            @include border-radius(100px);
          }

          a {
            color: #aeaeae;
            padding: 10px;
            display: block;
            &:hover {
              color: #fd864b;
            }
          }
          &.active {
            a {
              color: #fd864b;
            }
          }
          &:last-child {
            border-bottom: 1px solid #474541;
          }
        }
      }
    }
  }
  .main-content {
    padding: 0px;
    background: #fff;
    min-height: 620px;
    @include border-bottom-right-radius(3px);
    .cover-photo {
      padding: 0px;
      height: 250px;
      background-size: cover;
      @media (max-width: 480px) {
        height: 200px;
      }
      &.own-profile {
        @media (max-width: 480px) {
          height: 150px;
        }
      }
      .mobile-header {
        position: absolute;
        z-index: 999;
        text-align: center;
        margin-top: 20px;
        h3 {
          color: #fff;
        }
        .mobile-avatar {
          margin: 0 auto;
          width: 70px;
          height: 70px;
          @include border-radius(100px);
        }
        .mobile-navigation {
          margin-top: 50px;
          .button {
            background: #fff;
            color: #222;
            &:before {
              border-color: #222 transparent transparent transparent;
            }
          }
        }
      }
      .cover-buttons {
        padding: 0px;
        text-align: center;
        .line-button {
          &.compare {
            margin-right: 3px;
          } 
          a {
            font-size: 12px;
            color: white;
            border: 1px solid;
            border-radius: 3px;
            padding: 5px 15px;
            &:hover {
              color: #fd864b;
            }
          }
        }
      }
      .cover-upload-button {
        background: #fff;
        background: rgba(255,255,255,.5);
        display: inline-block;
        position: absolute;
        top: 7px;
        right: 7px;
        font-size: 12px;
        z-index: 99999;
        -moz-transition: all .9s ease;
        -webkit-transition: all .9s ease;
        -o-transition: all .9s ease;
        transition: all .9s ease;
        @include border-radius(2px);
        a {
          color: #222;
          padding: 6px 10px;
          display: block;
        }
        &:hover {
          background: #fff;
        }
        &:hover + .cover-image {
          filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
          filter: gray; /* IE6-9 */
          -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
        }
      }
      .cover-image {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(0%);
        -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
        -webkit-backface-visibility: hidden; /* Fix for transition flickering */
        position: absolute;
        width: 100%;
        min-height: 250px;
      }
      .cover-photo-shadow {
        background: url(asset-path('cover-shadow.png', image)) bottom left repeat-x;
        height: 250px;
        position: relative;
        @media (max-width: 767px) {
          background: rgba(0,0,0,.7);
        }
        .anime-time {
          position: absolute;
          bottom: 7px;
          left: 11px;
          padding: 0px;
          .anime-time-info {
            color: #fff;
            font-size: 16px;
            font-family: "omnes-pro",sans-serif;
            margin: 0px;
          }
        }
        .cover-buttons {
          position: absolute;
          bottom: 13px;
          right: 6px;
          padding: 0px;
          text-align: right;
          @media (max-width: 480px) {
            bottom: 95px;
            right: 58px;
          }
          .line-button {
            &.compare {
              margin-right: 3px;
            } 
            a {
              font-size: 12px;
              color: white;
              border: 1px solid;
              border-radius: 3px;
              padding: 5px 15px;
              &:hover {
                color: #fd864b;
              }
            }
          }
        }
      }
    }
  
    .library-status-header {
      text-align: center;
      background: #fafafa;
      border-bottom: 2px solid #f1f1f1;
      .status {
        margin: 0px;
        padding: 10px;
        color: #908f8f;
      }
    }
    .fake-table-row {
      margin-bottom: 0px;
      border-left: none;
      border-right: none;
      border-top: none;
      padding: 0px;
      border-collapse: collapse;
      a {
        color: #5c5c5c;
        cursor: pointer;
        &:hover {
          color: #fd864b;
        }
      }
      th {
        background: #fff;
        border-bottom: 1px solid #f1f1f1;
        a {
          color: #c1c1c1;
          font-family: "omnes-pro",sans-serif;
          font-weight: 500;
          font-size: 16px;
          &.active {
            color: #fd864b;
          }
          &:hover {
            color: #fd864b;
          }
        }
      }

      // Force firefox to play nicely with relative positioning.
      .relative-wrapper {
        position: relative;
        .click-add, .click-remove {
          opacity: .4;
        }
      }

      // Change background color of entire row as we hover
      tr:hover td { 
        background: darken(#fff, 1);
      }

      tr td {
        background-color: #fff;
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 10px;
        padding-top: 10px;
      }

      .item-indicator {
        display: inline-block;
        color: #5c5c5c;
      }
      
      .airing-status {
        opacity: 0.8;
      }

      &.private {
        .private-indicator {
          display: inline-block;
        }
      }
      &.library-item {

        // ternary icon styles

        // smiley icon
        .positive-smiley {
          text-indent: -9999px;
          display: block;
          width: 20px;
          height: 20px;
          margin: 0 auto;
          position: relative;
          left: -5px;
          background-position: left top;
          background-image: url(asset-path('icons/vote-sprite.png', image));
          background-size: 60px 60px;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url(asset-path('icons/vote-sprite@2x.png', image));
            background-size: 60px 60px;
          }
          a {
            display: block;
            height: 100%;
          }
        }

        // neutral smiley
        .neutral-smiley {
          text-indent: -9999px;
          display: block;
          width: 20px;
          height: 20px;
          margin: 0 auto;
          position: relative;
          left: -5px;
          background-position: center top;
          background-image: url(asset-path('icons/vote-sprite.png', image));
          background-size: 60px 60px;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url(asset-path('icons/vote-sprite@2x.png', image));
            background-size: 60px 60px;
          }
          a {
            display: block;
            height: 100%;
          }
        }

        .negative-smiley {
          text-indent: -9999px;
          display: block;
          width: 20px;
          height: 20px;
          margin: 0 auto;
          position: relative;
          left: -5px;
          background-position: right top;
          background-image: url(asset-path('icons/vote-sprite.png', image));
          background-size: 60px 60px;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url(asset-path('icons/vote-sprite@2x.png', image));
            background-size: 60px 60px;
          }
          a {
            display: block;
            height: 100%;
          }
        }

        // ternary styles for dropdown rating
        .rating {

          // smiley icon
          .positive-smiley {
            display: inline-block;
            margin-left: 5px;
            cursor: pointer;
            
            &:hover {
              background-position: left center;
              background-size: 60px 60px;
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
                background-size: 60px 60px;
              }
            }
            &:active {
              background-position: left bottom;
              background-size: 60px 60px;
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
                background-size: 60px 60px;
              }
            }
          }

          strong .positive-smiley {
            background-position: left bottom;
            background-size: 60px 60px;
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
              background-size: 60px 60px;
            }
            &:hover {
              background-position: left bottom;
            }
          }

          // neutral smiley
          .neutral-smiley {
            display: inline-block;
            margin-left: 10px;
            cursor: pointer;
            &:hover {
              background-position: center center;
              background-size: 60px 60px;
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
                background-size: 60px 60px;
              }
            }
            &:active {
              background-position: center bottom;
              background-size: 60px 60px;
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
                background-size: 60px 60px;
              }
            }
          }

          strong .neutral-smiley {
            background-position: center bottom;
            background-size: 60px 60px;
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
              background-size: 60px 60px;
            }
            &:hover {
              background-position: center bottom;
            }
          }

          .negative-smiley {
            display: inline-block;
            margin-left: 10px;
            cursor: pointer;
            &:hover {
              background-position: right center;
              background-size: 60px 60px;
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
                background-size: 60px 60px;
              }
            }
            &:active {
              background-size: 60px 60px;
              @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
                background-size: 60px 60px;
              }
            }
          }
        }

        strong .negative-smiley {
          background-position: right bottom;
          background-size: 60px 60px;
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-size: 60px 60px;
          }
          &:hover {
            background-position: right bottom;
            background-size: 60px 60px;
          }
        }

        .unknown-smiley {
          text-align: center;
          text-indent: -11px;
          font-size: 20px;
          display: block;
          color: #cecece;
        }
        .hide-small {
          @media (max-width: 480px) {
            display: none;
          }
        }
        .show-type {
          text-align: center;
        }
        .episode-count {
          // FIXME Josh! These styles shouldn't be applied to smaller sizes.
          .increment, .viewed-episodes, .out-of, .total-episodes {
            display: block;
            float: left;
          }
          .increment        { width: 14px; text-align: left; }
          .viewed-episodes  { width: 25px; text-align: center; }
          .out-of           { width: 12px; text-align: center; }
          .total-episodes   { width: 25px; text-align: right; }
        }

        .library-item-title {
          cursor: pointer;
          .icon-reorder {
            position: absolute;
            right: 5px;
            color: #bdbcbc;
            display: none;
          }
          &:hover {
            .icon-reorder {
              display: inline-block;
            }
          }
        }
      }  
    }
    .library-dropdown {
      td {
        // FIXME Josh!!
        background: linear-gradient(to bottom, #f4f4f4, #fafafa 6%, #fafafa 92%, #f3f3f3) !important;
      }
      border-bottom: 1px solid #f1f1f1;
      padding: 10px;

      .meta-content {
        padding: 0px;
        .last-update {
          padding: 0px;
          font-size: 12px;
          color: #777;
          margin-bottom: 5px;
          margin-top: -5px;
          p {
            margin-bottom: 0px;
          }
        }
        .thumbnail {
          padding: 0px;
        }
        .library-item-info {
          margin-top: 5px;
          .title {
            margin: 0px;
            font-family: "omnes-pro",sans-serif;
            font-size: 20px;
            line-height: 0;
          }
          .rating {
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .description {
            font-size: 14px;
            line-height: 18px;
            color: #5c5c5c;
          }
          .description-link {
            font-size: 12px;
            margin-left: 5px;
          }
        }
      }
      .action-area {
        background: #f5f5f5;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        @include border-radius(5px);
        .opacity-wrapper {
          &.updating {
            opacity: .2;
          }
          .library-status, .privacy-setting, .episodes-watched, .remove-from-library {
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #eeeeee;
            .option-label {
              padding-top: 10px;
              padding-left: 0px;
              font-size: 15px;
            }
            .status-dropdown, .privacy-dropdown {
              padding: 0px;
              padding-left: 10px;
              .custom {
                margin-bottom: 0px;
              }
            }
          }
          .episodes-watched {
            .episode-input {
              padding-right: 0px;
              input {
                margin-bottom: 0px;
              }
            }
            .episode-count {
              padding-left: 0px;
            }
          }
          .remove-from-library {
            border-bottom: none;
            .icon-remove {
              color: #e54242;
            }
            a {
              color: #e54242;
              font-size: 13px;
              &:hover {
                color: darken(#e54242, 10);
              }
            }
          }
        }
        .updating-icon {
          position: absolute;
          color: #5c5c5c;
          font-size: 30px;
          z-index: 999999;
          left: 45%;
          top: 35%;
        }
      }
    }
  }
  .note-title {
    margin-bottom: 0px;
    position: relative;
    top: 15px;
    color: #222;
  }
  .personal-notes {
    margin-top: 10px;
    box-shadow: none;
    margin-bottom: 0px;
    font-size: 16px;
    border-radius: 3px;
  }
  .adzone {
    margin-top: 15px;
  }
}
