//%pre= @review.to_yaml
.anime-discover.full-reviews
  .row.content-body
    .review-info.three.columns
      %span.anime-title <a href="#">Eden of The East</a> Review
      %span.avatar= image_tag "http://localhost:3000/system/2907de69275fbdf37105b0c1de09dc15b63b20cc_thumb.jpg?1362250113"

    .main-content.six.columns
      .title.twelve-columns
        %h1 Welcome to the Jungle
    .extra-sidebar.three.columns
      %span ads and shit here

