<style>
  .series-header:nth-of-type(1) {
    display: none;
  }
  .anime-page-advert {
    display: none;
  }
</style>
<div class="series-header episode-show">
  <div class="bg-image-wrapper series" style="background-image: url('/uploads/anime/cover_images/000/007/442/thumb/412660.jpg?1408891459'); background-position: 50% -0px;" data-bindattr-772="772"></div>
  {{!-- <div class="bg-image-wrapper series" {{bind-attr style=coverImageStyle}}></div> --}}
  <div class="container">
    <div class="episode-wrapper">
      <iframe width="512" height="288" src="http://www.hulu.com/embed.html?eid=dgvdovwybl7uxv7s3nuxza" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="container">
  <div class="episode-summary">
    <h3>Attack on Titan <span class="episode-title">- To You, in 2000 Years -- The Fall of Shiganshina, Part 1</span></h3>
  </div>
</div>
