- content_for(:content) do
  .row
    .large-2.columns.sidebar
      %ul
        - %w[ anime forum-posts users ].each do |t|
          %li{:class => ("active" if @search_type == t)}
            = link_to t.titleize, search_path(type: t, query: params[:query])

    .large-10.columns
      = yield

= render :template => 'layouts/application'
